extends layout
block content
    include templates
    #window
        .container-fluid(style="display:none")
            .col-xs-2
                include ./tabLinks
            .col-xs-10
                .tab-content
                    #tabConfiguration.well.tab-pane.active
                        .row.form-horizontal
                            .form-group.clearfix
                                h4.col-sm-2.control-label
                                    | Point Name
                                .col-sm-10
                                    .form-inline
                                        input#pointName1.form-control.input-md(required, disabled="disabled", type="text", placeholder="Point1", style="width:20%")
                                        input#pointName2.form-control.input-md(required, disabled="disabled", type="text", placeholder="Point2", style="width:20%")
                                        input#pointName3.form-control.input-md(type="text", disabled="disabled", placeholder="Point3", style="width:20%")
                                        input#pointName4.form-control.input-md(type="text", disabled="disabled", placeholder="Point4", style="width:20%")
                                        |&nbsp;&nbsp;&nbsp;&nbsp;
                                        i.iconLink#editPoint.fa.fa-3x.fa-pencil-square
                                        i.iconLink#updatePoint.fa.fa-3x.fa-check-square(style="display:none")
                                        i.iconLink#cancelUpdate.fa.fa-3x.fa-times-circle(style="display:none")
                        .row.form-horizontal
                            .form-group.clearfix
                                h4.col-sm-2.control-label
                                    | Report Title
                                .col-sm-10
                                    input#reportTitle.form-control.input-md(required, type="text", placeholder="Specify Report Title", style="width:98%")
                        .row.clearfix
                            ul#panelbar
                                li.k-state-active
                                    label Columns
                                    .row
                                        #columnGrid
                                li.k-state-active
                                    label Filters
                                    .row
                                       #filterGrid
                                li
                                    label Options
                                    .row
                                        .col-xs-4
                                            h4 Report Footer Details
                                            .checkbox
                                                label
                                                    input#includeFilter(type="checkbox")
                                                    | Include filter criteria at the end of the Report
                                            .checkbox
                                                label
                                                    input#includeReportName(type="checkbox")
                                                    | Include report name at the end of the Report
                                        .col-xs-3(style='display:none')
                                            h4 Data Size
                                            .checkbox
                                                label
                                                    input(name="returnLimit" type="radio", value ="200")
                                                    | Preview Mode With Limit to 200
                                            .checkbox
                                                label
                                                    input(name="returnLimit" type="radio", value ="500")
                                                    | Preview Mode With Limit to 500
                                            .checkbox
                                                label
                                                    input(name="returnLimit" type="radio", value ="1000")
                                                    | Preview Mode With Limit to 1000
                                            .checkbox
                                                label
                                                    input(name="returnLimit" type="radio", value ="0", checked='checked')
                                                    | Live Mode
                                        .col-xs-3
                                            .row
                                                h4 Select Template
                                                input#selectTemplate(style="width:300px")
                                    .row
                                        .col-xs-4
                                            h4 Select Interval
                                            input#offset(type="text", required, value="30", style="width:100px")
                                            input#selectIntervalType
                                        .col-xs-6(style='display:none')
                                            h4 Run Report Button Option
                                            .checkbox
                                                label
                                                    input(name="alwaysRun" type="checkbox", checked='checked')
                                                    | Get Fresh Report Everytime
                        .row.clearfix(style="padding:10px")
                            .col-xs-4
                            .col-xs-8.pull-right
                                button#getData(style="display:none") Undo
                                button#scheduleReport(style="display:none") Schedule Report
                                #runReport.btn.btn-primary(data-loading-text="<i class='fa fa-spinner fa-spin'></i>&nbsp;Setting Run Config...")
                                    i.insideButton.fa.fa-2x.fa-file-text
                                    | Run Report
                                #saveReport.btn.btn-primary(data-loading-text="<i class='fa fa-spinner fa-spin'></i>&nbsp;Saving...Please Wait")
                                    i.insideButton.fa.fa-2x.fa-save
                                    | Save Report
                        .row
                            #message.alert(role="alert")
                        .row
                            #gridData
                            #gridData2
                        form#runReportForm(method="post")
                            input#params(type="hidden", name="params", value="")
                            input#dataChanged(type="hidden", name="dataChanged", value="false")
                    include ./tabCommons
    include footer
    script(src='/js/reports/build/history/lib-70f1e327.js')
    script(src='/js/reports/build/history/app-a0b6ee97.js')
    include models/dialogScreens