//
   Created by Soven on 6/9/2014.
doctype html
html
    head
        title #{title}
        meta(charset="utf-8")
        include scripts
    body
        #spinnerClass
            i.fa.fa-5x.fa-gear.fa-spin
        block content