extends layout
block content
    include templates
    #window
        .container
            .row.form-horizontal
                .form-group.clearfix
                    label.col-sm-1.control-label(for="reportTitle") Title
                    .col-sm-11
                        input#reportTitle.form-control(type="text", placeholder="Specify Report Title", style="width:100%")
            .row.clearfix
                .col-xs-6.well
                    label Point Columns
                    .row
                        #columnGrid
                .col-xs-1
                .col-xs-5.well
                    label Date Range
                    .row
                        #filterGrid
            .row.well.clearfix
                label Options
                .checkbox
                    label
                        input#includeFilter(type="checkbox")
                        | Include filter criteria at the end of the Report
                .checkbox
                    label
                        input#includeFooterDetails(type="checkbox")
                        | Include report name at the end of the Report
            .row.well.clearfix
                .col-xs-4
                .col-xs-8
                    button#getData Undo
                    button#loadData Save
                    button#scheduleReport Schedule Report
                    button#runReport Run Report
            .row
                #message.alert(role="alert")
            .row
                #gridData
                #gridData2
            form#runReportForm(method="post", target="_blank")
                input#params(type="hidden", name="params", value="")
                //input#reportType(type="hidden", name="reportType", value="PointPivot")
            //include ./models/scheduleReport
    include footer
    script(src="/js/reports/history.js")