extends layout
block content
    .container-fluid
        .panel.panel-danger
            .panel.panel-heading
                h2 There was an error processing this report.
            .panel.panel-body
                h4
                    | Possibly, this report was removed from Database.
                    | Please contact system administrator for further details.
    script.
        document.getElementById("spinnerClass").style.display = "none";