meta(charset="utf-8")
link(type='text/css', rel='stylesheet', href='/css/lib/bootstrap-3.3.6/bootstrap.css')
link(type='text/css', rel='stylesheet', href='/css/lib/DataTables-1.10.12/media/css/dataTables.bootstrap.min.css')
//link(type='text/css', rel='stylesheet', href='/css/reports/reporting.css')
script(type="text/javascript" src="/js/lib/jquery-2.2.4.js")
script(type="text/javascript" src='/js/lib/moment.js')
script(type="text/javascript" src='/js/lib/bootstrap-3.3.6/bootstrap-3.3.6.js')
script(type="text/javascript" src='/js/lib/lodash.min.js')
script(type="text/javascript" src='/js/lib/config.js')
script(type="text/javascript" src='/js/lib/knockout-3.4.0.js')
script(type="text/javascript" src='/js/lib/ko.validation.js')
script(type="text/javascript" src='/js/lib/DataTables-1.10.12/media/js/jquery.dataTables.min.js')
script(type="text/javascript" src='/js/lib/DataTables-1.10.12/media/js/dataTables.bootstrap.min.js')
script(type="text/javascript" src="/js/reports/reportsViewModel.js")

