doctype html
html.direports
    head
        title #{title}
        meta(charset="utf-8")
        link(rel='stylesheet', href='/css/lib/materialize.min.css')
        link(rel='stylesheet', href='/css/lib/DataTables-1.10.12/media/css/dataTables.material.min.css')
        //link(type='text/css', rel='stylesheet', href='/css/lib/bootstrap-3.3.6/bootstrap.css')
        //link(type='text/css', rel='stylesheet', href='/css/lib/DataTables-1.10.12/media/css/dataTables.bootstrap.min.css')
        link(type='text/css', rel='stylesheet', href='/css/reports/reportprinting.css')
        script(type="text/javascript" src="/js/lib/jquery-2.2.4.js")
        script(type="text/javascript" src='/js/lib/moment.js')
        //script(type="text/javascript" src='/js/lib/bootstrap-3.3.6/bootstrap-3.3.6.js')
        script(type="text/javascript" src='/js/lib/materialize.min.js')
        script(type="text/javascript" src='/js/lib/lodash.min.js')
        script(type="text/javascript" src='/js/lib/config.js')
        script(type="text/javascript" src='/js/lib/knockout-3.4.0.js')
        script(type="text/javascript" src='/js/lib/ko.validation.js')
        script(type="text/javascript" src='/js/lib/DataTables-1.10.12/media/js/jquery.dataTables.min.js')
        //script(type="text/javascript" src='/js/lib/DataTables-1.10.12/media/js/dataTables.bootstrap.min.js')
        script(type="text/javascript" src='/js/lib/DataTables-1.10.12/media/js/dataTables.material.min.js')
        script(type="text/javascript" src='/js/lib/highcharts.src.js')
        script(type="text/javascript" src='/js/trendPlots/trendplot.js')
        script(type="text/javascript" src="/js/v2/home.js")
        script(type='text/javascript' src='/js/lib/store.min.js')
        script(type="text/javascript" src="/js/v2/dorsettUtility.js")
        script(type="text/javascript" src="/js/reports/reportsViewModel.js")
    body
block content
    #window
        .tabViewReport
            table.table.table-striped.table-bordered.table-responsive.dataTablePlaceHolder(style="display: none")
                tfoot.tableFooter(style="display: none")
            // ko if: (!!$root.scheduledReportData() && !!$root.scheduledReportData().tables)
            div.formattedData(data-bind="foreach: $root.scheduledReportData().tables")
                h4.small.text-center.reportDisplayTitle(data-bind="text: $root.reportDisplayTitle")
                table.table.table-striped.table-bordered.table-responsive(data-bind="css: { marginForFirstTable: $index() === 0, marginForTable: $index() > 0 }")
                    thead
                        tr(data-bind="foreach: header")
                            th(data-bind="text: Value")
                    tbody(data-bind="foreach: rows")
                        tr(data-bind="foreach: cells")
                            td(data-bind="css: { nowrap: ($root.reportType !== 'Property' && $index() === 0) }")
                                div(data-bind="html: Value, css: { small: $index() === 0 && $root.reportType !== 'Property'} ")
                div.pageNumbering(data-bind="text: ($index()+1) + ' of ' + ($root.chartable() && scheduledIncludeChart ? $root.numberOfScheduledReportTables() + 1 : $root.numberOfScheduledReportTables())")
                //div.pageNumbering(data-bind="text: ($index()+1)")
                div(data-bind="css: { pageBreakAfter: (($index()+1) < $root.numberOfScheduledReportTables() || ($root.chartable() && scheduledIncludeChart)) }")
            // /ko
            div(data-bind="css: {showChart: $root.chartable() && scheduledIncludeChart, hideChart: !$root.chartable() || !scheduledIncludeChart }")
                .contrainer
                    .reportChartDiv(style="padding-top: 60px;")
                div.pageNumbering(data-bind="text: ($root.numberOfScheduledReportTables() + 1) + ' of ' + ($root.numberOfScheduledReportTables() + 1)")
    include footer
