doctype html
html.direports
	head
		title #{title}
		meta(charset="utf-8")
		include scheduledReportsScripts
	body
block content
	#window
		.tabViewReport
			h4.text-center.reportDisplayTitle(data-bind="text: reportDisplayTitle")
			table.table.table-striped.table-bordered.table-responsive.dataTablePlaceHolder
				tfoot.tableFooter
			div.formattedData(data-bind="foreach: $root.scheduledReportData().tables")
				table.table.table-striped.table-bordered.table-responsive
					thead
						tr(data-bind="foreach: header")
							th(data-bind="text: Value")
					tbody(data-bind="foreach: rows")
						tr(data-bind="foreach: cells")
							td
								div(data-bind="text: Value")
				span(data-bind="text: 'Page ' + ($index()+1) + ' of ' + $root.scheduledReportData().tables.length")

			.reportChartDiv(style="padding-top: 60px;")
	include footer
