link(type='text/css', rel='stylesheet', href='/css/lib/bootstrap-3.3.6/bootstrap.css')
link(type='text/css', rel='stylesheet', href="/css/lib/bootstrap-datepicker.css")
link(type='text/css', rel='stylesheet', href="/css/lib/bootstrap-datetimepicker.min.css")
link(type='text/css', rel='stylesheet', href="/css/lib/font-awesome-4.3.0/css/font-awesome.min.css")
link(type='text/css', rel='stylesheet', href='/css/lib/DataTables-1.10.10/dataTables.bootstrap.min.css')
link(type='text/css', rel='stylesheet', href='/css/reports/reporting.css')
script(type="text/javascript" src="/js/lib/jquery-2.1.4.min.js")
script(type="text/javascript" src="/js/lib/jquery-ui.js")
script(type="text/javascript" src='/js/lib/moment.js')
script(type="text/javascript" src='/js/lib/bootstrap-3.3.6/bootstrap-3.3.6.js')
script(type="text/javascript" src="/js/lib/bootstrap-datepicker.js")
script(type="text/javascript" src="/js/lib/bootstrap-datetimepicker.min.js")
script(type="text/javascript" src='/js/lib/config.js')
script(type="text/javascript" src='/js/lib/knockout-3.4.0.js')
script(type="text/javascript" src='/js/lib/ko.validation.js')
script(type="text/javascript" src='/js/lib/lodash.min.js')
script(type="text/javascript" src='/js/lib/socket.io.js')
script(type="text/javascript" src='/js/lib/store.min.js')
script(type="text/javascript" src='/js/lib/DataTables-1.10.10/jquery.dataTables.js')
script(type="text/javascript" src='/js/lib/DataTables-1.10.10/dataTables.bootstrap.min.js')
script(type="text/javascript" src="/js/reports/reportsViewModel.js")

