//
   Created by Soven on 1/18/2015.
link(href="/js/lib/kendo/styles/kendo.common.min.css", rel="stylesheet")
link(rel="stylesheet", href="/css/reports/bootstrap.flatly.min.css")
link(href="/js/lib/kendo/styles/kendo.moonlight.min.css", rel="stylesheet")
link(rel='stylesheet', href='/css/lib/font-awesome-4.0.3/css/font-awesome.min.css')
link(type='text/css', rel='stylesheet', href='/css/lib/iToast.css')
link(type='text/css', rel='stylesheet', href='/css/reports/style.css')
//script(type="text/javascript" src="/reportNet/scripts/reportSignalR.js")

