// - - -   tablinks.jade
ul.text-left.tabs.list-unstyled
   li.active
      tab(data-bind="click: reportConfiguration.bind()") Configuration
   li
      tab(data-bind="click: reportPreview.bind()") Report Preview
   li
      tab(data-bind="click: reportDesign.bind()") Design Report
   li
      tab(data-bind="click: reportNotes.bind()") Report Articles
