h5 Control Parameters
.row
.container.well.well-sm
    .row
        .col-xs-6
            .form-group
                label.checkbox
                    input(type='checkbox', data-bind='event: { click: changeChecked.bind($element, $data, \'Active Control\', false) }, checked:getSelectedDProp(\'Active Control\')')
                    | High Enable
            .form-group
                label.checkbox
                    input(type='checkbox', data-bind='event: { click: changeChecked.bind($element, $data, \'Active Release\', false) }, checked:getSelectedDProp(\'Active Release\')')
                    | Relinquish High
            .form-group
                label Monitor High Value
                select.input-medium(data-bind='event: {change: changeSelect.bind($element, $data,\'Active Value\', false) }, options:dropdownRange(\'Value\'), optionsText: \'key\', optionsValue:\'val\', optionsCaption: \'[Not Selected]\', value:getSelectedDPropEvalue(\'Active Value\')')
            .form-group
                label High Input Deadband
                input.input-medium(type='text', data-bind='event: { keyup: changeVal.bind($data,\'Input Deadband\') },value:getSelectedDProp(\'Input Deadband\')')
        .col-xs-6
            .form-group
                label.checkbox
                    input(type='checkbox', data-bind='event: { click: changeChecked.bind($element, $data, \'Inactive Control\', false) }, checked:getSelectedDProp(\'Inactive Control\')')
                    | Low Enable
            .form-group
                label.checkbox
                    input(type='checkbox', data-bind='event: { click: changeChecked.bind($element, $data, \'Inactive Release\', false) }, checked:getSelectedDProp(\'Inactive Release\')')
                    | Relinquish Low
            .form-group
                label Monitor Low Value
                select.input-medium(data-bind='event: {change: changeSelect.bind($element, $data,\'Inactive Value\', false) }, options:dropdownRange(\'Value\'), optionsText: \'key\', optionsValue:\'val\', optionsCaption: \'[Not Selected]\', value:getSelectedDPropEvalue(\'Inactive Value\')')
