.row
.container.well.well-sm
    .row
        .form-group
            label.col-xs-6.control-label
                | Alarm State
            .col-xs-6
                span(data-bind='text:getSelectedDProp(\'Alarm State\')')
    .row
        label.col-xs-12.control-label
            |Update Interval
    .row
        .form-group
            .col-xs-6
            .col-xs-1
                | Min:
            .col-xs-2
                input#min.form-control.input-sm(name='min', data-bind="event: { change: updateInterval.bind($element, $data,true) }, value:getSelectedDProp('Update Interval') > 60 ? Math.floor(getSelectedDProp('Update Interval') / 60) : 0", min='0', max='60')
            .col-xs-1
                | Sec:
            .col-xs-2
                input#sec.form-control.input-sm(name='sec', data-bind="event: { change: updateInterval.bind($element, $data,false) }, value:getSelectedDProp('Update Interval') % 60", min='0', max='60')
    .row
        .form-group
            label.col-xs-6.control-label
            .checkbox.col-xs-6(style="padding-left:40px")
                | Out of Service
                input(type='checkbox', data-bind='event: { click: changeChecked.bind($element, $data, \'Out of Service\', false) }, checked:getSelectedDProp(\'Out of Service\')')
    .row
        .form-group
            label.col-xs-6.control-label
                 | Value
            .col-xs-6
                input.valueSect.form-control.input-sm(type='text', data-bind='enable:getSelectedDProp(\'Out of Service\'), visible:isFloat(\'Value\'),  event: { keyup: changeVal.bind($data,\'Value\') },value:getSelectedDProp(\'Value\')')
                div(data-bind='visible:isEnum2(\'Value\')')
                    select.valueSect.form-control.input-sm(data-bind='enable:getSelectedDProp(\'Out of Service\'), event: {change: changeSelect.bind($element, $data,\'Value\', false) }, options:dropdownRange(\'Value\'), optionsText: \'key\', optionsValue:\'val\', optionsCaption: \'[Not Selected]\', value:getSelectedDPropEvalue(\'Value\')')
    .row
        .form-group
            label.col-xs-6.control-label
                | Reliability
            .col-xs-6
                span(data-bind='text:getSelectedDProp(\'Reliability\')')
    .row
        .form-group
            label.col-xs-6.control-label
                | Controller Priority
            .col-xs-6
                select.form-control.input-sm(data-bind='event: { change: changeSelect.bind($element, $data,\'Control Priority\', false) }, options:getControllerPriorities, optionsText: \'key\', optionsValue:\'val\', optionsCaption: \'[Not Selected]\', value:getSelectedDPropEvalue(\'Control Priority\')')
    .row
        .form-group
            label.col-xs-6.control-label
                | Controller
            .col-xs-6
                select.form-control.input-sm(data-bind='event: { change: changeSelect.bind($element, $data,\'Controller\', false) }, options:getControllers, optionsText: \'key\', optionsValue:\'val\', optionsCaption: \'[Not Selected]\', value:getSelectedDPropEvalue(\'Controller\')')
