h5 Delay Point Control Parameters
.row
.container.well.well-sm
    .row
        .col-xs-12
            label Calculation Type:
            select.input-medium(data-bind='event: {change: changeSelect.bind($element, $data,\'Calculation Type\', true) }, options:dropdownRange(\'Calculation Type\'), optionsText: \'key\', optionsValue:\'val\', optionsCaption: \'[Not Selected]\', value:getSelectedDPropEvalue(\'Calculation Type\')')
    .row
        label.col-xs-12.control-label
            |Update Interval
    .row
        .form-group
            .col-xs-1
                label Min:
            .col-xs-2
                input#min.form-control.input-sm(name='min', data-bind="event: { change: updateInterval.bind($element, $data,true) }, value:getSelectedDProp('Update Interval') > 60 ? Math.floor(getSelectedDProp('Update Interval') / 60) : 0", min='0', max='60')
            .col-xs-1
                label Sec:
            .col-xs-2
                input#sec.form-control.input-sm(name='sec', data-bind="event: { change: updateInterval.bind($element, $data,false) }, value:getSelectedDProp('Update Interval') % 60", min='0', max='60')
            .col-xs-6

    .row
        .col-xs-6
            .form-group
                label Delay Output
                select.input-medium(data-bind='event: {change: changeSelect.bind($element, $data,\'Value\', true) }, options:dropdownRange(\'Value\'), optionsText: \'key\', optionsValue:\'val\', optionsCaption: \'[Not Selected]\', value:getSelectedDPropEvalue(\'Value\')')
            .form-group
                label.checkbox
                    input(type='checkbox', data-bind='event: { click: changeChecked.bind($element, $data, \'Totaled\', false) }, checked:getSelectedDProp(\'Totaled\')')
                    | Enable
            .form-group
                label.checkbox
                    input(type='checkbox', data-bind='event: { click: changeChecked.bind($element, $data, \'Totaled\', false) }, checked:getSelectedDProp(\'Totaled\')')
                    | Relinquish
        .col-xs-6
            .form-group
                label Normal Output
                select.input-medium(data-bind='event: {change: changeSelect.bind($element, $data,\'Value\', true) }, options:dropdownRange(\'Value\'), optionsText: \'key\', optionsValue:\'val\', optionsCaption: \'[Not Selected]\', value:getSelectedDPropEvalue(\'Value\')')
            .form-group
                label.checkbox
                    input(type='checkbox', data-bind='event: { click: changeChecked.bind($element, $data, \'Totaled\', false) }, checked:getSelectedDProp(\'Totaled\')')
                    | Enable
            .form-group
                label.checkbox
                    input(type='checkbox', data-bind='event: { click: changeChecked.bind($element, $data, \'Totaled\', false) }, checked:getSelectedDProp(\'Totaled\')')
                    | Relinquish

