.row
.container.well.well-sm
    .row(data-bind='visible:isVisible($data, "Input Point 1")')
        .form-group
            .col-xs-3
                label IF
            .col-xs-3
                span(data-bind='text:getName($data, "Input Point 1")')
            .col-xs-3
                select.input-small(data-bind='event: {change: changeSelect.bind($element, $data,"If Compare 1", false) }, options:dropdownRange("If Compare 1"), optionsText: "key", optionsValue:"val", optionsCaption: "[Not Selected]", value:getSelectedDPropEvalue("If Compare 1")')
            .col-xs-3
                select.input-small(data-bind='event: {change: changeSelect.bind($element, $data,"If Value 1", false) }, options:dropdownRange("If Value 1"), optionsText: "key", optionsValue:"val", optionsCaption: "[Not Selected]", value:getSelectedDPropEvalue("If Value 1")')
    .row(data-bind='visible:isVisible($data, "Input Point 2")')
        .form-group
            .col-xs-3.control-label
                select.input-small(data-bind='event: {change: changeSelect.bind($element, $data,"If Result 2", false) }, options:dropdownRange("If Result 2"), optionsText: "key", optionsValue:"val", optionsCaption: "[Not Selected]", value:getSelectedDPropEvalue("If Result 2")')
            .col-xs-3
                span(data-bind='text:getName($data, "Input Point 2")')
            .col-xs-3
                select.input-small(data-bind='event: {change: changeSelect.bind($element, $data,"If Compare 2", false) }, options:dropdownRange("If Compare 2"), optionsText: "key", optionsValue:"val", optionsCaption: "[Not Selected]", value:getSelectedDPropEvalue("If Compare 2")')
            .col-xs-3
                select.input-small(data-bind='event: {change: changeSelect.bind($element, $data,"If Value 2", false) }, options:dropdownRange("If Value 2"), optionsText: "key", optionsValue:"val", optionsCaption: "[Not Selected]", value:getSelectedDPropEvalue("If Value 2")')
    .row(data-bind='visible:isVisible($data, "Input Point 3")')
        .form-group
            .col-xs-3.control-label
                select.input-small(data-bind='event: {change: changeSelect.bind($element, $data,"If Result 2", false) }, options:dropdownRange("If Result 3"), optionsText: "key", optionsValue:"val", optionsCaption: "[Not Selected]", value:getSelectedDPropEvalue("If Result 3")')
            .col-xs-3
                span(data-bind='text:getName($data, "Input Point 3")')
            .col-xs-3
                select.input-small(data-bind='event: {change: changeSelect.bind($element, $data,"If Compare 3", false) }, options:dropdownRange("If Compare 3"), optionsText: "key", optionsValue:"val", optionsCaption: "[Not Selected]", value:getSelectedDPropEvalue("If Compare 3")')
            .col-xs-3
                select.input-small(data-bind='event: {change: changeSelect.bind($element, $data,"If Value 3", false) }, options:dropdownRange("If Value 3"), optionsText: "key", optionsValue:"val", optionsCaption: "[Not Selected]", value:getSelectedDPropEvalue("If Value 3")')
    .row(data-bind='visible:isVisible($data, "Input Point 4")')
        .form-group
            .col-xs-3.control-label
                select.input-small(data-bind='event: {change: changeSelect.bind($element, $data,"If Result 4", false) }, options:dropdownRange("If Result 4"), optionsText: "key", optionsValue:"val", optionsCaption: "[Not Selected]", value:getSelectedDPropEvalue("If Result 4")')
            .col-xs-3
                span(data-bind='text:getName($data, "Input Point 4")')
            .col-xs-3
                select.input-small(data-bind='event: {change: changeSelect.bind($element, $data,"If Compare 4", false) }, options:dropdownRange("If Compare 4"), optionsText: "key", optionsValue:"val", optionsCaption: "[Not Selected]", value:getSelectedDPropEvalue("If Compare 4")')
            .col-xs-3
                select.input-small(data-bind='event: {change: changeSelect.bind($element, $data,"If Value 4", false) }, options:dropdownRange("If Value 4"), optionsText: "key", optionsValue:"val", optionsCaption: "[Not Selected]", value:getSelectedDPropEvalue("If Value 4")')
    .row(data-bind='visible:isVisible($data, "Input Point 5")')
        .form-group
            .col-xs-3.control-label
                select.input-small(data-bind='event: {change: changeSelect.bind($element, $data,"If Result 5", false) }, options:dropdownRange("If Result 5"), optionsText: "key", optionsValue:"val", optionsCaption: "[Not Selected]", value:getSelectedDPropEvalue("If Result 5")')
            .col-xs-3
                span(data-bind='text:getName($data, "Input Point 5")')
            .col-xs-3
                select.input-small(data-bind='event: {change: changeSelect.bind($element, $data,"If Compare 5", false) }, options:dropdownRange("If Compare 5"), optionsText: "key", optionsValue:"val", optionsCaption: "[Not Selected]", value:getSelectedDPropEvalue("If Compare 5")')
            .col-xs-3
                select.input-small(data-bind='event: {change: changeSelect.bind($element, $data,"If Value 5", false) }, options:dropdownRange("If Value 5"), optionsText: "key", optionsValue:"val", optionsCaption: "[Not Selected]", value:getSelectedDPropEvalue("If Value 5")')
   .row
        .form-group
            .col-xs-3
                label THEN
            .col-xs-3
                label Output Value:
            .col-xs-3
                select.input-small(data-bind='event: {change: changeSelect.bind($element, $data,"Active Value", false) }, options:dropdownRange("Value"), optionsText: "key", optionsValue:"val", optionsCaption: "[Not Selected]", value:getSelectedDPropEvalue("Active Value")')
            .col-xs-3
                label.checkbox
                    input(type='checkbox', data-bind='event: { click: changeChecked.bind($element, $data, "Release True Control") }, checked:getSelectedDProp("Release True Control")')
                    | Relinquish
    .row
        .form-group
            .col-xs-3
                label ELSE
            .col-xs-3
                label Output Value:
            .col-xs-3
                select.input-small(data-bind='event: {change: changeSelect.bind($element, $data,"Inactive Value", false) }, options:dropdownRange("Value"), optionsText: "key", optionsValue:"val", optionsCaption: "[Not Selected]", value:getSelectedDPropEvalue("Inactive Value")')
            .col-xs-3
                label.checkbox
                    input(type='checkbox', data-bind='event: { click: changeChecked.bind($element, $data, "Release False Control") }, checked:getSelectedDProp("Release False Control")')
                    | Relinquish
