br
.container.well.well-lg
    .row(data-bind='visible:shape == "dorsett.shape.node.ConstantValueObj"')
        | Constant Value Type
    .row(data-bind='visible:shape == "dorsett.shape.node.ConstantValueObj"')
        .col-xs-6
            .form-group
                label.checkbox
                    input(type='checkbox', value='Enum', data-bind='event: {click: staticVal.bind($element, $data,"valueType", false) }, checked:valueType()=="Enum"')
                    | Binary
        .col-xs-6
            .form-group
                label.checkbox
                    input(type='checkbox', value='Float', data-bind='event: {click: staticVal.bind($element, $data,"valueType", false) }, checked:valueType() == "Float"')
                    | Analog
    .row
        | Common Properties
    .row
        .col-xs-6
            .form-group
                label.checkbox
                    input(type='checkbox', data-bind='checked:showLabel, event: { click: staticCheck.bind($element, $data, \'showLabel\') }')
                    | Show Label
        .col-xs-6
            .form-group
                label.checkbox
                    input(type='checkbox', data-bind='checked:showValue, event: { click: staticCheck.bind($element, $data, \'showValue\') }')
                    | Show Value
    .row(data-bind='visible: referenceType() !="MonitorInternalRef" && referenceType() !="ControlInternalRef" && referenceType() !="ConstantInternalRef"')
            label Label
            input.input-xs(data-bind='value:lbl,keyup:lbl')
    .row(data-bind='visible:shape =="dorsett.shape.node.ConstantValueObj" && referenceType() != "ConstantInternalRef"')
            label Value
            input.input-xs(data-bind='visible:valueType() =="Float",keyup:constantFloat,value:constantFloat')
            select.input-xs(data-bind='visible:valueType() =="Enum", value:constantEnum')
                option(value='0') Off
                option(value='1') On
    .row
        h5(data-bind='text:referenceType')
    .row(data-bind='visible:shapeCategory == \'Monitor\' || shapeCategory == \'Control\' || shapeCategory == \'Constant\'')
        | Select Point Type
    .row(data-bind='visible:shapeCategory == \'Monitor\' || shapeCategory == \'Control\' || shapeCategory == \'Constant\'')
        .col-xs-6
            select.input-sm(data-bind='options:referenceList, optionsText: "key", optionsValue:"val", value:referenceType')
        .col-xs-6
            a.btn.btn-primary.btn-sm(data-bind='visible: referenceType() != "Constant" && referenceType() !="MonitorInternalRef" && referenceType() !="ControlInternalRef" && referenceType() !="ConstantInternalRef"',href='javascript:dorsett.pointProperties.openPointSelector();') Point LookUp
            select.input-sm(data-bind='options:internalRefs, optionsText:"key", optionsValue:"val",optionsCaption: "[Not Selected]", value:internalRef,visible: referenceType() =="MonitorInternalRef" || referenceType() == "ControlInternalRef" || referenceType() == "ConstantInternalRef"')
    .row(data-bind='visible: referenceType() != "Constant" && referenceType() !="MonitorInternalRef" && referenceType() !="ControlInternalRef" && referenceType !="ConstantInternalReference"')
        .col-xs-12
            .label.label-lg.label-warning(data-bind='text:segment()')
    .row(data-bind='visible:valueType() =="Float"')
        | Numeric Format
    .row(data-bind='visible:valueType() =="Float"')
        .col-xs-6
            label Number of Chars:
            input.input-xs(data-bind='value:numOfCharacters(), keyup:numOfCharacters()')
        .col-xs-6
            label Number of Decimals:
            input.input-xs(data-bind='value:numOfDecimals(), keyup:numOfDecimals()')

