.container.well.well-sm
    .row
        .col-xs-6
            .form-group
                label
                    b Input
            .form-group
                label High:
                input.input-medium(type='text', data-bind='event: { keyup: changeVal.bind($data,\'Input High Limit\') },value:getSelectedDProp(\'Input High Limit\')')
            .form-group
                label Low:
                input.input-medium(type='text', data-bind='event: { keyup: changeVal.bind($data,\'Input Low Limit\') },value:getSelectedDProp(\'Input Low Limit\')')
            .form-group
                label.checkbox
                    input(type='checkbox', value='SetPointAdjust', data-bind='event: { click: changeChecked.bind($element, $data, \'Reverse Action\', true) }, checked:getSelectedDProp(\'Reverse Action\')')
                    | Reverse Acting
        .col-xs-6
            .form-group
                label
                    b Output
            .form-group
                label High:
                input.input-medium(type='text', data-bind='event: { keyup: changeVal.bind($data,\'Maximum Value\') },value:getSelectedDProp(\'Maximum Value\')')
            .form-group
                label Low:
                input.input-medium(type='text', data-bind='event: { keyup: changeVal.bind($data,\'Minimum Value\') },value:getSelectedDProp(\'Minimum Value\')')

