.topBar.dataStoreTopBar(data-bind="css: {viewMode: !isInEditMode(), editMode: isInEditMode()} ")
    // ko if: configRequired()
    .title Data Store
    // /ko
    // ko if: !configRequired()
    .dropdown.availablePeriodsContainer
        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
            span(data-bind="text: selectedMonthYear() && selectedMonthYear().prettyDate")
            span.caret.lm10px
        ul.monthYear.availablePeriods.dropdown-menu
            input.form-control(data-bind="textInput: datastoreDateFilter", type="text", placeholder="Search...")
            li(role="separator", class="divider")
            // ko foreach: filteredDatastoreMonthYear
            li
                a(data-bind="click: function(){ $parent.monthSelected($data) }, text: $data.prettyDate")
            // /ko
    .dropdown
        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
            span(data-bind="text: selectedDataType() ? selectedDataType() : 'All Data'")
            span.caret.lm10px
        ul.datatype.dropdown-menu(data-bind="foreach: listOfDataTypes")
            li
                a(data-bind="click: function(){ $parent.dataTypeSelected($data) }, text: $data")

    //div Choose Meter
    .dropdown.availableMetersContainer
        button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
            span(data-bind="text: (selectedMeter() ? selectedMeter().displayedMeterName : 'Meters (' + listOfMeters().length + ')')")
            span.caret.lm10px
        ul.meter.availableMeters.dropdown-menu
            input.form-control(data-bind="textInput: datastoreMeterFilter", type="text", placeholder="Search...")
            li(role="separator", class="divider")
            // ko foreach: filteredMeters
            li
                a(data-bind="click: function(){ $parent.meterSelected($data) }, text: $data.displayedMeterName")
            // /ko

    .buttonBar(data-bind="if: $root.canWrite($parent.securityBindings.security)")
        button.hideInEdit.btn.btn-primary.btn-sm.dataStoreEditButton(type="button", data-bind="click: toEditMode, enable: isEditEnabled") Edit
        button.showInEdit.btn.btn-link.btn-sm(type="button", data-bind="click: cancelEditMode") Cancel
        button.showInEdit.btn.btn-success.btn-sm(type="button", data-bind="click: save") Save
    // /ko

//template
.mainContent.dataStoreMainContent(data-bind="css: {viewMode: !isInEditMode(), editMode: isInEditMode()} ")
    .dataStoreGettingData
        i.fa.fa-spinner.fa-spin
        span Getting data...
    .infoMessage(data-bind="visible: showMeterSelectMessage")
        i.fa.fa-info-circle
        span Please select a meter from the Meters drop down.
    .infoMessage(data-bind="visible: configRequired")
        i.fa.fa-info-circle
        span Data store is unavailable until at least one Rate Table and Meter has been configured. Please configure these items then return to this page.
    .infoMessage(data-bind="visible: errorWithRequest")
        i.fa.fa-info-circle
        span Error with request
    .innerContent.dataStoreContent
        table.datastoreTable

    .clearfix


