.bgImage(data-bind="style: { opacity: bgOpacity()/100, backgroundColor: '#' + bgColor(), backgroundImage: 'url(/img/dashboard/backgrounds/' + background() + ')' }")
.bgOverlay(data-bind="style: { opacity: (100 - bgBrightness())/100 }")
.topBar.topBarDashboard(data-bind="css: {viewMode: !isEditMode(), editMode: isEditMode()}")
    // ko foreach: headerItems
    // ko trendPlot: $data
    .statistic(data-bind="with: bindings")
        .statTitle
            a(href="javascript://", data-bind="click: $parentContext.$parent.editDashboardItem")
                i.fa.fa-cog.config
                span(data-bind="text: title")
        .body
            .value(data-bind="text: value")
            .units(data-bind="html: units")
    // /ko
    // /ko

    a(href="javascript://", data-bind="click: function() { this.$page.addNewItem('Statistic'); }").addStatistic.showInEdit Add Statistic

    .buttonBar(data-bind="if: $root.canWrite($parent.securityBindings.security) && !configRequired()")
        button.hideInEdit.btn.btn-primary.btn-sm(type="button", data-bind="click: toEditMode") Edit
        button.showInEdit.btn.btn-link.btn-sm(type="button", data-bind="click: cancelEditMode") Cancel
        button.showInEdit.btn.btn-success.btn-sm(type="button", data-bind="click: save") Save

//template
.mainContent(data-bind="visible: loaded, css: {viewMode: !isEditMode(), editMode: isEditMode()}")
    .infoMessage(data-bind="visible: configRequired")
        i.fa.fa-info-circle
        span Dashboard is unavailable until at least one Rate Table and Meter has been configured. Please configure these items then return to this page.
    .innerContent(data-bind="visible: !configRequired()")

    .addItemBar.showInEdit.flexrow(data-bind="visible: !configRequired(), dragAndDrop: $page.addNewItem.bind($page), dropTarget: '.dashboard .mainContent', targetClass: '.drag'")
        .drag(data-type="Trend")
            div Trend
            img(src='/img/dashboard_Trend.png')
        .drag(data-type="Statistic")
            div Statistic
            img(src='/img/dashboard_Statistic.png')
        .drag(data-type="Gauge")
            div Gauge
            img(src='/img/dashboard_Gauge.png')
        .flexrow.background
            .flexcolumn.rm20px
                span Background
                a(href="javascript://", data-bind="click: showBackgroundModal.bind($page.bindings)")
                    .backgroundPreview.flexcenteritem(data-bind="style: {backgroundColor: '#' + bgColor(), backgroundImage: 'url(/img/dashboard/backgrounds/' + background() + ')' }")
            .sliders.flexrow
                .bgSlider.flexcolumn
                    i.fa.fa-sun-o
                    input.bgSlider(type="text", data-bind="slider: bgOpacity", data-slider-tooltip-position="left", data-slider-min="0", data-slider-max="100", data-slider-step="1", data-slider-value="100", data-slider-orientation="vertical")
                .bgSlider.flexcolumn
                    i.fa.fa-adjust
                    input.bgSlider(type="text", data-bind="slider: bgBrightness", data-slider-min="0", data-slider-max="100", data-slider-step="1", data-slider-value="100", data-slider-orientation="vertical")
