!!! 5
html
    head
        title
        link(rel='stylesheet', href='/css/lib/bootstrap.3.0.2.min.css')
        link(rel='stylesheet', href='/css/lib/font-awesome-4.0.3/css/font-awesome.min.css')
        style.
            html, body {
                height: 100%;
            }
            body, h1, h2, h3, h4, h5, h6 {
                font-family: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
            }
            body {
                font-size: 13px;
                background: #ccc;
                color: #333;
                margin: 0;
                overflow: hidden;
            }
            .topNav {
                /* override bootstrap */
                border: none;
                border-radius: 0;
                border-top: 1px solid #4FC8EC;
                background: #333;
                color: #ccc;
                min-width: 850px;
            }
            #main {
                position: absolute;
                top: 80px;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 0 50px 20px;
                overflow: auto;
            }
            #workspaceTitle {
                margin: 0 0 20px;
                text-transform: uppercase;
                color: #666;
                font-size: 30px;
                text-shadow: 1px 1px 1px rgba(255,255,255, .4);
            }
            .well {
                background-color: #B8B8B8;
                border: 1px solid #AFAFAF;
            }
            .show-grid {
                margin-bottom: 10px;
            }
            .row-relative {
                position: relative;
            }
            .col-custom-260 {
                width: 260px;
            }
            .col-custom-fluid {
                position: absolute;
                top: 0;
                left: 299px;
                right: 15px;
            }
            .progress-bar span {
                padding-left: 10px;
                color: #a6d5fd;
            }
            #thumbContainer {
                position: relative;
            }
            .thumb {
                position: relative;
                list-style-type: none;
                display: inline-block;
                width: 260px;
                height: 182px;
                background-color: #fff;
                margin: 5px;
                padding: 0;
                font-size: 12px;
                overflow: hidden;
                box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, .2);
                border-radius: 5px;
                border: 1px solid #9E9C9C;
            }
            .thumbContent {
                position: absolute;
                width: 260px;
                height: 151px;
            }
            .titleBar {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                color: #EEE;
                background-color: #727272;
                border-top: 1px solid #333;
                height: 28px;
                padding: 7px 7px;
                font-size: 10px;
                text-transform: uppercase;
                box-shadow: inset 0px 14px 15px -10px rgba(0,0,0,.35);
            }
            .errorList {
                position: relative;
                height: 400px;
                padding: 10px;
                overflow: auto;
            }
            .errorList div {
                font-size: 12px;
                margin-bottom: 5px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        script(type='text/javascript', src='/js/lib/jquery-1.9.1.min.js')
        script(type='text/javascript', src='/js/lib/knockout-2.3.0.js')
        script.
            var err = !{err},
            data = !{pageData};
    body
        .navbar.navbar-default.topNav
            .container-fluid
                .navbar-header
                    img(src='/img/workspace/infoscanLogo.png', width='252', height='47', alt='InfoScan')
        #main
            h1#workspaceTitle System Thumbnail Generator
            h5 This process consumes a lot of resources. The fewer tabs or browser windows you have open, the faster it will run. Click the start button to begin creating thumbnails for GPL Sequences and Displays. Checking the "Update All" button will overwrite any existing thumbnails in the database.
            hr
            div.row.row-relative
                div.col-custom-260
                    div.well
                        div.row.show-grid
                            div.col-md-12
                                input(type='button', value='Start Processing', id='btnStartProcess', class='btn btn-success', style='width:100%')
                                input(type='button', value='Pause Processing', id='btnCancelProcess', class='btn btn-danger', style='display:none;width:100%')
                        div.row
                            div.col-md-12
                                input(type='checkbox',id='updateAll')
                                label(for='updateAll') Update All
                        div.row
                div.col-custom-fluid.activity(style='display:none')
                    div
                        div.row.show-grid
                            div.col-md-12
                                p Thumbnail generation in progress. Processing&nbsp;
                                    span(data-bind='text: totalItemsProcessed')
                                    | &nbsp;of&nbsp;
                                    span(data-bind='text:totalItemsToProcess')
                        div.row
                            div.col-md-12
                                div.progress
                                    div.progress-bar(data-bind='style: {width: percentComplete() + "%"}')
                                        span(data-bind='text: Math.floor(percentComplete()) + "% Complete"')
            div.row.row-relative
                div.col-custom-260(data-bind='if: errorList().length')
                    div.panel.panel-default
                        div.panel-heading
                            h3.panel-title Errors
                        div.panel-body.errorList(data-bind='foreach: errorList.slice(0).reverse()')
                            div(data-bind='text: $data')

                    //div.well.errorWell
                    //    h4.errorTitle
                    //        span.label.label-warning Errors
                    //    div.col-md-12.errorList(data-bind='foreach: errorList.slice(0).reverse()')
                    //        div(data-bind='text: $data')
                div.col-custom-fluid.activity.text-center(style='display:none')
                    //ul#thumbContainer(data-bind='if: thumb')
                    //    li.thumb
                    //        .thumbContent
                    //            img(data-bind='attr: {src: thumb}')
                    //        .titleBar
                    //            .title(data-bind='text: currentThumbName') &period;&period;&period;
                    img(data-bind='attr: {src: thumb}')
            iframe#fetcher(style='position:absolute;width:5000px;height:5000px;left:-10000px')
            script(type='text/javascript', src='/js/thumbnailGenerator/generator.js')
        script.
            $(thumbnailGenerator.init);
