public/img/
public/display_assets/
logs/
tmp/
scripts/
nbproject/
iisnode/
*.scc
Cpp_API*.log
.idea
public/js/reports/deleteme.json
npm-debug.log
daemon/
aclient.js
node_modules/node-sass/vendor/win32-x64-14/binding.node
