doctype html
html
    head
        title
        link(rel='stylesheet', href='/css/lib/bootstrap.3.0.2.min.css')
        link(rel='stylesheet', href='/css/lib/font-awesome-4.1.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/pointEditor/layout.css')
        link(rel='stylesheet', href='/css/lib/messenger/messenger.css')
        link(rel='stylesheet', href='/css/lib/messenger/messenger-theme-future.css')
        link(rel='stylesheet', href='/css/lib/bannerJS/style.css')
        //TEMPORARY!
        script(type='text/javascript', src='/js/lib/underscore.js')
        script(type='text/javascript', src='/js/lib/jquery-1.9.1.min.js')
        script(type='text/javascript', src='/js/lib/jquery.querystring.js')
        script(type='text/javascript', src='/js/lib/jquery-ui-1.10.4.hilite.js')
        script(type='text/javascript', src='/js/lib/moment.js')
        script(type='text/javascript', src='/js/lib/jstween-1.1.min.js')
        //script(type='text/javascript', src='/js/lib/knockout-2.3.0.js')
        script(type='text/javascript', src='/js/lib/knockout-3.1.0.js')
        script(type='text/javascript', src='/js/lib/koExternalTemplateEngine_all.min.js')
        script(type='text/javascript', src='/js/lib/ko.validation.js')
        script(type='text/javascript', src='/js/lib/knockout.viewmodel.js')
        script(type='text/javascript', src='/js/lib/jquery.rangyinputs.js')
        script(type='text/javascript', src='/js/lib/jquery.inputmask.bundle.min.js')
        script(type='text/javascript', src='/js/lib/jquery.mousewheel.js')
        script(type='text/javascript', src='/js/pointEditor/ko.bindingHandlers.js')
        script(type='text/javascript', src='/js/lib/messenger/messenger.min.js')
        script(type='text/javascript', src='/js/lib/socket.io.js')
        script(type='text/javascript', src='/js/pointEditor/pointEditor.js')
        script(type='text/javascript', src='/js/pointEditor/Point.js')
        script(type='text/javascript', src='/js/pointEditor/utility.js')
        script(type='text/javascript', src='/js/lib/bannerJS/banner.js')
    body
        #main
