<!-- ko if: data.isDisplayable -->
<div data-bind="attr: { class: columnClasses }">
    <div class="dataField">
        <label data-bind="visible: showLabel">
            <!-- ko if: help -->
            <i data-bind="tooltip: { title: help.title, placement: help.placement, html: true }" class="fa fa-info-circle"></i>
            <!-- /ko -->
            <span data-bind="text: propertyName"></span>
        </label>
        <!-- ko if: isInEditMode -->
        <!-- ko if: typeof button == 'object' -->
        <div class="input-group">
            <input type="text" data-bind="propertyName: propertyName, numeric: data.Value, valueType: data.ValueType, min: min, max: max, disable: data.isReadOnly, doValidate:data.doValidate" class="form-control input-sm">
            <span class="input-group-btn">
                <button class="btn btn-info btn-sm" type="button" data-bind="text: button.text, click: button.action"></button>
            </span>
        </div>
        <!-- /ko -->
        <!-- ko ifnot: typeof button == 'object' -->
        <input type="text" data-bind="propertyName: propertyName, numeric: data.Value, valueType: data.ValueType, min: min, max: max, disable: data.isReadOnly, doValidate:$data.doValidate" class="form-control input-sm">
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko ifnot: isInEditMode -->
        <div class="lh30">
            <span data-bind="propertyName: propertyName, numeric: data.Value, valueType: data.ValueType, noTruncate: noTruncate"></span>
        </div>
        <!-- /ko -->
    </div>
</div>
<!-- /ko -->
