#dateTimeFilterModal.modal.dtiModal.modal-fixed-header.modal-fixed-footer.blue-grey-form.fade(data-bind="with: $root.filtersPlaceHolder.dateTime")
    .modal-header
        .modalTitle Date Time Filter
    .modal-content
        .row
            .col.s2.fromLabel
                span From:
            .col.s4
                span.startDatePicker
                    .input-field(data-bind="with: dateFrom")
                        label(for="dateFrom") Date
                        input#dateFrom.datepicker(data-bind="dtiAlarmsMaterializePickadate: value", type="text")
            .col.s1.blankSpace
            .col.s4
                span.startTimePicker
                    .input-field(data-bind="with: timeFrom")
                        label(for="timeFrom") Time
                        input#timeFrom.timepicker(data-bind="dtiAlarmsMaterializePickatime: value", type='text')
        .row
            .col.s2.toLabel
                span To:
            .col.s4
                span.endDatePicker
                    .input-field(data-bind="with: dateTo")
                        label(for="dateTo") Date
                        input#dateTo.datepicker(data-bind="dtiAlarmsMaterializePickadate: value", type="text")
            .col.s1.blankSpace
            .col.s4
                span.endTimePicker
                    .input-field(data-bind="with: timeTo")
                        label(for="timeTo") Time
                        input#timeTo.timepicker(data-bind="dtiAlarmsMaterializePickatime: value", type='text')
    .modal-footer
        .btn.waves-effect.waves-light.blue-grey(data-bind="click: $root.clearDateTimeFilter") Clear
        .btn.waves-effect.waves-light.blue-grey(data-bind="click: $root.applyDateTimeFilter") OK
