<div class="nav">
    <ul>
        <li><span>Overview</span></li>
        <!-- ko if: $root.isSystemAdmin() || (data._pStatus() === $root.utility.config.Enums["Point Statuses"].Inactive.enum)-->
        <li><span>Permissions</span></li>
        <!-- /ko -->
        <li><span>Involvement</span></li>
        <li><span>Alarm History</span></li>
        <li><span>Configuration <i class="fa fa-angle-right"></i></span>
            <ul>
                <li class="header"><span>Configuration</span>
                <li><span>General</span></li>
                <li><span>Value</span></li>
                <li><span>Network</span></li>
                <li><span>Alarms</span></li>
                <li><span>Notifications</span></li>
                <li class="back"><span><i class="fa fa-angle-left"></i> back</span></li>
            </ul>
        </li>
    </ul>
</div>

<div class="view">
    <div class="container-fluid">
        <div class="row header">
            <div class="col-xs-12">
                <h4>Overview</h4>
            </div>
        </div>
    </div>
    <div id="overview" class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-xs-12">
                    <div class="dataField">
                        <label>Value</label>
                        <div class="valueHolder">
                            <span class="val" data-bind="text: data.Value.Value"></span>
                        </div>
                        <div class="actions">
                            <!-- ko if: $root.authorize(data, $root.permissionLevels.CONTROL) -->
                                <!-- ko if: $root.isValidFirmwareLoader(data) -->
                                    <!-- ko component: { name: 'ctl-firmwareLoader', params: { rootContext: $root } } -->
                                    <!-- /ko -->
                                <!-- /ko -->
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <!--  ko component: { name: 'ctl-dropdown', params: { propertyName: 'Model Type', data: data, columnClasses: 'col col-sm-4 col-xs-6', enumSetName: 'Remote Unit Model Types', rootContext: $root } } -->
                <!-- /ko -->
                <div class="col col-sm-4 col-xs-6">
                    <div class="dataField">
                        <label>Firmware Version</label>
                        <span class="lh30" data-bind="text: data['Firmware Version'].Value()"></span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col col-sm-3 col-xs-6">
                    <div class="dataField">
                        <label>Last Report Time</label>
                        <span class="lh30" data-bind="text: moment.unix(data['Last Report Time'].Value()).calendar()"></span>
                    </div>
                </div>
                <div class="col col-sm-3 col-xs-6">
                    <div class="dataField">
                        <label>Device Status</label>
                        <span class="lh30" data-bind="text: data['Device Status'].Value()"></span>
                    </div>
                </div>
                <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Configure Device', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
                <!-- /ko -->
                <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Stop Scan', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
                <!-- /ko -->
            </div>
            <hr>
            <div class="row">
                <div data-bind="component: { name: 'ctl-description', params: { description: data.Description.Value, rootContext: $root } }"></div>
            </div>
        </div>
    </div>

    <div id="permissions" class="content">
        <div data-bind="component: { name: 'ctl-permissions', params: { isTabLoaded: tabTriggers.permissions, rootContext: $root } }"></div>
    </div>

    <div id="involvement" class="content">
        <div data-bind="component: { name: 'ctl-involvement', params: { id: data._id(), isTabLoaded: tabTriggers.involvement, rootContext: $root } }"></div>
    </div>

    <div id="general" class="content">
        <div class="row">
            <!--  ko component: { name: 'ctl-duration', params: { propertyName: 'COV Period', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
        </div>
    </div>

    <div id="value" class="content">
        <div class="row">
            <!--  ko component: { name: 'ctl-text', params: { propertyName: 'Active Text', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-text', params: { propertyName: 'Inactive Text', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <hr>
        <div class="row">
            <!--  ko component: { name: 'ctl-qualityCodeEnable', params: { propertyName: 'Quality Code Enable', data: data, columnClasses: 'col-xs-12', rootContext: $root } } -->
            <!-- /ko -->
        </div>
    </div>

    <div id="network" class="content">
        <div class="row">
            <!-- ko component: { name: 'ctl-pointReference', params: { refType: 'Device Point', rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <div class="row">
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Gateway', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-dropdown', params: { propertyName: 'Network Type', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-number', params: { propertyName: 'Instance', data: data, columnClasses: 'col col-sm-3 col-xs-6', min: 0, max: 4194303, rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <hr>
        <div class="row">
            <!--  ko component: { name: 'ctl-dropdown', params: { propertyName: 'Device Port', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-number', params: { propertyName: 'Network Segment', data: data, columnClasses: 'col col-sm-3 col-xs-6', min: 0, max: 65534, rootContext: $root } } -->
            <!-- /ko -->
            <!-- ko component: { name: 'ctl-text', params: { propertyName: 'Device Address', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-number', params: { propertyName: 'Ethernet IP Port', data: data, columnClasses: 'col col-sm-3 col-xs-6', min: 1, max: 65535, rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <hr>
        <div class="row">
            <!-- ko component: { name: 'ctl-text', params: { propertyName: 'Router Address', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <hr>
        <div class="row">
            <!-- ko component: { name: 'ctl-dropdown', params: { propertyName: 'Poll Function', data: data, columnClasses: 'col col-sm-4 col-xs-12', enumSetName: 'Modbus Poll Functions', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-number', params: { propertyName: 'Poll Register', data: data, columnClasses: 'col col-sm-4 col-xs-12', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-number', params: { propertyName: 'Modbus Unit Id', data: data, columnClasses: 'col col-sm-4 col-xs-12', rootContext: $root } } -->
            <!-- /ko -->
        </div>
    </div>

    <div id="alarms" class="content">
        <div class="row">
            <!-- ko component: { name: 'ctl-pointReference', params: { refType: 'Alarm Display Point', rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <div class="row">
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Alarms Off', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Alarm Repeat Enable', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <div class="clearfix visible-xs"></div>
            <!-- ko component: { name: 'ctl-dropdown', params: { propertyName: 'Alarm Class', data: data, columnClasses: 'col col-sm-6 col-xs-12', enumSetName: 'Alarm Classes', rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <div class="row">
            <!--  ko component: { name: 'ctl-duration', params: { propertyName: 'Alarm Repeat Time', data: data, columnClasses: 'col col-sm-3 col-xs-6', min: '0:0:0', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-duration', params: { propertyName: 'Alarm Delay Time', data: data, columnClasses: 'col col-sm-3 col-xs-6', min: '0:0:0', rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <hr>
        <div class="row">
            <!-- ko component: { name: 'ctl-dropdown', params: { propertyName: 'Alarm Value', data: data, columnClasses: 'col col-sm-6 col-xs-12', rootContext: $root } } -->
            <!-- /ko -->
        </div>
    </div>

    <div id="notifications" class="content">
        <div data-bind="component: { name: 'ctl-notifications', params: { data: data['Alarm Messages'], rootContext: $root } }"></div>
    </div>
</div>
