.modal.fade.alarmTemplateDeleteConfirm(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog.modal-sm
        .modal-content
            .modal-body(data-bind="with: alarmTemplate()")
                .form-group
                    label.confirmMessage Delete this Alarm Message Definition?
                    br
                    .form-group.deletionCandidate
                        label Alarm Message
                        div.msgFormat(data-bind="text: msgFormat.Value, style: {'background-color' : msgBackColor.Value, 'color': msgTextColor.Value}")

            .modal-footer.alarmTemplateControls
                    button.btn.btn-primary.btn-sm(data-bind='click: deleteAlarmTemplate') OK
                    button.btn.btn-default.btn-sm(data-dismiss="modal") Cancel