script#tmplGridRow(type='text/template')
    div(data-bind='foreach: $grid.visibleColumns,css:{"ui-widget-content":$grid.jqueryUITheme}')
        div(data-bind="kgCell: $data,style:{overflow:'visible'},attr:{class:cellClass() +'kgCell col'+$index() + ' '}")
script#tmplTextColor(type='text/html')
    div.swatch(data-bind='attr:{"class":"kgCellText colt"+$index(),"style":"background-color:#"+$parent.getProperty("msgTextColor")}')
        span(data-bind='text: $parent.getProperty("msgTextColor")')
script#tmplBackColor(type='text/html')
    div.swatch(data-bind='attr:{"class":"kgCellText colt"+$index(),"style":"background-color:#"+$parent.getProperty("msgBackColor")}')
            span.swatchColor(data-bind='text: $parent.entity[$data.field]')
script#tmplIsSystemMessage(type='text/html')
    div(data-bind='attr:{"class":"kgCellText colt"+$index()}')
        .btn-group(data-bind='visible:$parent.getProperty("deletable")')
          button.btn.btn-xs(type='button',data-bind='inlineConfirm:[$("#tmplTrashCanBtn").html(),$("#tmplQuestionBtn").html(),""],submitFunction:function() { $parent.$userViewModel.remove($parent.entity);}')
        .btn-group(data-bind='visible:$parent.getProperty("cloneable")')
          button.btn.btn-xs(type='button',data-bind='click:function() { $parent.$userViewModel.clone($parent.entity);}')
              span.fa.fa-clipboard
script#tmplSystemMessage(type='text/html')
  div(data-bind='text:$parent.getProperty("isSystemMessage")')
script#tmplGridFooter(type='text/html')
    div test
script#tmplGridMsgType(type='text/html')
    div(data-bind='attr:{"class":"kgCellText colt"+$index()},click:function() {  $parent.$userViewModel.setEditor($parent.entity); },text:$parent.entity[$data.field]')
script#tmplGridMsgCat(type='text/html')
    div(data-bind='attr:{"class":"kgCellText colt"+$index()},text:$parent.entity[$data.field]')
script#tmplGridMsgFormat(type='text/html')
    div(data-bind='attr:{"class":"kgCellText colt"+$index(),"style":"color:#"+$parent.getProperty("msgTextColor")+"; background-color:#"+$parent.getProperty("msgBackColor")},text:$parent.entity[$data.field]')
script#tmplTrashCanBtn(type='text/html')
    span.fa.fa-trash-o
script#tmplQuestionBtn(type='text/html')
    span.btn-danger.fa.fa-question
script#tmplRow(type='text/html')
    tr
        td
            span(data-bind='text:msgCatName')
        td
            span(data-bind='text:msgTypeName')
        td
            span(data-bind='text:msgName')
        td
            span(data-bind='text:msgFormat')
script#tmplHierarchy(type='text/html')
  .jumbotron.value-token
    h3(data-bind='text:$data')