doctype html
html
    head
        title= title
        meta(name='viewport',content='width=device-width,initial-scale=1')
        link(rel='stylesheet', href='/css/lib/jquery-ui.css')
        link(rel='stylesheet', href='/css/lib/bootstrap.3.0.2.min.css')
        link(rel='stylesheet', href='/css/lib/font-awesome-4.0.3/css/font-awesome.min.css')
        link(rel='stylesheet',href='/css/alarmMessageDefinitions/alarmMessageDefinitions.css')
        include _koGridTemplates.jade
        script#tmplEditor(type='text/html')
            include _editor.jade
    body#alarmMessageDefinitionsView
        #definitionsView(data-bind='with:gridViewModel')
            #filterGridCont(data-bind='with:definitions')
                #filterCont(data-bind='')
                    include gridFilter.jade
                #gridCont(data-bind='')
                    #grid.grid.table(style='min-height:500px',data-bind='koGrid:gridOptions')
        #editorContainer(data-bind='template:{name:"tmplEditor",foreach:editor,as:"editor"}')
        script(type='text/javascript', src='/js/lib/jquery.min.js')
        script(type='text/javascript', src='/js/alarmMessageDefinition/jquery.hoverIntent.min.js')
        script(type='text/javascript', src='/js/alarmMessageDefinition/knockback.fullstack.min.js')
        script(type='text/javascript', src='/js/alarmMessageDefinition/underscore.string.min.js')
        script(type='text/javascript', src='/js/alarmMessageDefinition/backbone-query.min.js')
        script(type='text/javascript', src='/js/alarmMessageDefinition/ko.editables.js')
        script(type='text/javascript', src='/js/alarmMessageDefinition/jquery.caret.js')
        script(type='text/javascript', src='/js/lib/bootstrap-3.0.3.min.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxcore.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxcolorpicker.js')
        script(type='text/javascript', src='/js/lib/ko.validation.js')
        script(type='text/javascript', src='/js/alarmMessageDefinition/knockout-inline-confirm.js')
        script(type='text/javascript', src='/js/alarmMessageDefinition/koGrid-2.1.1.js')
        script(type='text/javascript', src='/js/alarmMessageDefinition/ko.bindingHandler.colorPicker.js')
        script(type='text/javascript', src='/js/alarmMessageDefinition/vm.js')