// Alarm Template Editor Modal
.modal.fade.sysprefAlarmTemplateModel(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog.modal-sm
        // ko if: typeof alarmTemplate() !== undefined
        .modal-content.editor(data-bind="with: alarmTemplate()")
            .modal-header
                // ko if: _id !== null
                h3.panel-title Edit Alarm Message
                // /ko

                // ko if: _id === null
                h3.panel-title New Alarm Message (from existing)
                // /ko
            .modal-body
                fieldset
                    .form-group
                        label Name
                        input.msgName(data-bind='value: msgName.Value, disable: isSystemMessage.rawValue', type='text')
                    .form-group
                        label(data-bind="text:(isSystemMessage.rawValue) ? 'Alarm Message (Read-Only)': 'Alarm Message'")
                        textarea.msgFormat(data-bind="value: msgFormat.Value, disable: isSystemMessage.rawValue", type='text')

                        .value-token
                            h4 Alarm Message Tokens
                            table.alarmTokens(data-bind='foreach: $parent.alarmTemplateTokens')
                                tr.alarmToken
                                    td.alarmTokenCode(data-bind="text: '%' + $data.code", style="padding-right:10px;")
                                    td
                                        // ko if: $data !== ""
                                        | (
                                        span.alarmTokenName(data-bind="text: $data.name")
                                        | )
                                        // /ko

                    .form-group
                        label Message Text Color
                        div
                            div.msgTextColor(data-usedropdown="true", data-insertpalette="true", data-bind="diColorpicker: $parent.alarmTemplateTextColor")
                    .form-group
                        label Message Background Color
                        div
                            div.msgBackColor(data-usedropdown="true", data-insertpalette="true", data-bind="diColorpicker: $parent.alarmTemplateBackgroundColor")

            .modal-footer.alarmTemplateControls
                button.btn.btn-primary.btn-sm(data-bind='click: $parent.save') Save
                button.btn.btn-default.btn-sm(data-dismiss="modal") Cancel
                br
                label#alarmNameError(data-bind='visible: $parent.hasNameError') Alarm name must be entered and unique.
        // /ko