point-selector

script#comp-point-selector-template(type="text/html")
    .pointSelectorModal.modal.modal-fixed-header.blue-grey-form.materialize(data-bind="css: { 'modal-fixed-footer' : (mode() === 'filter'), 'filterMode' : (mode() === 'filter') }")
        .modal-header
            .modalTitle(data-bind="text: modalText")
        .modal-content(data-bind="css: {busy: busy}, delegate: [{event: 'click', selector: 'tbody td', handler: handleRowClick, scope: $data}, {event: 'mousedown', handler: handleRowMouseDown, selector: 'tbody td', scope: $data}, {event: 'contextmenu', selector: '.pointTypeList span', handler: handleRightClick, scope: $data}]")
            .fetching
                .progress
                    .indeterminate
            .content-header
                .pointSearch.input-field
                    i.material-icons.prefix search
                    input#pointSearchInput(type='search', data-bind="textInput: searchString, hasFocus: focus ")
                .pointTypeButton
                    a.btn-flat.waves-effect.pointTypeDropdownButton(href="#", data-bind="click: togglePointTypeList, css: { active: pointTypesShown}")
                        span(data-bind="text: pointTypeText")
                        i.material-icons.dropdownCaret arrow_drop_down
                .pointTypeList.z-depth-1(data-bind="foreach: pointTypes, fadeVisible: pointTypesShown")
                    // ko if: visible
                    span
                        input.filled-in(type='checkbox', data-bind="checked: selected, attr: {id: 'spt-' + $index() }")
                        label.label-tight(data-bind="text: name, attr: {for: 'spt-' + $index()}")
                    // /ko

            //- // ko if: results().length > 0
            //- .pointList(data-bind="visible: results().length > 0")
                //- .pointHeaders
            table.pointList.striped.fixedHeader
                thead
                    tr.white-text.blue-grey
                        th Point Type
                        th Name
                tbody
                    // ko foreach: results
                    tr
                        td(data-bind="text: pointType")
                        td(data-bind="text: path")
                    // /ko
        // ko if: mode() === 'filter'
        .modal-footer
            .btn.blue-grey.waves-effect.filterModeAccept(data-bind="delegate: [{event: 'click', handler: handleAcceptFilterClick}]") Accept
            .btn-flat.modal-action.modal-close.waves-effect.filterModeCancel Cancel
        // /ko

link(rel='stylesheet', href='/sass/components/pointSelector')
script(type='text/javascript', src='/js/components/pointSelector.js')