#background {
    position:absolute;
    overflow: hidden;
    top:0;
    left:0;
    bottom:0;
    right: 0;
}

#display {
    position: absolute;
    left: 50%;
    top: 50%;
}

.screenObject {
    position: absolute;
}

.displayButton {
    border:1px solid #9e9e9e;
    text-align:center;
    background-image:linear-gradient( #cccccc,#9e9e9e );
    color:inherit;
    border-radius:3px;
    margin:0;
    padding:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    cursor:pointer;
}
.displayButton:hover {
    background-image:linear-gradient( #9e9e9e,#cccccc );
    border:1px solid #cccccc;
}