body{
	margin:0px;
	height:100%;
}

#container .ui-body-c{
/*background-image: url(dots.gif)*/
}

#container .ui-content{
	padding:0px;
	margin:0px;
}

#track{
	padding:0px;
	margin:0px;
	float: left;

}

#track li{
	list-style-type: none;
	padding:0px;
	margin:0px;

	float:left;
	display: inline-block;
}

.displayTab{
	float:left;
}

#track li a{
	/*cursor:move;*/
}

#track .displayPin .ui-btn-inner{
	padding-left:4px;
	padding-right:4px;
}

#track .displayPop .ui-btn-inner{
	padding-left:4px;
	padding-right:4px;
}

#track .displayClose .ui-btn-inner{
	padding-left:4px;
	padding-right:4px;
}

.ui-icon-d-eye {
	background-image: url(cc/white/png/small/eye_icon_16.png);
	background-position: 4px 4px;
}

.ui-icon-d-burst {
	background-image: url(cc/white/png/small/doc_new_icon_16.png);
	background-position: 3px 3px;
}

.ui-icon-d-import {
	background-image: url(cc/white/png/small/doc_import_icon_16.png);
	background-position: 3px 3px;
}

.ui-icon-d-pop{
	background-image:url(cc/white/png/small/top_right_expand_icon_16.png);
	background-position: 3px 3px;
}

.ui-icon-d-save{
	background-image:url(cc/white/png/small/save_icon_16.png);
	background-position: 3px 3px;
}

.ui-icon-pinned-false{
	background-image:url(cc/white/png/small/push_pin_icon_16.png);
	background-position: 3px 3px;
}

.ui-icon-pinned-true{
	background-image:url(cc/white/png/small/gold_push_pin_icon_16.png);
	background-position: 3px 3px;
}

.ui-icon-d-wrench{
	background-image:url(cc/white/png/small/wrench_icon_16.png);
	background-position: 3px 3px;
}

.ui-icon-d-view{
	background-image:url(cc/white/png/small/monitor_icon_16.png);
	background-position: 3px 3px;
}

.ui-icon-d-clock{
	background-image:url(cc/white/png/small/clock_icon_16.png);
	background-position: 3px 3px;
}

.ui-icon-d-zoom{
	background-image:url(cc/white/png/small/zoom_icon_16.png);
	background-position: 3px 3px;
}

.ui-icon-d-open{
	background-image:url(cc/white/png/small/folder_open_icon_16.png);
	background-position: 3px 3px;
}

.object{
	position: absolute;

}

.iframe{
	border: none;
	height: 100%;
	width: 100%;
	position:absolute;
	top:0px;
	left:0px;

}

#framebox{
	background-image: linear-gradient( #3c3c3c /*{a-bar-background-start}*/, #111 /*{a-bar-background-end}*/);
}

#framebox .themea{
	display:block;
}

#framebox .themeb{
	display:none;
}

