#editColumnModal.modal.fade.modal-fixed-footer(data-bind="with: $root.currentColumnEdit", style="width: 600px;height: 800px;")
    .modal-content
        // ko if: $root.currentColumnEdit() !== undefined
        .headerInfo
            h6 Edit Column
        br
        form.form-horizontal(role="form")
            .form-group
                // ko if: ($root.reportType() !== 'Property')
                // ko if: ($root.canEdit())
                .control-label.col-sm-3(style="padding-top: 0px;")
                    a.btn-mini.tiny.waves-effect.waves-light(data-bind="click: function(){ $root.clearModalColumnPoint() }, tooltip: { title: 'Clear' }")
                        i.material-icons.tiny.center.blue-grey-text delete
                    a.btn-mini.tiny.waves-effect.waves-light(data-bind="click: function(){ $root.selectPointForModalColumn() }, tooltip: { title: 'Edit' }")
                        i.material-icons.tiny.center.blue-grey-text edit
                // /ko
                .col-sm-8
                    .columnName(data-bind="text: $data.colName, click: function(){ $root.showPointReview($data) }")
                // /ko
            // ko if: ($root.reportType() !== 'Property')
            .form-group
                label.control-label.col-sm-3 Display Name:
                .col-sm-8
                    input.form-control.columnDisplayName(data-bind="value: $data.colDisplayName, enable: $root.canEdit(), event: { change: function() { $root.designChanged(true) } }", type="text", required)
            // ko if: ($data.canCalculate)
            .form-group
                label.control-label.col-sm-3 Multiplier:
                .col-sm-8
                    input.form-control.inputMultiplier(data-bind="value: multiplier, enable: $root.canEdit()", type="number")
            // /ko
            // ko if: ($root.reportType() === 'Totalizer' && $data.canCalculate)
            .form-group
                label.control-label.col-sm-3 Type:
                .col-sm-8
                    .availableTotalizerOperatorsContainer(data-bind="css: {disabled: !$root.canEdit()}")
                        a.btn.waves-effect.waves-light.blue-grey.dropdown-button(data-bind="css: {disabled: !$root.canEdit()}", data-toggle="dropdown")
                            span(data-bind="text: $data.operator")
                            // ko if: (!!$data.valueList && $data.valueList.length > 1)
                            span.caret.lm10px
                            // /ko
                        // ko if: (!!$data.valueList && $data.valueList.length > 1)
                        ul.totalizerOperators.dropdown-menu
                            // ko foreach: $data.valueList
                            li
                                a(data-bind="click: function(){ $root.setCurrentColumnField('operator', $data.text) }, text: $data.text")
                            // /ko
                        // /ko
            // /ko
            // ko if: ($data.canCalculate)
            .form-group
                label.control-label.col-sm-3 Precision:
                .col-sm-8
                    input.form-control.inputPrecision(data-bind="reportPrecisionInput: precision, enable: $root.canEdit()", type="text", min="0", max="20", viewModelField="precision")
            // /ko
            // ko if: ($root.canEdit() && !!$data.canBeCharted && $data.canBeCharted)
            .form-group
                label.col-sm-3(style="text-align: right;") Chart:
                .col-sm-8
                    input.includeInChartColumn.form-control.input-md.filled-in#includeInChartCheckbox(data-bind="checked: $data.includeInChart, enable: ($root.canEdit() && !!canBeCharted)", type="checkbox")
                    label(data-bind="attr: {for: 'includeInChartCheckbox'}")
            // /ko
            // ko if: ($root.canEdit() && !!$data.canBeCharted && $data.canBeCharted)
            .form-group
                label.control-label.col-sm-3 Group:
                .col-sm-8
                    .globalAvailableAxisGroupsContainer
                        a.dropdown-button.btn.waves-effect.waves-light.blue-grey(href="#", data-activates="theChartGroup")
                            span(data-bind="text: $data.yaxisGroup")
                            span.caret.lm10px
                        ul#theChartGroup.dropdown-content(data-bind="foreach: $root.yaxisGroups")
                            li
                                a(data-bind="click: function(){ $root.setCurrentColumnField('yaxisGroup', $data) }, text: $data")
            // /ko
            // /ko
        // /ko
    .modal-footer
        a.btn.waves-effect.waves-light.blue-grey.cancelGlobalChange.modal-action.modal-close(data-bind="click: $root.closeEditColumnModal") Cancel
        a.btn.waves-effect.waves-light.blue-grey.setData.modal-action.modal-close(data-bind="click: $root.setEditedColumnData") OK