#globalEditColumnModal.modal.fade.modal-fixed-footer(data-bind="with: $root.currentColumnEdit", style="width: 300px;height: 420px;")
    .modal-content
        .headerInfo
            h6 Set all columns
        br
        form.form-horizontal(role="form")
            .row.blue-grey-text
                .col.s2.input-field
                    input.form-control.inputMultiplier(data-bind="value: $root.globalColumnMultiplier, enable: $root.canEdit(), css: { globallyChangedField: ($root.globalColumnMultiplier() != $root.globalFieldsColumnEditBefore().multiplier) }", type="number")
                    label.control-label.col-sm-3 Multiplier:
            .row.blue-grey-text
                .col.s2.input-field
                    input.form-control.inputPrecision(data-bind="reportPrecisionInput: $root.globalColumnPrecision, css: { globallyChangedField: ($root.globalColumnPrecision() != $root.globalFieldsColumnEditBefore().precision) }", type="text", min="0", max="20", viewModelField="$root.globalColumnPrecision")
                    label.control-label.col-sm-3 Precision:
            .row.blue-grey-text
                .col.s10
                    div(style="display: inline-flex")
                        .input-field
                            input.includeInChartColumn.form-control.input-md.filled-in#globalIncludeInchart(data-bind="checked: $root.globalColumnIncludeInChart, enable: $root.canEdit()", type="checkbox")
                            label(data-bind="attr: {for: 'globalIncludeInchart'}") Chart
                        .input-field.yaxisChartGroup.availableAxisGroupsContainer
                            select#globalAxisChartGroup(data-bind="attr: {disabled: !includeInChart}, options: $root.yaxisGroups, optionsText: $data, value: $root.globalColumnYaxisGroup, dtiReportsMaterializeSelect")
                            label(data-bind="attr: {for: 'globalAxisChartGroup'}") Group
    .modal-footer
        a.btn.waves-effect.waves-light.blue-grey.cancelGlobalChange.modal-action.modal-close Cancel
        a.btn.waves-effect.waves-light.blue-grey.setData.modal-action.modal-close(data-bind="click: $root.setGlobalEditedColumnData, enable: $root.pendingGlobalColumnChange()") OK