.modal-saveReport.modal.fade(data-refresh='true')
    form
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Report Template Dialog
                .modal-body
                            .container
                                .row.well-sm
                                    .col-sm-6
                                        .errorMessage.alert-danger
                                .row.well-sm
                                    .col-sm-6
                                        .successMessage.alert-success
                .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') OK
                        //button.btn.btn-primary#submitSaveReport(type='submit') Submit
