<div class="form-group">
    <div class="floatingHeader">
        <h3 data-bind="text: data.Name"></h3>
        <div class="actionGroup">
            <div data-bind="text: data._id" class="pointId"></div>
            <input type="button" data-bind="click: save" class="btn btn-sm btn-success" value="Save point">
        </div>
    </div>

    <table class="pointGrid table table-condensed">
        <thead>
            <tr>
                <th width="200"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <!-- ko with: data['Point Type'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Point Type</th>
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Point Type', enumOptions: pointEditor.utility.config.Utility.pointTypes.getEnums('Point Types', 'Analog Input') } }"></td>
        </tr>
        <!-- /ko -->
        <!-- ko with: data['Alarm Adjust Band'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Alarm Adjust Band</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, id: 'AlarmAdjustBand', propName: 'Alarm Adjust Band' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Alarm Adjust Point'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Alarm Adjust Point</th> 
            <td data-bind="template: { name: 'control8.point', data: { prop: $data, propName: 'Alarm Adjust Point' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Alarm Class'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Alarm Class</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Alarm Class', enumOptions: pointEditor.utility.config.Utility.pointTypes.getEnums('Alarm Classes', 'Analog Input') } }"></td>
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Alarm Deadband'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Alarm Deadband</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, id: 'AlarmDeadband', propName: 'Alarm Deadband' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Alarm Delay Time'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Alarm Delay Time</th> 
            <td data-bind="template: { name: 'control13.minSec', data: { prop: $data, propName: 'Alarm Delay Time' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Alarm Display Point'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Alarm Display Point</th> 
            <td data-bind="template: { name: 'control8.point', data: { prop: $data, propName: 'Alarm Display Point' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Alarm Inhibit'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Alarm Inhibit</th> 
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'Alarm Inhibit' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Alarm Repeat Enable'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Alarm Repeat Enable</th> 
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'Alarm Repeat Enable' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Alarm Repeat Time'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Alarm Repeat Time</th> 
            <td data-bind="template: { name: 'control17.hrMin', data: { prop: $data, propName: 'Alarm Repeat Time' } }"></td>
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Alarm State'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Alarm State</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Alarm State', enumOptions: pointEditor.utility.config.Utility.pointTypes.getEnums('Alarm States', 'Analog Input') } }"></td>
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Alarms Off'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Alarms Off</th> 
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'Alarms Off' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Broadcast Enable'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Broadcast Enable</th> 
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'Broadcast Enable' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['COV Enable'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">COV Enable</th> 
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'COV Enable' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['COV Increment'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">COV Increment</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, id: 'COVIncrement', propName: 'COV Increment' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Channel'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Channel</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Channel' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Conversion Adjustment'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Conversion Adjustment</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, id: 'ConversionAdjustment', propName: 'Conversion Adjustment' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Conversion Coefficient 1'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Conversion Coefficient 1</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, id: 'ConversionCoefficient1', propName: 'Conversion Coefficient 1' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Conversion Coefficient 2'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Conversion Coefficient 2</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, id: 'ConversionCoefficient2', propName: 'Conversion Coefficient 2' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Conversion Coefficient 3'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Conversion Coefficient 3</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, id: 'ConversionCoefficient3', propName: 'Conversion Coefficient 3' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Conversion Coefficient 4'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Conversion Coefficient 4</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, id: 'ConversionCoefficient4', propName: 'Conversion Coefficient 4' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Conversion Type'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Conversion Type</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Conversion Type', enumOptions: pointEditor.utility.config.Utility.pointTypes.getEnums('Conversion Types', 'Analog Input') } }"></td>
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Description'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Description</th> 
            <td data-bind="template: { name: 'control2.text', data: { prop: $data, propName: 'Description' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Device Point'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Device Point</th> 
            <td data-bind="template: { name: 'control8.point', data: { prop: $data, propName: 'Device Point' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Disable Limit Fault'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Disable Limit Fault</th> 
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'Disable Limit Fault' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Enable Warning Alarms'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Enable Warning Alarms</th> 
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'Enable Warning Alarms' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Engineering Units'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Engineering Units</th> 
            <td data-bind="template: { name: 'control2.text', data: { prop: $data, propName: 'Engineering Units' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Filter Weight'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Filter Weight</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, id: 'FilterWeight', propName: 'Filter Weight' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['High Alarm Limit'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">High Alarm Limit</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, id: 'HighAlarmLimit', propName: 'High Alarm Limit' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['High Warning Limit'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">High Warning Limit</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, id: 'HighWarningLimit', propName: 'High Warning Limit' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Input Type'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Input Type</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Input Type', enumOptions: $data.ValueOptions } }"></td>
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Instance'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Instance</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Instance' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Interlock Point'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Interlock Point</th> 
            <td data-bind="template: { name: 'control8.point', data: { prop: $data, propName: 'Interlock Point' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Interlock State'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Interlock State</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Interlock State', enumOptions: $data.ValueOptions } }"></td>
        </tr> 
        <!-- /ko -->
        <!-- ko with: data['Last Report Time'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Last Report Time</th>
            <td data-bind="template: { name: 'control11.timeT', data: { prop: $data, propName: 'Last Report Time' } }"></td>
        </tr>
        <!-- /ko -->
        <!-- ko with: data['Low Alarm Limit'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Low Alarm Limit</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, id: 'LowAlarmLimit', propName: 'Low Alarm Limit' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Low Warning Limit'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Low Warning Limit</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, id: 'LowWarningLimit', propName: 'Low Warning Limit' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Maximum Value'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Maximum Value</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, id: 'MaximumValue', propName: 'Maximum Value' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Minimum Value'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Minimum Value</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, id: 'MinimumValue', propName: 'Minimum Value' } }"></td> 
        </tr> 
        <!-- /ko -->
        <!-- ko with: data['Out of Service'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Out of Service</th> 
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'Out of Service' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Point Instance'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Point Instance</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Point Instance' } }"></td> 
        </tr> 
        <!-- /ko -->
        <!-- ko with: data['Poll Data Type'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Poll Data Type</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Poll Data Type', enumOptions: pointEditor.utility.config.Utility.pointTypes.getEnums('Modbus Data Types', 'Analog Input') } }"></td>
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Poll Function'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Poll Function</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Poll Function', enumOptions: pointEditor.utility.config.Utility.pointTypes.getEnums('Modbus Poll Functions', 'Analog Input') } }"></td>
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Poll Register'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Poll Register</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Poll Register' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Quality Code Enable'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Quality Code Enable</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Quality Code Enable' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Reliability'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Reliability</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Reliability', enumOptions: pointEditor.utility.config.Utility.pointTypes.getEnums('Reliabilities', 'Analog Input') } }"></td>
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Remarks'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Remarks</th> 
            <td data-bind="template: { name: 'control2.text', data: { prop: $data, propName: 'Remarks' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Remote Unit Point'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Remote Unit Point</th> 
            <td data-bind="template: { name: 'control8.point', data: { prop: $data, propName: 'Remote Unit Point' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Sensor Point'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Sensor Point</th> 
            <td data-bind="template: { name: 'control8.point', data: { prop: $data, propName: 'Sensor Point' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Status Flags'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Status Flags</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Status Flags' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Trend COV Increment'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Trend COV Increment</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, id: 'TrendCOVIncrement', propName: 'Trend COV Increment' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Trend Enable'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Trend Enable</th> 
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'Trend Enable' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Trend Interval'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Trend Interval</th> 
            <td data-bind="template: { name: 'control13.minSec', data: { prop: $data, propName: 'Trend Interval' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Trend Samples'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Trend Samples</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Trend Samples' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['VAV Channel'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">VAV Channel</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'VAV Channel', enumOptions: $data.ValueOptions } }"></td>
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Value'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Value</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, id: 'Value', propName: 'Value' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Value Deadband'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Value Deadband</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, id: 'ValueDeadband', propName: 'Value Deadband' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Warning Adjust Band'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Warning Adjust Band</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, id: 'WarningAdjustBand', propName: 'Warning Adjust Band' } }"></td> 
        </tr> 
        <!-- /ko -->

        <!-- ko foreach: data['Point Refs'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row" data-bind="text: PropertyName"></th>
            <td data-bind="template: { name: 'control8.point' }"></td>
        </tr>
        <!-- /ko -->

        </tbody>
    </table>
</div>
