<!-- Optimum Start.Occupancy Schedule array entry template -->
<div class="form-control-static">
    <label>
    	<span data-bind="text: day"></span> Enable
    	<input type="checkbox" data-bind="checked: prop.Enable">
    </label>
    <br />
    <label>
    	<span>Begin Time</span>
    	<input type="text" data-bind="timeSpan: prop['Occupancy Begin Time'], propName: propName+'Begin', noValidate: true, type: 'hrMin'" readonly class="form-control makeEditable">
    </label>
    <label>
    	<span>End Time</span>
    	<input type="text" data-bind="timeSpan: prop['Occupancy End Time'], propName: propName+'End', noValidate: true, type: 'hrMin'" readonly class="form-control makeEditable">
    </label>
</div>
