<div class="form-group">
    <div class="floatingHeader">
        <h3 data-bind="text: data.Name"></h3>
        <div class="actionGroup">
            <div data-bind="text: data._id" class="pointId"></div>
            <input type="button" data-bind="click: save" class="btn btn-sm btn-success" value="Save point">
        </div>
    </div>

    <table class="pointGrid table table-condensed">
        <thead>
            <tr>
                <th width="200"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <!-- ko with: data['Point Type'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Point Type</th>
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Point Type', enumOptions: pointEditor.utility.config.Utility.pointTypes.getEnums('Point Types', 'Remote Unit') } }"></td>
        </tr>
        <!-- /ko -->
        <!-- ko with: data['Active Text'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Active Text</th> 
            <td data-bind="template: { name: 'control2.text', data: { prop: $data, propName: 'Active Text' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Alarm Class'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Alarm Class</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Alarm Class', enumOptions: pointEditor.utility.config.Utility.pointTypes.getEnums('Alarm Classes', 'Remote Unit') } }"></td>
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Alarm Delay Time'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Alarm Delay Time</th> 
            <td data-bind="template: { name: 'control13.minSec', data: { prop: $data, propName: 'Alarm Delay Time' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Alarm Display Point'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Alarm Display Point</th> 
            <td data-bind="template: { name: 'control8.point', data: { prop: $data, propName: 'Alarm Display Point' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Alarm Inhibit'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Alarm Inhibit</th> 
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'Alarm Inhibit' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Alarm Repeat Enable'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Alarm Repeat Enable</th> 
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'Alarm Repeat Enable' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Alarm Repeat Time'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Alarm Repeat Time</th> 
            <td data-bind="template: { name: 'control17.hrMin', data: { prop: $data, propName: 'Alarm Repeat Time' } }"></td>
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Alarm State'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Alarm State</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Alarm State', enumOptions: pointEditor.utility.config.Utility.pointTypes.getEnums('Alarm States', 'Remote Unit') } }"></td>
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Alarm Value'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Alarm Value</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Alarm Value', enumOptions: $root.data.Value.ValueOptions } }"></td>
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Alarms Off'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Alarms Off</th> 
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'Alarms Off' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['COV Period'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">COV Period</th> 
            <td data-bind="template: { name: 'control13.minSec', data: { prop: $data, propName: 'COV Period' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Configure Device'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Configure Device</th> 
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'Configure Device' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Description'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Description</th> 
            <td data-bind="template: { name: 'control2.text', data: { prop: $data, propName: 'Description' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Device Address'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Device Address</th> 
            <td data-bind="template: { name: 'control2.text', data: { prop: $data, propName: 'Device Address' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Device Point'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Device Point</th> 
            <td data-bind="template: { name: 'control8.point', data: { prop: $data, propName: 'Device Point' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Device Port'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Device Port</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Device Port', enumOptions: $data.ValueOptions } }"></td>
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Device Status'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Device Status</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Device Status', enumOptions: pointEditor.utility.config.Utility.pointTypes.getEnums('Device Statuses', 'Remote Unit') } }"></td>
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Firmware Version'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Firmware Version</th> 
            <td data-bind="template: { name: 'control2.text', data: { prop: $data, propName: 'Firmware Version' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Inactive Text'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Inactive Text</th> 
            <td data-bind="template: { name: 'control2.text', data: { prop: $data, propName: 'Inactive Text' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Instance'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Instance</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Instance' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Last Report Time'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Last Report Time</th> 
            <td data-bind="template: { name: 'control11.timeT', data: { prop: $data, propName: 'Last Report Time' } }"></td>
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Model Type'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Model Type</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Model Type', enumOptions: pointEditor.utility.config.Utility.pointTypes.getEnums('Remote Unit Model Types', 'Remote Unit') } }"></td>
        </tr> 
        <!-- /ko -->
        <!-- ko with: data['Network Segment'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Network Segment</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Network Segment' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Network Type'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Network Type</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Network Type', enumOptions: $data.ValueOptions } }"></td>
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Point Instance'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Point Instance</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Point Instance' } }"></td> 
        </tr> 
        <!-- /ko -->
        <!-- ko with: data['Poll Function'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Poll Function</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Poll Function', enumOptions: pointEditor.utility.config.Utility.pointTypes.getEnums('Modbus Poll Functions', 'Remote Unit') } }"></td>
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Poll Register'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Poll Register</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Poll Register' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Quality Code Enable'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Quality Code Enable</th> 
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Quality Code Enable' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Reliability'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Reliability</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Reliability', enumOptions: pointEditor.utility.config.Utility.pointTypes.getEnums('Reliabilities', 'Remote Unit') } }"></td>
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Remarks'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Remarks</th> 
            <td data-bind="template: { name: 'control2.text', data: { prop: $data, propName: 'Remarks' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Stop Scan'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Stop Scan</th> 
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'Stop Scan' } }"></td> 
        </tr> 
        <!-- /ko --> 
        <!-- ko with: data['Value'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Value</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Value', enumOptions: $data.ValueOptions } }"></td>
        </tr> 
        <!-- /ko -->



        <!-- ko foreach: data['Point Refs'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row" data-bind="text: PropertyName"></th>
            <td data-bind="template: { name: 'control8.point' }"></td>
        </tr>
        <!-- /ko -->


        </tbody>
    </table>
</div>
