<div class="form-group">
    <div class="floatingHeader">
        <h3 data-bind="text: data.Name"></h3>
        <div class="actionGroup">
            <div data-bind="text: data._id" class="pointId"></div>
            <input type="button" data-bind="click: save" class="btn btn-sm btn-success" value="Save point">
        </div>
    </div>

    <table class="pointGrid table table-condensed">
        <thead>
            <tr>
                <th width="200"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Script Source</th>
            <td>
                <!--
                <pre data-bind="text: data['Script Source File']" class="form-control-static" style="width: 100%; min-width: 600px; min-height: 200px; max-height: 600px; overflow: hidden; overflow-y: scroll;"></pre>
                -->
                <textarea data-bind="value: data['Script Source File']" class="form-control-static" style="width: 100%; min-width: 600px; min-height: 200px; margin-bottom: 20px;"></textarea>
                
                 <!-- ko with: pointEditor.scriptHandler --> 
                <input type="button" data-bind="click: scriptCompile" class="btn btn-success" value="Compile"></input> &nbsp; 
                <input type="button" data-bind="click: scriptCommit" class="btn btn-success" value="Commit" id="commitButton" style="display: none;"></input> &nbsp; 
                <span id="result"></span>
                <!-- /ko -->
            </td>
        </tr>
        <tr>
            <th scope="row">Compiled Code Size</th>
            <td><span data-bind="text: data['Compiled Code Size']" class="form-control-static"></span></td>
        </tr>
        <tr>
            <th scope="row">Point Register Count</th>
            <td><span data-bind="text: data['Point Register Count']" class="form-control-static"></span></td>
        </tr>
        <tr>
            <th scope="row">Integer Register Count</th>
            <td><span data-bind="text: data['Integer Register Count']" class="form-control-static"></span></td>
        </tr>
        <tr>
            <th scope="row">Real Register Count</th>
            <td><span data-bind="text: data['Real Register Count']" class="form-control-static"></span></td>
        </tr>
        <tr>
            <th scope="row">Boolean Register Count</th>
            <td><span data-bind="text: data['Boolean Register Count']" class="form-control-static"></span></td>
        </tr>

        <!-- ko with: data['Description'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Description</th> 
            <td data-bind="template: { name: 'control2.text', data: { prop: $data, propName: 'Description' } }"></td> 
        </tr> 
        <!-- /ko --> 

        <!-- ko with: data['Remarks'] --> 
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Remarks</th> 
            <td data-bind="template: { name: 'control2.text', data: { prop: $data, propName: 'Remarks' } }"></td> 
        </tr> 
        <!-- /ko --> 
        </tbody>
    </table>
</div>
