<div class="form-group">
    <div class="floatingHeader">
        <input type="button" data-bind="click: save" class="btn btn-success" value="Save point">
        <h3 data-bind="text: data.Name"></h3>
    </div>

    <table class="pointGrid table table-condensed">
        <thead>
            <tr>
                <th width="200"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">_id</th>
            <td><span data-bind="text: data._id" class="form-control-static"></span></td>
        </tr>

        <!-- ko with: data['Point Type'] -->
        <tr>
            <th scope="row">Point Type</th>
            <td><span data-bind="text: Value"></span></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Description'] -->
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Description</th> 
            <td data-bind="template: { name: 'control2.text', data: { prop: $data, propName: 'Description' } }"></td> 
        </tr> 
        <!-- /ko -->

        <!-- ko with: window.opener.workspaceManager.config.Utility.getPointRegister(data['Point Refs'](), 'PropertyName', 'Device Point') -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Device Point</th>
            <td data-bind="template: { name: 'control8.point' }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: window.opener.workspaceManager.config.Utility.getPointRegister(data['Point Refs'](), 'PropertyName', 'Remote Unit Point') -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Remote Unit Point</th>
            <td data-bind="template: { name: 'control8.point' }"></td>
        </tr>
        <!-- /ko -->

        </tbody>
    </table>

    <!-- General Tab -->
    <table class="pointGrid table table-condensed">
        <thead>
            <tr>
                <th width="200">General</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <!-- ko with: window.opener.workspaceManager.config.Utility.getPointRegister(data['Point Refs'](), 'PropertyName', 'Occupied Input') -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Occupied Input</th>
            <td><span data-bind="template: { name: 'control8.point' }"></span></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: window.opener.workspaceManager.config.Utility.getPointRegister(data['Point Refs'](), 'PropertyName', 'Zone Temp Point') -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Zone Temp Point</th>
            <td><span data-bind="template: { name: 'control8.point' }"></span></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: window.opener.workspaceManager.config.Utility.getPointRegister(data['Point Refs'](), 'PropertyName', 'Zone Offset Point') -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Zone Offset Point</th>
            <td><span data-bind="template: { name: 'control8.point' }"></span></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: window.opener.workspaceManager.config.Utility.getPointRegister(data['Point Refs'](), 'PropertyName', 'CFM Input Point') -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">CFM Input Point</th>
            <td><span data-bind="template: { name: 'control8.point' }"></span></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: window.opener.workspaceManager.config.Utility.getPointRegister(data['Point Refs'](), 'PropertyName', 'Source Air Temp Point') -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Source Air Temp Point</th>
            <td><span data-bind="template: { name: 'control8.point' }"></span></td>
        </tr>
        <!-- /ko -->

        <!-- TODO Missing property "Control Band" in point refs?? -->

        <!-- ko with: data['Control Band Value'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Control Band Value</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Control Band Value' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['CFM Deadband'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">CFM Deadband</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'CFM Deadband' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Warmup Deadband'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Warmup Deadband</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Warmup Deadband' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Startup Delay'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Startup Delay</th>
            <td data-bind="template: { name: 'control17.hrMin', data: { prop: $data, propName: 'Startup Delay' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Override Time'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Override Time</th>
            <td data-bind="template: { name: 'control17.hrMin', data: { prop: $data, propName: 'Override Time' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Controller'] -->
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Controller</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Controller', enumOptions: pointEditor.utility.workspace.systemEnums.controllers } }"></td>
        </tr> 
        <!-- /ko -->

        <!-- ko with: data['Control Priority'] -->
        <tr data-bind="css: { active: !isDisplayable() }"> 
            <th scope="row">Control Priority</th> 
            <td data-bind="template: { name: 'control5.enumSelect', data: { prop: $data, propName: 'Control Priority', enumOptions: pointEditor.utility.workspace.systemEnums.controlpriorities } }"></td>
        </tr> 
        <!-- /ko -->
        </tbody>
    </table>

    <!-- Lights / Digital Heat Tab -->
    <table class="pointGrid table table-condensed">
        <thead>
            <tr>
                <th width="200">Lights / Digital Heat</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        
        <!-- ko with: window.opener.workspaceManager.config.Utility.getPointRegister(data['Point Refs'](), 'PropertyName', 'Lights Control Point') -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Lights Control Point</th>
            <td><span data-bind="template: { name: 'control8.point' }"></span></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: window.opener.workspaceManager.config.Utility.getPointRegister(data['Point Refs'](), 'PropertyName', 'Digital Heat 1 Control Point') -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Digital Heat 1 Control Point</th>
            <td><span data-bind="template: { name: 'control8.point' }"></span></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Digital Heat 1 Run Unoccupied'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Digital Heat 1 Run Unoccupied</th>
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'Digital Heat 1 Run Unoccupied' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: window.opener.workspaceManager.config.Utility.getPointRegister(data['Point Refs'](), 'PropertyName', 'Digital Heat 2 Control Point') -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Digital Heat 2 Control Point</th>
            <td><span data-bind="template: { name: 'control8.point' }"></span></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Digital Heat 2 Run Unoccupied'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Digital Heat 2 Run Unoccupied</th>
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'Digital Heat 2 Run Unoccupied' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: window.opener.workspaceManager.config.Utility.getPointRegister(data['Point Refs'](), 'PropertyName', 'Digital Heat 3 Control Point') -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Digital Heat 3 Control Point</th>
            <td><span data-bind="template: { name: 'control8.point' }"></span></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Digital Heat 3 Run Unoccupied'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Digital Heat 3 Run Unoccupied</th>
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'Digital Heat 3 Run Unoccupied' } }"></td>
        </tr>
        <!-- /ko -->
        </tbody>
    </table>

    <!-- Cooling Tab -->
    <table class="pointGrid table table-condensed">
        <thead>
            <tr>
                <th width="200">Cooling</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        
        <!-- ko with: window.opener.workspaceManager.config.Utility.getPointRegister(data['Point Refs'](), 'PropertyName', 'Damper Control Point') -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Damper Control Point</th>
            <td><span data-bind="template: { name: 'control8.point' }"></span></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: window.opener.workspaceManager.config.Utility.getPointRegister(data['Point Refs'](), 'PropertyName', 'Occupied Cool Setpoint') -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Occupied Cool Setpoint</th>
            <td><span data-bind="template: { name: 'control8.point' }"></span></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: window.opener.workspaceManager.config.Utility.getPointRegister(data['Point Refs'](), 'PropertyName', 'Unoccupied Cool Setpoint') -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Unoccupied Cool Setpoint</th>
            <td><span data-bind="template: { name: 'control8.point' }"></span></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Occupied Cool Setpoint Value'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Occupied Cool Setpoint Value</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Occupied Cool Setpoint Value' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Unoccupied Cool Setpoint Value'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Unoccupied Cool Setpoint Value</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Unoccupied Cool Setpoint Value' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Occupied Max Cool CFM'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Occupied Max Cool CFM</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Occupied Max Cool CFM' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Occupied Min Cool CFM'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Occupied Min Cool CFM</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Occupied Min Cool CFM' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Unoccupied Max Cool CFM'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Unoccupied Max Cool CFM</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Unoccupied Max Cool CFM' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Unoccupied Min Cool CFM'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Unoccupied Min Cool CFM</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Unoccupied Min Cool CFM' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Calibration Factor'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Calibration Factor</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Calibration Factor' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Damper Proportional Band'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Damper Proportional Band</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Damper Proportional Band' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Damper Reset Gain'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Damper Reset Gain</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Damper Reset Gain' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Damper Min Output'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Damper Min Output</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Damper Min Output' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Damper Max Output'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Damper Max Output</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Damper Max Output' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Damper Unoccupied Output'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Damper Unoccupied Output</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Damper Unoccupied Output' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Damper Run Unoccupied'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Damper Run Unoccupied</th>
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'Damper Run Unoccupied' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Damper Reverse Acting'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Damper Reverse Acting</th>
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'Damper Reverse Acting' } }"></td>
        </tr>
        <!-- /ko -->

        </tbody>
    </table>

    <!-- Heat #1 Tab -->
    <table class="pointGrid table table-condensed">
        <thead>
            <tr>
                <th width="200"> Heat #1</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        
        <!-- ko with: window.opener.workspaceManager.config.Utility.getPointRegister(data['Point Refs'](), 'PropertyName', 'Heat 1 Control Point') -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Heat 1 Control Point</th>
            <td><span data-bind="template: { name: 'control8.point' }"></span></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: window.opener.workspaceManager.config.Utility.getPointRegister(data['Point Refs'](), 'PropertyName', 'Occupied Heat Setpoint') -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Occupied Heat Setpoint</th>
            <td><span data-bind="template: { name: 'control8.point' }"></span></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: window.opener.workspaceManager.config.Utility.getPointRegister(data['Point Refs'](), 'PropertyName', 'Unoccupied Heat Setpoint') -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Unoccupied Heat Setpoint</th>
            <td><span data-bind="template: { name: 'control8.point' }"></span></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Occupied Max Heat CFM'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Occupied Max Heat CFM</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Occupied Max Heat CFM' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Occupied Min Heat CFM'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Occupied Min Heat CFM</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Occupied Min Heat CFM' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Unoccupied Max Heat CFM'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Unoccupied Max Heat CFM</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Unoccupied Max Heat CFM' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Unoccupied Min Heat CFM'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Unoccupied Min Heat CFM</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Unoccupied Min Heat CFM' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Heat 1 Proportional Band'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Heat 1 Proportional Band</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Heat 1 Proportional Band' } }"></td>
        </tr>
        <!-- /ko -->
        <!-- ko with: data['Heat 1 Reset Gain'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Heat 1 Reset Gain</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Heat 1 Reset Gain' } }"></td>
        </tr>
        <!-- /ko -->
        <!-- ko with: data['Heat 1 Min Output'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Heat 1 Min Output</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Heat 1 Min Output' } }"></td>
        </tr>
        <!-- /ko -->
        <!-- ko with: data['Heat 1 Max Output'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Heat 1 Max Output</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Heat 1 Max Output' } }"></td>
        </tr>
        <!-- /ko -->
        <!-- ko with: data['Heat 1 Unoccupied Output'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Heat 1 Unoccupied Output</th>
            <td data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Heat 1 Unoccupied Output' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Heat 1 Run Unoccupied'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Heat 1 Run Unoccupied</th>
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'Heat 1 Run Unoccupied' } }"></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Heat 1 Reverse Acting'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Heat 1 Reverse Acting</th>
            <td data-bind="template: { name: 'control7.bool', data: { prop: $data, propName: 'Heat 1 Reverse Acting' } }"></td>
        </tr>
        <!-- /ko -->

        </tbody>
    </table>

    <!-- Fan Control Tab -->
    <table class="pointGrid table table-condensed">
        <thead>
            <tr>
                <th width="200">Fan Control</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        
        <!-- ko with: window.opener.workspaceManager.config.Utility.getPointRegister(data['Point Refs'](), 'PropertyName', 'Fan Control Point') -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Fan Control Point</th>
            <td><span data-bind="template: { name: 'control8.point' }"></span></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Fan On CFM Setpoint'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Fan On CFM Setpoint</th>
            <td><span data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Fan On CFM Setpoint' }}"></span></td>
        </tr>
        <!-- /ko -->

        <!-- ko with: data['Fan Off CFM Setpoint'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Fan Off CFM Setpoint</th>
            <td><span data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Fan Off CFM Setpoint' }}"></span></td>
        </tr>
        <!-- /ko -->
        
        <!-- ko with: data['Fan Off Temp Deadband'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Fan Off Temp Deadband</th>
            <td><span data-bind="template: { name: 'control.number', data: { prop: $data, propName: 'Fan Off Temp Deadband' }}"></span></td>
        </tr>
        <!-- /ko -->
        
        <!-- ko with: data['Fan Control Strategy'] -->
        <tr data-bind="css: { active: !isDisplayable() }">
            <th scope="row">Fan Control Strategy</th>
            <td><span data-bind="text: Value"></span></td>
        </tr>
        <!-- /ko -->

        </tbody>
    </table>
</div>
