<div class="nav">
    <ul>
        <li><span>Overview</span></li>
        <!-- ko if: $root.isSystemAdmin() -->
        <li><span>Permissions</span></li>
        <!-- /ko -->
        <li><span>Involvement</span></li>
        <li><span>Schedule</span></li>
        <li><span>Alarm History</span></li>
        <li><span>Configuration <i class="fa fa-angle-right"></i></span>
            <ul>
                <li class="header"><span>Configuration</span>
                <li><span>Hardware</span></li>
                <li><span>Value</span></li>
                <li><span>Occupancy Schedule</span></li>
                <li><span>Notifications</span></li>
                <li><span>Control</span></li>
                <li><span>References</span></li>
                <li class="back"><span><i class="fa fa-angle-left"></i> back</span></li>
            </ul>
        </li>
    </ul>
</div>

<div class="view">
    <div class="container-fluid">
        <div class="row header">
            <div class="col-xs-12">
                <h4>Overview</h4>
            </div>
        </div>
    </div>
    <div id="overview" class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-sm-6 col-xs-12">
                    <div class="dataField">
                        <label>Value</label>
                        <div class="valueHolder">
                            <span class="val" data-bind="text: data.Value.Value"></span>
                        </div>
                        <div class="actions">
                            <!-- ko component: { name: 'ctl-readValue', params: { rootContext: $root } } -->
                            <!-- /ko -->
                            <!-- ko if: data['Trend Samples'].Value() > 0 -->
                                <!-- ko component: { name: 'ctl-viewTrend', params: { rootContext: $root } } -->
                                <!-- /ko -->
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
                <div class="col col-sm-6 col-xs-12">
                    <div class="dataField">
                        <label>Last Report Time</label>
                        <span class="lh30" data-bind="text: moment.unix(data['Last Report Time'].Value()).calendar()"></span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Out of Service', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
                <!-- /ko -->
            </div>
            <hr>
            <div class="row">
                <div data-bind="component: { name: 'ctl-description', params: { description: data.Description.Value, rootContext: $root } }"></div>
            </div>
        </div>
    </div>

    <div id="permissions" class="content">
        <div data-bind="component: { name: 'ctl-permissions', params: { isTabLoaded: tabTriggers.permissions, rootContext: $root } }"></div>
    </div>

    <div id="involvement" class="content">
        <div data-bind="component: { name: 'ctl-involvement', params: { id: data._id(), isTabLoaded: tabTriggers.involvement, rootContext: $root } }"></div>
    </div>

    <div id="schedule" class="content">
        <div data-bind="component: { name: 'ctl-scheduleEntries', params: { id: data._id(), point: data, pointType: data['Point Type'].Value(),isTabLoaded: tabTriggers.entries, rootContext: $root } }"></div>
    </div>

    <div id="hardware" class="content">
        <div class="row">
            <!-- ko component: { name: 'ctl-pointReference', params: { refType: 'Device Point', rootContext: $root } } -->
            <!-- /ko -->
        </div>
    </div>

    <div id="value" class="content">
        <div class="row">
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'COV Enable', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <hr>
        <div class="row">
            <!--  ko component: { name: 'ctl-number', params: { propertyName: 'Trend Samples', data: data, columnClasses: 'col col-sm-3 col-xs-6', min: 0, max: 255, rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-duration', params: { propertyName: 'Trend Interval', data: data, columnClasses: 'col col-sm-3 col-xs-6', min: '0:0:1', max: '0:59:59', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Trend Enable', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
        </div>
    </div>

    <div id="occupancyschedule" class="content">
        <div class="row">
            <!--  ko component: { name: 'ctl-duration', params: { propertyName: 'Lead Time', data: data, columnClasses: 'col col-sm-3 col-xs-6', min: '0:0:0', max: '23:59:59', rootContext: $root } } -->
            <!-- /ko -->
        </div>

        <div class="table-responsive">
            <table class="grid table table-condensed">
                <thead>
                <tr>
                    <th>Enable</th>
                    <th>Day</th>
                    <th>Begin Time</th>
                    <th>End Time</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: data['Occupancy Schedule']">
                <tr>
                    <td>
                        <input type="checkbox" data-bind="checked: Enable, enable: $parent.isInEditMode">
                    </td>
                    <td data-bind="text: $parent.days[$index()]"></td>
                    <td>
                        <!--  ko component: { name: 'ctl-duration', params: { propertyName: 'Occupancy Begin Time', data: $data, naked: true, columnClasses: 'col col-sm-3 col-xs-6', min: '0:0:0', max: '23:59:59', noValidation: true, rootContext: $root } } -->
                        <!-- /ko -->
                    </td>
                    <td>
                        <!--  ko component: { name: 'ctl-duration', params: { propertyName: 'Occupancy End Time', data: $data, naked: true, columnClasses: 'col col-sm-3 col-xs-6', min: '0:0:0', max: '23:59:59', noValidation: true, rootContext: $root } } -->
                        <!-- /ko -->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="control" class="content">
        <div class="row">
                <!--  ko component: { name: 'ctl-dropdown', params: { propertyName: 'Controller', data: data, columnClasses: 'col col-sm-6 col-xs-12', enumSetName: 'Controller', rootContext: $root } } -->
                <!-- /ko -->
                <!--  ko component: { name: 'ctl-dropdown', params: { propertyName: 'Control Priority', data: data, columnClasses: 'col col-sm-6 col-xs-12', enumSetName: 'Control Priority', rootContext: $root } } -->
                <!-- /ko -->
        </div>
        <hr>
        <div class="row">
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Heating Equipment', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Cooling Equipment', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <hr>
        <div class="row">
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Active Release', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Inactive Release', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <hr>
        <div class="row">
            <!--  ko component: { name: 'ctl-number', params: { propertyName: 'Heating Gain', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-number', params: { propertyName: 'Cooling Gain', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-number', params: { propertyName: 'Outside Air Gain', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-number', params: { propertyName: 'Stop Gain', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <hr>
        <div class="row">
            <!--  ko component: { name: 'ctl-number', params: { propertyName: 'Input Deadband', data: data, min: 0, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <hr>
        <div class="row">
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Setback Enable', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-dropdown', params: { propertyName: 'Setback Controller', data: data, columnClasses: 'col col-sm-6 col-xs-12', enumSetName: 'Controllers', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-number', params: { propertyName: 'Setback Deadband', data: data, min: 0, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <hr>
        <div class="row">
            <!--  ko component: { name: 'ctl-number', params: { propertyName: 'Cooling Setpoint', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-number', params: { propertyName: 'Heating Setpoint', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
        </div>
    </div>

    <div id="references" class="content">
        <div class="row">
            <!-- ko component: { name: 'ctl-pointReference', params: { refType: 'Control Point', rootContext: $root } } -->
            <!-- /ko -->
            <!-- ko component: { name: 'ctl-pointReference', params: { refType: 'Monitor Point', rootContext: $root } } -->
            <!-- /ko -->
            <!-- ko component: { name: 'ctl-pointReference', params: { refType: 'Occupied Point', rootContext: $root } } -->
            <!-- /ko -->
            <!-- ko component: { name: 'ctl-pointReference', params: { refType: 'Setpoint Input', rootContext: $root } } -->
            <!-- /ko -->
            <!-- ko component: { name: 'ctl-pointReference', params: { refType: 'Outside Air Point', rootContext: $root } } -->
            <!-- /ko -->
        </div>
    </div>

    <div id="notifications" class="content">
        <div data-bind="component: { name: 'ctl-notifications', params: { data: data['Alarm Messages'], rootContext: $root } }"></div>
    </div>
</div>