.form-group
    label(for='Maximize') Maximize
    input#MaximizeOff(data-bind='checked: candidate.maximizeDisplays',type='checkbox',name='MaximizeOff')
.form-group
    label(for='closeAfterShow') Close After Show
    input#closeAfterShowOn(data-bind='checked: candidate.closeOnComplete',type='checkbox',name='closeAfterShowOn')
.input-group
    span.input-group-addon
        label(for='finiteLoop') Set Finite Loop
    input#repeat.form-control(data-bind='value: candidate.repeat',type='number',name='repeat')