.form-group
    label.col-sm-2(for='slideShowDescription') Description
    textarea#slideShowDescription.form-control(data-bind='value: candidate.description',required="required",min="5",type='text',placeholder='Slide Show Description')
