h1#errorIndicator(data-states='{"error":3}',data-bind='visible:visibilize($element)') Error!
h1#invalidIndicator(data-states='{"invalid":3}',data-bind='visible:visibilize($element)') Invalid!
h1#dataIndicator(data-states='{"data":3}',data-bind='visible:visibilize($element)') Data!
div#dirtyIndicator(data-states='{"dirty":3}',data-bind='if:visibilize($element)') Dirty!
div#fatalIndicator(data-states='{"fatalError":3}',data-bind='if:visibilize($element)') fatal Error!

