div.form-group
    label.sr-only(for='name1') Name 1
    input#name1(placeholder='Name 1',data-bind='value: candidate.name1',data-toggle='tooltip',title='Name 1',type='text',class='form-control,col-md-4')
    label.sr-only(for='name2') Name 2
    input#name2(placeholder='Name 2',data-bind='value: candidate.name2',type='text',class='form-control,col-md-4')
    label.sr-only(for='name3') Name 3
    input#name3(placeholder='Name 3',data-bind='value: candidate.name3',type='text',class='form-control,col-md-4')
    label.sr-only(for='name4') Name 4
    input#name4(placeholder='Name 4',data-bind='value: candidate.name4',type='text',class='form-control,col-md-4')