script(type='text/html',id='tmplSlide')
    li.list-group-item.row.sortable
        .col-md-4(data-bind='text: slide.order')
        .col-md-4(data-bind='text: slide.display')
        .col-md-4
            input(type='number',data-bind='value: slide.duration')
ol#slides(data-bind='template: {name:"tmplSlide",foreach:candidate.slides, as:"slide"}')
    li.list-group-item.header.row
        .col.md-4 Order
        .col-md-4 Display
        .col-md-4 Duration
