extends layout
block content
    div
        span states
        select#states(data-bind='options: states,value: state')
    div.page-header
        h1 New Slide Show
    div#loading.loading(data-states='{"loading":3}',data-bind='visible:visibilize($element)')
        span loading
    div#fatalError(data-states='{"fatalError":3,"ready":0,"loading":0}',data-bind='if:visibilize($element)')
        h3 An Error Occurred
        .btn-group
            button.btn.btn-primary Okay
    include _error.pug
    div#ready.ready(data-bind='if: visibilize($element)',data-states='{"fatalError":0,"ready":3,"invalid":3,"dirty":3,"data":3,"error":3,"confirm":3}')
        div.panel
            ul.panel-heading.nav.nav-tabs
                li.active
                    a(data-target='#Configuration',data-toggle='tab') Configuration
                li
                    a(href='#Description',data-toggle='tab') Description
                li
                    a(href='#Slides',data-toggle='tab') Slides
            .panel-body
                include _names.pug
                div.tab-content
                    #Configuration.tab-pane.active
                        include _configuration.pug
                    #Description.tab-pane
                        include _description.pug
                    #Slides.tab-pane
                        .row
                            .col-md-2
                                button#addSlide.btn.btn-primary Add Slide
                                button#removeSlide.btn.btn-primary Remove Slide
                                button#moveUp.btn.btn-primary
                                    span.glyphicon.glyphicon-arrow-up Move Up
                                button#moveDown.btn.btn-primary
                                    span.glyphicon.glyphicon-arrow-down Move Down
                                .form-group
                                    label(for='#globalDuration') Global Duration
                                    input#globalDuration(type='number',placeholder='-1',data-bind='value: candidate.globalDuration')
                            .col-md-10
                                include _slides.pug
            div.panel-footer
                div
                    span.error.glyphicon.glyphicon-warning-sign warning
                include _indicators
                include _commands.pug
        include _confirm.pug