doctype html
html
    head
        title
        link(rel='stylesheet', href='/css/lib/bootstrap3.min.css')
        link(rel='stylesheet', href='/css/slideShows/slideShow.css')
    body
        block content
        script(src='/js/lib/jquery-1.9.1.min.js')
        script(src='/js/lib/underscore.js')
        script(src='/js/lib/async.js')
        script(src='/js/lib/bootstrap3.min.js')
        script(src='/js/lib/knockout-3.1.0.js')
        script(src='/js/lib/knockout.mapping-2.3.5.js')
        block script
