extends layout
block script
	link(rel='stylesheet', href='/css/slideShows/slideShow.css')
	script(src='/js/lib/screenfull.min.js',type='text/javascript')
	script(src='/js/slideShows/slideShowViewModel.js', type='text/javascript')
block content
	#case.maximize
		span.glyphicon.glyphicon-cog.diconfig
		.navbar.slideShowNavbar
			.container-fluid
				.navbar-header
					.btn-group
						button.btn.glyphicon.glyphicon-pause(data-bind='visible: !isPaused(), click: pause')
							span
						button.btn.glyphicon.glyphicon-play(data-bind='visible: isPaused(), click: play')
							span
						button.btn.glyphicon.glyphicon-step-backward(data-bind='enable:canSkip(), click: moveCarouselBackward()')
						button.btn.glyphicon.glyphicon-step-forward(data-bind='enable:canSkip(), click: moveCarouselForward()')
						button.btn.glyphicon.glyphicon-resize-full(data-bind='visible: (!inFullScreenMode()), click: setFullScreen()')
							span
						button.btn.glyphicon.glyphicon-resize-small(data-bind='visible: (inFullScreenMode()), click: setNonFullScreen()')
							span
						button.btn.glyphicon.glyphicon-remove-circle(data-bind='click: close')
							span
						button.btn.glyphicon(data-bind='if:currentSlide')
							span#left(data-bind='text: (currentSlide().order + 1) + " of " + numberOfSlides')
						button.btn.glyphicon(data-bind='')
							span#seconds(data-bind='text: timeRemaining')
	.slidescontainer
		div.frame1container(style='height: 100%; width: 100%;')
			iframe.frame1(id='frame1', webkitAllowFullScreen mozAllowFullScreen allowFullScreen)
		div.frame2container(style='height: 100%; width: 100%;')
			iframe.frame2(id='frame2', webkitAllowFullScreen mozAllowFullScreen allowFullScreen)
		div.frame3container(style='height: 100%; width: 100%;')
			iframe.frame3(id='frame3', webkitAllowFullScreen mozAllowFullScreen allowFullScreen)
		#errorSlide.slide.hidden.bg-danger
			.jumbotron
				h1 An Error Occurred Loading The Slide Show