doctype html
html
    head
        title
        link(rel='stylesheet', href='/css/lib/materialize.css')
        link(rel='stylesheet', href='/css/lib/materialize.icons.css')
        link(rel='stylesheet', href='/css/lib/materialdesignicons.css')
        link(rel='stylesheet', href='/css/lib/materialize.clockpicker.min.css')
        link(rel='stylesheet', href='/css/lib/font-awesome-4.0.3/css/font-awesome.min.css')
        //link(rel='stylesheet', href='/css/lib/jquery.timepicker.css')
        link(rel='stylesheet', href='/css/lib/jquery-ui.css')
        link(rel='stylesheet', href='/sass/v2/common')
        link(rel='stylesheet', href='/css/activityLogs/activityLogs.css')
    body.activitylogBody
        .content
            // FILTERS
            #filters.flex-container
                // User FILTERS
                .filterContainer.userFilterDropdown(id="userFilters", data-bind="click: function () { $root.editUserFilter() }, visible: true", title="Filter by user name")
                    .filterIcon.fa.fa-user(data-bind="css: { 'dropdown-toggle-filter-set' : usersFilterIsSet(), 'dropdown-toggle' : !usersFilterIsSet() }")
                // NAME SEGMENT FILTERS
                .filterContainer(id="nameFilters", title="Filter by point name and/or point type" )
                    .filterIcon.fa.fa-font.fa(data-bind="css: { 'dropdown-toggle-filter-set' : pointTypeNameFilterIsSet(), 'dropdown-toggle' : !pointTypeNameFilterIsSet() }, click: showPointFilter")
                // TIME DATE FILTERS
                .filterContainer(id="timeDateFilters", title="Filter by date and/or time", data-bind="click: function () { $root.editDateTimeFilter() }, visible: true")
                    .filterIcon.fa.fa-clock-o.fa(data-bind="css: { 'dropdown-toggle-filter-set' : datetimeFilterIsSet(), 'dropdown-toggle' : !datetimeFilterIsSet() }")

                .filterInfo
                    .filterIcon.resetFilter(data-bind="click: resetFilters, visible: filterIsSet", title="Reset All Filters")
                        .fa.fa-filter.fa-2x
                        .fa.fa-times-circle.x(data-bind="visible: filterIsSet")
                    .filterIcon.fa.fa-refresh(data-bind="click: refreshActivityLogsData, visible: !activityLogs().gettingData()", title="Refresh")
                    .filterIcon.fa.fa-refresh.fa-spin(data-bind="visible: activityLogs().gettingData()", title="Getting activities from server...")

                // PRINT BUTTON
                .btn.btn-small.right.waves-effect.waves-light.blue-grey(type="button" data-bind="click:printLogs") Print

            #activitylogContainer
                .header
                    .colTime(data-bind="click: toggleDateTimeSort")
                        | Timestamp
                        i.right.fa(data-bind="css: { 'fa-arrow-up' : sortAscending(), 'fa-arrow-down' : !sortAscending() }")
                    .colUserName
                        | User
                    .colPointName
                        | Point
                    .colLog
                        | &nbsp; Log
                .activityLogs.thinScroll
                        table
                            tbody(id="activityLogRows", data-bind="foreach: activityLogsForPageSize()")
                                tr
                                    td.colTime
                                        span.selectable
                                            span(data-bind="text: prettyDate")
                                            |  &nbsp;
                                            span(data-bind="text: prettyTime")
                                    td.colUserName
                                        span.selectable(data-bind="text: username")
                                    td.colPointName
                                        a.span.selectable.colPointName(id="pointNameField", data-bind="click: function () { $root.showPointReview($element, $data) }, text: Name, attr: { title: Name }")
                                    td.colLog
                                        span.selectable(data-bind="text: log")

                .pages
                    .left
                        //-  TODO
                        //-  Disable until this is supported in v2
                        //- .pop.cursorPointer(data-bind='click: togglePop')
                            .popOut
                                .fa.fa-arrow-circle-up
                                | Pop Out
                            .popIn.hidden
                                .fa.fa-arrow-circle-down
                                | Pop In
                        // ko if: pageNumber() > 1
                        // ko if: activityLogs().numberOfPages() > 2
                        a(href='javascript:void(0)', data-bind="click: changePage.bind($data, 'begin')") <<<
                        | &nbsp;&nbsp;
                        // /ko
                        a(href='javascript:void(0)', data-bind="click: changePage.bind($data, -1)") Previous Page
                        | &nbsp;&nbsp;
                        // /ko
                        | Page&nbsp;
                        span(data-bind="text: pageNumber")
                        |  of&nbsp;
                        span(data-bind="text: activityLogs().numberOfPages")
                        | &nbsp; &nbsp;
                        // ko if: pageNumber() !== activityLogs().numberOfPages()
                        a(href='javascript:void(0)', data-bind="click: changePage.bind($data, +1)") Next Page
                        // ko if: activityLogs().numberOfPages() > 2
                        | &nbsp;&nbsp;
                        a(href='javascript:void(0)', data-bind="click: changePage.bind($data, 'end')") >>>
                        // /ko
                        // /ko
                    .ActivityLogsCount.right
                        span(data-bind="text: activityLogs().count()")
                        |  ActivityLogs

        include modals/userfilter
        include modals/timeDateFilters

        script(type='text/javascript', src='/js/lib/jquery-1.9.1.min.js')
        script(type='text/javascript', src='/js/lib/knockout-3.4.0.js')
        script(type='text/javascript', src='/js/lib/materialize.min.js')
        script(type='text/javascript', src='/js/lib/materialize.clockpicker.js')
        script(type='text/javascript', src="/js/lib/socket.io.js")
        script(type='text/javascript', src='/js/lib/store2.min.js')
        script(type='text/javascript', src='/js/lib/date.js')
        //script(type='text/javascript', src='/js/lib/jquery.timepicker.min.js')
        script(type='text/javascript', src='/js/lib/jquery.printarea.js')
        script(type='text/javascript', src='/js/lib/jstween-1.1.min.js')
        script(type='text/javascript', src='/js/lib/moment.js')
        script(type='text/javascript', src='/js/lib/jquery-ui.js')
        script(type='text/javascript', src='/js/v2/dorsettUtility.js')
        script(type='text/javascript', src='/js/activityLogs/activityLogs.js')

