doctype html
html
    head
        title
        link(rel='stylesheet', href='/css/lib/jquery.mobile-1.3.2/jquery.mobile-1.3.2.min.css')
        link(rel='stylesheet', href='/css/lib/messenger/messenger.css')
        link(rel='stylesheet', href='/css/lib/messenger/messenger-theme-future.css')
        link(rel='stylesheet', href='/css/securityAdmin/style.css')
        link(rel='stylesheet', href='/css/securityAdmin/animations.css')
        link(rel="stylesheet", href="/css/lib/font-awesome-4.1.0/css/font-awesome.min.css")
        script(type='text/javascript', src='/js/lib/jquery-1.9.1.min.js')
        script(type='text/javascript', src='/js/lib/jquery.mobile-1.3.2.min.js')
        script(type='text/javascript', src='/js/lib/jquery-ui-1.10.3.custom.js')
        script(type='text/javascript', src='/js/lib/moment.js')
        script(type='text/javascript', src='/js/lib/jstween-1.1.min.js')
        script(type='text/javascript', src='/js/lib/knockout-2.2.0.js')
        script(type='text/javascript', src='/js/lib/koExternalTemplateEngine_all.min.js')
        script(type='text/javascript', src='/js/lib/ko.validation.js')
        script(type='text/javascript', src='/js/lib/knockout.mapping-2.3.5.js')
        script(type='text/javascript', src='/js/lib/ko-data-projections.js')
        script(type='text/javascript', src='/js/securityAdmin/ko.bindingHandlers.js')
        script(type='text/javascript', src='/js/securityAdmin/dorsett.js')
        script(type='text/javascript', src='/js/securityAdmin/dorsett.init.js')
        script(type='text/javascript', src='/js/securityAdmin/dorsett.models.userModel.js')
        script(type='text/javascript', src='/js/securityAdmin/dorsett.models.groupModel.js')
        script(type='text/javascript', src='/js/securityAdmin/dorsett.pager.js')
        script(type='text/javascript', src='/js/lib/jquery.mask.min.js')
        script(type='text/javascript', src='/js/lib/jquery.zclip.js')
        script(type='text/javascript', src='/js/lib/socket.io.js')
        script(type='text/javascript', src='/js/lib/messenger/messenger.min.js')
        script(type='text/javascript', src='/js/lib/messenger/messenger-theme-flat.js')
        script(type='text/javascript', src='/js/lib/messenger/messenger-theme-future.js')
    body(data-enhance='false')
        #loadingScreen
            #loadingTitle
                //img(src='img/securityAdmin/logo_dorsett-tech.png', width='363', height='133')
                //h2 InfoScan User Administration
                //p.animated.flash Loading...
        #DT_Security_main(data-role='page')
            #DT_Security_header(data-role='header', data-theme='d')
                #DT_Security_title User Management
                //#DT_Security_branding Dorsett Technologies
            #DT_Security_sections(data-bind='setHeight: dorsett.domContextHeight')
                #DT_Security_users(data-bind='setHeight: dorsett.domContextHeight() / 2 - 4')
                    .listContainer.ui-body.ui-body-c.ui-shadow
                        .filterBox
                            .ui-grid-a
                                .ui-block-a.width35
                                    a(href='#', data-role='button', data-theme='b', data-mini='true', data-bind='click: function(){showPanel("user",{})}') Add User
                                .ui-block-b.width65
                                    input(type='search', data-mini='true', data-corners='false', data-bind='value: userData.searchString, valueUpdate: "keyup"')
                        h2 Users
                        ul.list(data-bind='setHeight: dorsett.domContextHeight() / 2, reduceBy: 85, foreach: userData.page, listviewBinding: userData.page')
                            li.user.ui-shadow(data-bind='click: function(data){$root.showPanel("user", data)}, drag: {value: $data}')
                                .photobg.male(data-bind='loadImage: Photo')
                                .user_text
                                    b
                                        | <!-- ko text: $data['First Name'] + ' ' + $data['Last Name'] --><!-- /ko -->
                                .user_text(data-bind='text: Title')
                #DT_Security_groups(data-bind='setHeight: dorsett.domContextHeight() / 2 - 4')
                    .listContainer.ui-body.ui-body-c.ui-shadow(ui-shadow='ui-shadow')
                        .filterBox
                            .ui-grid-a
                                .ui-block-a.width35
                                    a(href='#', data-role='button', data-theme='b', data-mini='true', data-bind='click: function(){showPanel("group",{})}') Add Group
                                .ui-block-b.width65
                                    input(type='search', data-mini='true', data-corners='false', data-bind='value: groupData.searchString, valueUpdate: "keyup"')
                        h2 Groups
                        ul.list(data-role='listview', data-bind='setHeight: dorsett.domContextHeight() / 2, reduceBy: 85, foreach: groupData.page, listviewBinding: groupData.page')
                            li.group.ui-shadow(data-bind='click: function(data){$root.showPanel("group", data)}, drag: {value: $data}')
                                .profilePhoto.ui-shadow
                                    .photobgsmall.groupIcon(data-bind='loadImage: Photo')
                                .userGroupData
                                    b(data-bind='text: $data["User Group Name"]')
                                    span.normal-text(data-bind='text: " (" + dorsett.userCount.call(Users, "User", "Users") + ")"')
                                    .normal-text(data-bind='text: Description')
                #DT_Security_panel.ui-body-c
                    #DT_Security_panelWindow
            #permissionsDialog.permissionsDialog(data-role='popup', data-corners='false', data-overlay-theme='a', data-theme='c', data-tolerance='15,15')
                a.ui-btn-right(href='#', data-rel='back', data-role='button', data-theme='a', data-icon='delete', data-iconpos='notext') Close
            #confirmDialog.confirmDialog.ui-corner-all(data-role='popup', data-overlay-theme='a', data-theme='c')
                .ui-corner-top(data-role='header', data-theme='a')
                    h1.title
                .ui-corner-bottom(data-role='content', data-theme='d', style='padding: 15px;')
                    .ui-grid-a
                        .ui-block-a.width100
                            h5.message
                        .ui-block-a
                            a.delete(href='#', data-role='button', data-theme='r') Yes
                        .ui-block-b(style='position: relative;')
                            a(href='#', data-role='button', data-theme='a', data-rel='back') No
            #passwordDialog.passwordDialog.ui-corner-all(data-role='popup', data-overlay-theme='a', data-theme='c')
                .ui-corner-top(data-role='header', data-theme='a')
                    h1 Reset Password
                .ui-corner-bottom(data-role='content', data-theme='d', style='padding: 15px;')
                    .ui-grid-a
                        .ui-block-a.width100
                            h4 The new password for&nbsp;
                                span.firstName
                                | &nbsp;is...
                        .ui-block-a.width65
                            input.password(type='text', data-mini='true', data-bind='event:{change:function(data, event){dorsett.editData.Password(event.target.value)}}')
                        .ui-block-b.width35(style='position: relative;')
                            a.btnCopy(href='#', data-mini='true', data-role='button', data-theme='b') Copy Password
                        .ui-block-a.width100
                            h5
                                span.firstName
                                | &nbsp;will be required to change the password at next login.
                    a(href='#', data-role='button', data-theme='g', data-rel='back') All Done
            #contactInfoDialog.contactInfoDialog.ui-corner-all(data-role='popup', data-overlay-theme='a', data-theme='c')
                .ui-corner-top(data-role='header', data-theme='a')
                    h1 Add Contact Information
                .ui-corner-bottom(data-role='content', data-theme='d', style='padding: 15px;')
                    .ui-grid-a
                        .ui-block-a.width100
                            h4
                                | Add a new contact method for 
                                span.firstName
                        .ui-block-a.width100
                            label
                                | Type
                                select.contactOptions(data-native-menu='false', data-bind='event: {change: function(data, event) {dorsett.setMask(event, "#contactInfoDialog .value")}}')
                                    option Select a contact option
                                    | <!-- ko foreach: dorsett.contactValidationMap -->
                                    option(data-bind='value: type, text: type')
                                    | <!-- /ko -->
                        .ui-block-a.width100
                            label
                                | Name
                                input.name(type='text', data-mini='true')
                        .ui-block-a.width100
                            label
                                | Value
                                input.value(type='text', data-mini='true')
                        .ui-block-a
                            a(href='#', data-bind='click: dorsett.addContactInfo', data-role='button', data-theme='g', data-rel='back') Add Info
                        .ui-block-b
                            a(href='#', data-role='button', data-theme='a', data-rel='back') Cancel
            #popupDialog.popupDialog.ui-corner-all(data-role='popup', data-overlay-theme='a', data-theme='c')
                .ui-corner-top(data-role='header', data-theme='a')
                    h1.title
                .ui-corner-bottom.ui-content(data-role='content', data-theme='d')
                    p.message
                    p  
                    a(href='#', data-role='button', data-rel='back', data-mini='true', data-transition='flow', data-theme='b') Ok
