doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/lib/bootstrap.min.css')

        link(rel='stylesheet', href='/css/notifications/notifications.css')
    body


    script(src='/js/lib/jquery.min.js')
    script(src='/js/lib/socket.io.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/lib/knockout.debug.js')

    script(src='/js/dashboard/notifications.js')

