doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/lib/bootstrap.min.css')

    body
            div.jumbotron(style='text-align:center;background-color:#ccc')
                img(src='/img/dorsett_logo.png', alt='Dorsett')
                span.label
                    h4
                        | There is an error. Please consult with system administrator if error persists.