script(type='text/javascript', src='/js/lib/jquery-1.9.1.js')
script(type='text/javascript', src='/js/lib/jquery-ui.js')
script(type='text/javascript', src='/js/lib/moment.js')
script(type='text/javascript', src='/js/lib/jquery.contextMenu.min.js')
script(type='text/javascript', src='/js/lib/jquery.blockUI.js')
script(type='text/javascript', src='/js/lib/lodash.min.js')
script(type='text/javascript', src='/js/lib/knockout-3.2.0.debug.js')
script(type='text/javascript', src='/js/lib/knockout.viewModel.js')
script(type='text/javascript', src='/js/lib/socket.io.js')
script(type='text/javascript', src='/js/lib/materialize.js')
    
script(type='text/javascript', src='/js/v2/dti.js')
script(type='text/javascript', src='/js/v2/dtiCommon.js')
script(type='text/javascript', src='/js/v2/dorsettUtility.js')

include /components/pointSelector.pug