doctype html
html
    head
        title
            | Infoscan by Dorsett Technologies
        link(rel='stylesheet', href='/css/lib/materialize.css')
        link(rel='stylesheet', href='/sass/v2/home')
        //- link(rel='stylesheet', href='/css/lib/font-awesome.4.6.1.css')
        link(rel='stylesheet', href='/css/lib/jstree.themes/default/style.min.css')
        link(rel='stylesheet', href='/css/lib/jquery-ui.css')
        link(rel='stylesheet', href='/css/lib/jquery.contextMenu.min.css')
        link(rel='stylesheet', href='/css/lib/materialdesignicons.css')

    body.grey.lighten-3

        header.hidden
            .navbar-fixed.taskbar
                nav.blue-grey
                    .nav-wrapper
                        ul.left
                            li.taskbarItem
                                .startButtonContainer(data-menu="startmenu")
                                    a#startButton.dropdown-button(href="javascript://", data-position='bottom', data-tooltip='New Window')
                                        i.material-icons apps

                            li.taskbarItem
                                a#globalSearch.waves-effect(href='javascript://')
                                    i.material-icons search
                            li.taskbarItem
                                a.tooltipped.taskbarButton.iconOnly.waves-effect(href='javascript://', data-bind="click: function () { dti.utility.showNavigator(); }", data-position='bottom', data-tooltip='Navigator', data-delay='10')
                                    i.mdi.mdi-compass
                            li.taskbarItem
                                a#showOpenItems.taskbarButton.iconOnly.waves-effect.tooltipped(href='javascript://', style='', data-position='bottom', data-tooltip='Manage Open Windows', data-delay='10')
                                    i.material-icons filter_none

                            // ko foreach: windowGroups
                            span(data-bind="template: { name: 'taskbarButtonTemplate', data: $data }")
                            // /ko

                        ul.right
                            li.taskbarItem
                                a#alarmIcon.waves-effect(href="javascript://", data-menu="alarmDropdown")
                                    i.material-icons notifications_active
                                    span.badge.alarmCount 3
                            li.taskbarItem
                                a#showDesktop.waves-effect.tooltipped(data-bind="click: showDesktop", href='javascript://', data-position='bottom', data-tooltip='Show Desktop')
                                    i.material-icons home

                            li.taskbarItem
                                .userInfo.valign-wrapper
                                    img.userAvatar(src='/img/test/avatar.png')
                                    span.userName.valign John Doe

        main.hidden

            #searchBox.white.z-depth-1
                .input-field
                    i.material-icons.prefix search
                    input#searchPopup(type='text', required='')
                    //- label(for='searchPopup') Search
                    //- i.material-icons close

            #alarmDropdown.white.z-depth-1
                .alarmHeader
                    span Unacknowledged Alarms
                    .right
                        a.blue-grey-text.waves-effect.tooltipped(href="javascript://", data-position='bottom', data-tooltip='Mute Alarms', data-delay='10')
                            i.material-icons volume_up
                        a.blue-grey-text.waves-effect.tooltipped(href="javascript://", data-position='bottom', data-tooltip='Open Alarm Console', data-delay='10')
                            i.material-icons notifications_active
                .alarmBody.container
                    .row
                        .col.s1.ack.z-depth-1
                            a.waves-effect Ack
                        .col.s2.type Emergency
                        .col.s3.time Today 8:45:12
                        .col.s6.message Wet Well High Level
                    .row
                        .col.s1.ack.z-depth-1
                            a.waves-effect Ack
                        .col.s2.type Critical
                        .col.s3.time Today 9:55:12
                        .col.s6.message 4250_UNV02_AH1_SAF VFD Device Failed
                    .row
                        .col.s1.ack.z-depth-1
                            a.waves-effect Ack
                        .col.s2.type Critical
                        .col.s3.time Today 11:32:12
                        .col.s6.message 4250_UNV02 Device Operational

            ul#globalSearchResults.dropdown-content.active(style="display: none; position: absolute; right: 109px; top: 48px; opacity: 1; width: 264px;")
                li
                    a.blue-grey-text.truncate(href='javascript://', data-position='left', data-tooltip='4250 AH5 DISP', data-delay='10') 4250 AH5 DISP
                li
                    a.blue-grey-text.truncate(href='javascript://', data-position='left', data-tooltip='AIR HANDLERS', data-delay='10') AIR HANDLERS
                li
                    a.blue-grey-text.truncate(href='javascript://', data-position='left', data-tooltip='MONTHLY REPORT', data-delay='10') MONTHLY REPORT

            #startmenu.z-depth-3.white.lighten-3.white-text
                .startmenuBody
                    .tileList(data-bind="foreachprop: startMenuItems")
                        // ko with: value
                        a.hoverable.dti-menu-tile.card-panel.z-depth-1.blue-grey(href='javascript://', data-bind="click: $root.startMenuClick")
                            i.center-align(data-bind="css: iconClass, text: iconText")
                            span(data-bind="text: title")             
                        // /ko       
                    //- .tileList
                    //-     a.hoverable.dti-menu-tile.card-panel.z-depth-1.blue-grey(href='javascript://', data-bind="showNavigator: 'Display'")
                    //-         i.material-icons.center-align tv
                    //-         span Displays
                    //-     span.hoverable.dti-menu-tile.card-panel.z-depth-1.blue-grey
                    //-         i.material-icons.center-align notifications
                    //-         span Alarms
                    //-     span.hoverable.dti-menu-tile.card-panel.z-depth-1.blue-grey
                    //-         i.material-icons.center-align assignment
                    //-         span Reports
                    //-     span.hoverable.dti-menu-tile.card-panel.card-panel-custom-icon.z-depth-1.blue-grey
                    //-         i
                    //-             img(src='/img/test/icons/file-tree-36.png')
                    //-         span Device Tree
                    //-     span.hoverable.dti-menu-tile.card-panel.z-depth-1.blue-grey
                    //-         i.material-icons.center-align assignment
                            span DB Manager



                    .recentItems
                        .col.s12.blue-grey-text Recent Items
                            //- .recentHeader.collection-item.blue-grey-text
                            //-     .center-align Recent Items
                        a.blue-grey-text.collection-item(href="javascript://")
                            span.title 4200 PARKING LOT LIGHTS
                                i.left.material-icons device_hub
                        a.blue-grey-text.collection-item(href="javascript://")
                            span.title 4200 CRU1 DISP
                                i.left.material-icons tv
                        a.blue-grey-text.collection-item(href="javascript://")
                            span.title DEVICE ADDRESS REPORT
                                i.left.material-icons assignment
                    .settings.blue-grey-text
                        //- a.branding(href='javascript://')
                        //-     i.material-icons.blue-grey-text settings
                        .left
                            a.tooltipped.blue-grey-text(href='javascript://', data-bind="click: function () { dti.utility.showNavigator(); }", style="font-size: 1.4em;", data-position='right', data-tooltip='Navigator', data-delay='10')
                                i.mdi.mdi-compass
                        //- span &copy; Dorsett Technologies

            //- #modal1.modal.bottom-sheet
            //-     .modal-content
            //-         h4 Modal Header
            //-         p A bunch of text
            //-     .modal-footer
            //-         a.modal-action.modal-close.waves-effect.btn-flat(href='javascript://') Close

            //- #grouping.modal.modal-fixed-footer
            //-     .modal-content
            //-         //- .groupingBody
            //-             //- ul
            //-             //-     li Leaf
            //-             //-     li Subtree
            //-             //-         ul
            //-             //-             li Leaf
            //-             //-             li Leaf
            //-         .propertiesList

            //-     .modal-footer
            //-         a.modal-action.modal-close.waves-effect.btn-flat(href='javascript://') Close                         

            //- #pointID.modal.modal-fixed-footer
                .modal-content
                    h4.blue-grey-text Point Identification

                    .row.sectionHeader
                        .col.s3.blue-grey-text Attribute
                        .col.s9.blue-grey-text Value
                    .row
                        .col.s3 Address
                        .col.s9.input-field
                            input#inputAddress(type='text')
                            label(for='inputAddress') Address

                    .row

                    .row.sectionHeader
                        .col.s3.blue-grey-text Class
                        .col.s9.blue-grey-text Tag
                    .row
                        .col.s3 Building
                        .col.s9.input-field
                            select(value='4194')
                                option 4194
                    .row
                        .col.s3.userDefined 
                            a(href='javascript://')
                                i.material-icons highlight_off
                            span Equipment
                        .col.s9.input-field
                            input#inputEquipment(type='text')
                            label(for='inputEquipment') Equipment
                    .row
                        .col.s3.userDefined 
                            a(href='javascript://')
                                i.material-icons highlight_off
                            span Equipment Type
                        .col.s9.input-field
                            input#inputEquipmentType(type='text')
                            label(for='inputEquipmentType') Equipment Type
                    .row
                        .col.s3.userDefined 
                           a(href='javascript://')
                                 i.material-icons highlight_off
                            span Floor
                        .col.s9.input-field
                            input#inputFloor(type='text')
                            label(for='inputFloor') Floor
                    .row
                        .col.s3.userDefined 
                            a(href='javascript://')
                                i.material-icons highlight_off
                            span Zone
                        .col.s9.input-field
                            input#inputZone(type='text')
                            label(for='inputZone') Zone

                .modal-footer
                    a.modal-action.modal-close.waves-effect.btn-flat(href='javascript://') Close               

            #navigatorFilterModal.navigatorModal.modal.modal-fixed-footer
                .modal-header Filter Points
                .modal-content.modal-content-no-padding
                    iframe.iframeFull
                .modal-footer
                    a.modal-action.modal-close.waves-effect.btn-flat(href='javascript://') Cancel

            #navigatorModal.navigatorModal.modal.modal-fixed-footer
                .modal-header Select Point
                .modal-content.modal-content-no-padding
                    iframe.iframeFull
                .modal-footer
                    a.modal-action.modal-close.waves-effect.btn-flat(href='javascript://') Cancel                    

            #openItemsModal.modal.modal-large
                .modal-content
                    h4 Open Items
                    #itemlist.openItemList(data-bind="foreach: $root.windowGroups")
                        // ko foreach: $root.openWindows[group()]
                        // ko if: !exempt()
                        a.hoverable.item.blue-grey.z-depth-1(href='javascript://', data-bind="click: function () {activate(false);}")
                            .itemTitle.white-text
                                i.right.material-icons.closeIcon close
                                div(data-bind="text: title")
                            .itemBody 
                                img(data-bind="thumbnail: upi")
                        // /ko
                        // /ko

                .modal-footer
                    a.modal-action.modal-close.waves-effect.btn-flat(href='javascript://') Close                    

            //- #desktop
                .desktopTitle(style="font-size: 1.6em;") MSFC Utility Control System
                img.desktop-background(src="/img/test/nasa.png", style="height: 200px; position: absolute; top: 130px; left: 50px;")
                //- .dti-desktop-item
                //-     .item-content
                //-     .item-text Test
                img.z-depth-1(src='/img/test/chart2.png', style="position: absolute; left: 15px; bottom:20px; height: 250px; width: 800px;")

                img.z-depth-1(src='/img/test/alarms.png', style="position: absolute; right: 15px; top: 63px;")

                img.z-depth-1(src='/img/test/sequence2.png', style="position: absolute; right: 15px; bottom: 20px;")

                .dynamicList
                    .groupingBody
                    table
                        tr
                            td Outside Air Temp
                            td 78&deg;
                        tr
                            td Outside Air Humidity
                            td 45.50
                        tr
                            td
                        tr
                            td Wet Bulb
                            td 55.28
                        tr
                            td Enthalpy
                            td 23.28
                        tr
                            td Dew Point
                            td 47.02
                        tr
                            td Test Link
                            td
                                a#testLink(href='/', target='_blank') Infoscan


                .buttonBar
                    a.blue-grey.waves-effect.btn(href="javascript://") Master Menu Disp
                    a.blue-grey.waves-effect.btn(href="javascript://") Active Alarms
                    a.blue-grey.waves-effect.btn(href="javascript://") Monthly Report

        #login.hidden.blue-grey
            .container
                .z-depth-1.grey.lighten-4.row(style='display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);')
                    form.col.s12(method='post')
                        .row
                            .col.s12
                                img(src='/img/Dorsett_logo.png')
                        .row
                            .input-field.col.s12
                                input#username(type='email', name='email', autocomplete='off')
                                label(for='email') Username
                        .row
                            .input-field.col.s12
                                input#password(type='password', name='password', autocomplete='off')
                                label(for='password') Password
                        br
                        center
                            .row
                                button#loginBtn.col.s12.btn.btn-large.waves-effect.blue-grey(type='submit', name='btn_login') Login

    script#miniWindowTemplate(type='text/html')
        a.hoverable.item.blue-grey.z-depth-1(href='javascript://', data-target="displayPanel")
            .itemTitle.white-text(data-bind="text: title")
                i.right.material-icons close
            .itemBody 
                img(data-bind="thumbnail: upi")

    script#windowTemplate(type='text/html')
        .card-panel.dti-card-panel.z-depth-2.lighten-3(data-bind='click: activate, style: {width: width, height: height, left: left, top: top, bottom: bottom, right: right}, css: { hide: minimized(), activeCard: active() }')
            .card-toolbar.blue-grey(data-bind="css: { 'lighten-3': !active() }")
                .card-title.center-align.white-text
                    div
                        a.white-text(href="javascript://")
                            i.material-icons.popInOutIcon call_made
                        | #[span(data-bind="text: title")]
                a.white-text(href="javascript://")
                    i.material-icons skip_previous
                a.white-text(href="javascript://")
                    i.material-icons skip_next
                .right
                    a.white-text(href="javascript://", data-bind="click: minimize, clickBubble: false")
                        i.minimizePanel.material-icons(style="position: absolute; top: 8px; right: 24px;") remove
                    //- a.white-text(href="javascript://")
                    //-     i.material-icons zoom_out_map
                    a.white-text(href="javascript://", data-bind="click: close")
                        i.material-icons close
            //- img(src="/img/test/display.png", style="height: 100%; width: 100%;")
            //- .progress
            //-     .indeterminate
            iframe.card-body(data-bind="attr: {src: url}")
            //- .windowMask(data-bind="click: activate")

    script#taskbarButtonTemplate(type='text/html')
        li.taskbarItem.active(data-bind="taskbarMenu: $data")
            //- div
            a.taskbarButton.testHover.hoverButton2.waves-effect(href='javascript://')
                i(data-bind="text: iconText, css: iconClass")
                span(data-bind="text: title")

    script#taskbarMenuTemplate(type='text/html')                    
        // ko stopBindings: true
        .slideDownMenu.white.z-depth-1
            .actionList
                .blue-grey-text Actions
                a.blue-grey-text.action(href="javascript://", data-bind="showNavigator: group")
                    i.material-icons folder_open
                    span Open                
                //- a.blue-grey-text.action(href="javascript://")
                //-     i.material-icons add
                //-     span New
                a.blue-grey-text.action(href="javascript://", data-bind="click: function () { $root.closeWindows(group()); }")
                    i.material-icons close
                    span Close All

            .items(data-bind="visible: $root.openWindows[group()]().length > 0")
                .itemsHeader.blue-grey-text Open Items
                // ko foreach: $root.openWindows[group()]

                //- span(data-bind="if: group() === $parent.group()")
                a.hoverable.item.blue-grey.z-depth-1(href='javascript://', data-bind="click: function () {activate();}")
                    .itemTitle.white-text
                        i.right.material-icons.closeIcon close
                        div(data-bind="text: title")
                    .itemBody 
                        img(data-bind="thumbnail: upi")

                // /ko
        // /ko

    script.
        var isAuthenticated = !{isAuthenticated};
        var userData = !{user};
    script(type='text/javascript', src='/js/lib/jquery-1.9.1.min.js')
    script(type='text/javascript', src='/js/lib/jquery-ui.js')
    script(type='text/javascript', src='/js/lib/jquery.contextMenu.min.js')
    //- script(type='text/javascript', src='/js/lib/jquery.blockUI.js')
    script(type='text/javascript', src='/js/lib/config.js')
    script(type='text/javascript', src='/js/lib/moment.js')
    script(type='text/javascript', src='/js/lib/store.min.js')
    script(type='text/javascript', src='/js/lib/jstree.js')
    //- script(type='text/javascript', src='/js/lib/typeahead.bundle.js')
    script(type='text/javascript', src='/js/lib/knockout-3.2.0.debug.js')
    script(type='text/javascript', src='/js/lib/knockout.viewModel.js')
    script(type='text/javascript', src='/js/lib/socket.io.js')
    script(type='text/javascript', src='/js/lib/materialize.js')
    script(type='text/javascript', src='/js/v2/home.js')
    script(type='text/javascript', src='/js/v2/dti.js')        
