doctype html
html
    head
        title
            | Infoscan by Dorsett Technologies
        link(rel='stylesheet', href='/css/lib/materialize.css')
        link(rel='stylesheet', href='/sass/v2/materialize')
        link(rel='stylesheet', href='/css/lib/font-awesome.4.6.1.css')

    body
        ul#dropdown1.dropdown-content
            li
                a.blue-grey-text(href='javascript://') 4194 DXAC DISP
            li
                a.blue-grey-text(href='javascript://') 4200 AH1 DISP
            li.divider
            li
                a.blue-grey-text(href='javascript://') 4250 FLR DISP

        header
            .navbar-fixed.taskbar
                nav.blue-grey
                    .nav-wrapper
                        ul.left
                            li
                                img.circle.dorsett-logo(src='/img/Dorsett_icon.png')
                            li.active
                                a.dropdown-button(href='#!', data-activates='dropdown1', data-beloworigin="true", data-hover="true")
                                    | Displays
                                    i.material-icons.right arrow_drop_down
                            li.active
                                a.waves-effect(href="javascript://") 4250 AH5 ZONE CONTROL SEQ
                        ul.right.hide-on-med-and-down
                            li
                                span.clock 10:10
                        //- form.right
                        //-     .input-field
                        //-         input#search(type='search', required='')
                        //-         label(for='search')
                        //-             i.material-icons search
                        //-         i.material-icons close

        main
            .mainContent
                #modal1.modal
                    .modal-content
                        h4 Modal Header
                        p A bunch of text
                    .modal-footer
                        a.modal-action.modal-close.waves-effect.btn-flat(href='javascript://') Close

                .row
                    .col.s6.m3
                        .card-panel.blue-grey
                            span.white-text This is a simple panel

                        .card.blue-grey
                            .card-content.white-text
                                span.card-title Card Title
                                p
                                    | I am a very simple card. I am good at containing small bits of information.
                                    | I am convenient because I require little markup to use effectively.
                            .card-action
                                a(href='javascript://') This is a link
                                a(href='javascript://') This is a link
        footer

    script(type='text/javascript', src='/js/lib/jquery-1.9.1.min.js')
    script(type='text/javascript', src='/js/lib/jquery-ui.js')
    script(type='text/javascript', src='/js/lib/config.js')
    script(type='text/javascript', src='/js/lib/moment.js')
    script(type='text/javascript', src="/js/lib/knockout-3.2.0.js")
    script(type='text/javascript', src='/js/lib/socket.io.js')
    script(type='text/javascript', src='/js/lib/materialize.js')
    script(type='text/javascript', src='/js/v2/home.js')
