doctype html
html
    head
        title
            | Infoscan by Dorsett Technologies
        link(rel='stylesheet', href='/css/lib/materialize.css')
        link(rel='stylesheet', href='/sass/v2/materialize')
        link(rel='stylesheet', href='/css/lib/font-awesome.4.6.1.css')

    body
        .navbar-fixed
            nav.blue-grey
                .nav-wrapper
                    .row
                        .col.s12
                            a.brand-logo(href='javascript://') Infoscan
                            ul.right.hide-on-med-and-down
                                li
                                    a.waves-effect(href='javascript://') Sass
                                li
                                    a.waves-effect(href='javascript://') Components
                    //- form.right
                    //-     .input-field
                    //-         input#search(type='search', required='')
                    //-         label(for='search')
                    //-             i.material-icons search
                    //-         i.material-icons close

        .mainContent
            #modal1.modal.modal-fixed-footer
                .modal-content
                    h4 Modal Header
                    p A bunch of text
                .modal-footer
                    a.modal-action.modal-close.waves-effect.btn-flat(href='javascript://') Close

            //- .row
            //-     .col.s12.m6
            //-         .card.blue-grey.darken-1
            //-             .card-content.white-text
            //-                 span.card-title Card Title
            //-                 p
            //-                     | I am a very simple card. I am good at containing small bits of information.
            //-                     | I am convenient because I require little markup to use effectively.
            //-             .card-action
            //-                 a(href='javascript://') This is a link
            //-                 a(href='javascript://') This is a link


    script(type='text/javascript', src='/js/lib/jquery-1.9.1.min.js')
    script(type='text/javascript', src='/js/lib/jquery-ui.js')
    script(type='text/javascript', src='/js/lib/config.js')
    script(type='text/javascript', src='/js/lib/moment.js')
    script(type='text/javascript', src="/js/lib/knockout-3.2.0.js")
    script(type='text/javascript', src='/js/lib/socket.io.js')
    script(type='text/javascript', src='/js/lib/materialize.js')
    script(type='text/javascript', src='/js/v2/home.js')
