doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/lib/bootstrap.min.css')
		link(rel='stylesheet', href='/css/lib/font-awesome-4.0.3/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/baseui/style.css')
	body
	block content
	block scripts
