#editor.modal(role='dialog',data-bind='if:editee()!==null',data-states='{"editing":"3","dirty":"3","confirm":"3","data":"2","invalid":"2","ready":"0"}')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(data-dismiss='modal',data-bind='click:handlers.cancel') x
                h4.modal-title(data-bind='text:editee().original.msgName')
            .modal-body
                .form-horizontal
                    fieldset
                        .form-group(data-bind='')
                            label(for='msgCat') Message Category
                            span(data-bind='')
                                span(data-bind='text:editee().original.msgCatName')
                        .form-group
                            label(for='msgType') Message Type
                            span(data-bind='')
                                span(data-bind='text:editee().original.msgTypeName')
                        .form-group(data-bind='if:editee().editLevel>=1')
                            label(for='msgName') Name
                            input#msgName(data-bind='value: editee().msgName',type='text',name='msgName')
                        .form-group
                            label(for='msgTextColor') Text Color
                            input#msgTextColor.colorPickerInput(data-bind='value: editee().msgTextColor',type='text',name='msgTextColor')
                        .form-group
                            label(for='msgBackColor') Back Color
                            input#msgBackColor.colorPickerInput(data-bind='value: editee().msgBackColor',type='text',name='msgBackColor')
                        .form-group
                            label(for='format') Format
                            textarea#msgFormat.jumbotron(data-bind='visible:editee().editLevel>=1,value:editee().msgFormat')
                            .jumbotron(data-bind='visible:editee().editLevel<1')
                                span(data-bind='text:editee().original.msgFormat')
            .modal-footer
                button#saveEdit.btn.btn-primary(data-bind='click: handlers.save') Save
                button#cancelEdit.btn.btn-default(data-bind='click: handlers.cancel') Cancel
