.grid-blur(data-bind='')
#editor(data-bind='with:editor.viewModel',data-states='{"editing":"3","dirty":"3","data":"2","confirm":"3","data":"2","invalid":"2","ready":"0"}')
    .panel.panel-default
        .panel-heading(data-bind='')
            h4.page-title(data-bind='if:$parent.editNameAndFormat()')
                span(data-bind='text:editable.msgName')
            h4.page-title(data-bind='ifnot:$parent.editNameAndFormat()')
                span(data-bind='text:msgName')
            .row
                div.col-md-1
                    label(for='msgCat') Category
                .col-md-2
                    span#msgCat(data-bind='text:msgCatName')
                div.col-md-1
                    label(for='msgType') Type
                .col-md-2
                    span#msgType(data-bind='text:msgTypeName')
        .panel-body.form(role='form')
                fieldset
                    .form-group(data-bind='if:$parent.editNameAndFormat()')
                        label(for='msgName') Name
                        input#msgName(data-bind='value: editable.msgName,valueUpdate:"keyup"',type='text',name='msgName')
                    .form-group(data-bind='ifnot:$parent.editNameAndFormat()')
                        label(for='msgName') Name
                        span#msgName(data-bind='value: msgName',type='text',name='msgName')
                    .form-group
                        label(for='format') Format
                        div.row(data-bind='if:$parent.editNameAndFormat()')
                            .col-md-6
                                textarea#msgFormat(type='text',data-bind="value:editable.msgFormat,valueUpdate:'keyup',event:{keyup:$parent.checkMsgFormat},style:{'background-color':'#'+editable.msgBackColor(),'color':'#'+editable.msgTextColor()}")
                            .col-md-3
                                .jumbotron.value-token
                                    h2 Value Tokens
                                ul#valueTokens.list-group(data-bind='template:{"name":"tmplHierarchy",foreach:$parent.tokenizer.valueTokens, as:"token"}')
                        div(data-bind='ifnot:$parent.editNameAndFormat()')
                            #msgFormat(data-bind='text:msgFormat')
                    #msgTextColorOpener.color-opener
                        .swatch(data-bind="style:{'background-color':'#'+editable.msgTextColor()}")
                        span Text
                        div#msgTextColorPanel(data-bind='')
                            div#msgTextColor.colorPickerInput(data-opener='#msgTextColorOpener',data-bind='colorpicker:editable.msgTextColor,',type='text',name='msgTextColor')
                    #msgBackColorOpener.color-opener
                        .swatch(data-bind="style:{'background-color':'#'+editable.msgBackColor()}")
                        span Background
                        div#msgBackColorPanel(data-bind='')
                            div#msgBackColor.colorPickerInput(data-opener='#msgBackColorOpener',data-bind='colorpicker:editable.msgBackColor,colorPickerOptions:{}',type='text',name='msgBackColor')
        .panel-footer(data-bind='with:$parent.handlers')
            button#saveEdit.btn.btn-primary(data-bind='enable:saveable,inlineConfirm: ["Save","I want to save these changes","Please Wait"],submitFunction:save')
            button#undoEdit.btn.btn-primary(data-bind='enable:hasChanges,inlineConfirm:["Undo","I want to undo my changes","Please Wait"],submitFunction:undo')
            button#cancelEdit.btn.btn-default(data-bind='click: cancel') Cancel
            .row
                .col-md-4
                    span.fa.fa-edit(data-bind='visible:hasChanges()')
                    span.fa.fa-warning(data-bind='visible:!isValid()')
                    span.fa.fa-check(data-bind='visible:saveable()')