!!! 5
html
    head
        title #{title}
        meta(name='viewport', content='width=device-width')
        link(rel='stylesheet', href='/css/lib/jqwidgets/jqx.base.css', type='text/css')
        link(rel='stylesheet', href='/css/lib/jqwidgets/jqx.ui-sunny.css', type='text/css')
        link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootswatch/3.0.0/readable/bootstrap.min.css')
        link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(type='text/javascript', src='https://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxcore.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxwindow.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxdata.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxbuttons.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxscrollbar.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxlistbox.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxdropdownlist.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxdropdownbutton.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxmenu.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxgrid.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxgrid.pager.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxgrid.sort.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxgrid.filter.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxgrid.selection.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxcheckbox.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxtree.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxexpander.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxswitchbutton.js')
        script(type='text/javascript', src='/js/lib/jqwidgets/jqxinput.js')
        script(type='text/javascript', src='/js/lib/config.js')
        script(type='text/javascript', src='/js/pointselector/pointselector.js')
        style.
            body {
                background-color: #629BC7;
                font-size: 12pt;
            }
            .row{
                margin-top:2px;
            }
            .row1{
                margin-top:5px;
            }

            .jqx-widget-ui-sunny {
                font-size: 11pt;
            }
            .jqx-widget-content-ui-sunny {
                font-size: 11pt
            }
            .jqx-widget-header-ui-sunny {
                font-size: 11pt
            }

        body
        script.
            var arr = JSON.parse('!{pointtypes}');
            var pt = JSON.parse('!{point}');
        block content

