//!!! 5
//html
//    head
//        title Point Review
//        //link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootswatch/3.0.0/readable/bootstrap.min.css')
//        //link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
//        //script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
//        //script(type='text/javascript', src='https://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js')
//        script(src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js')
//        script(src='/js/pointselector/pointModel.js')
//        style.
//            .row {
//                margin-bottom: 10px;
//                }
//            body {
//                font-size: 12pt;
//            }
//        script.
//            var pt = JSON.parse('!{point}');
//        script(src='/js/pointselector/main.js')
//    body
//        .container
//            //header
//            //    h4 Properties
style.
    .modal-body {
    padding: 0px;
    }
.tabbable
    ul.nav.nav-tabs
        li.active
            a(href='#pane1', data-toggle='tab') Value
        li
            a(href='#pane2', data-toggle='tab') Display
        li
            a(href='#pane3', data-toggle='tab') Shutdown
        li
            a(href='#pane4', data-toggle='tab') Control
.tab-content
    #pane1.tab-pane.active
        include ./pagefragments/commonValue
    #pane2.tab-pane
        include ./pagefragments/commonDisplay
    #pane3.tab-pane
        include ./pagefragments/shutdown
            //footer
            //    .container
            //        .row
            //            .col-md-4
            //            .col-md-4
            //                ul.nav.nav-pills
            //                    li
            //                        a.btn.btn-success.btn-sm(href='#') Save
            //                    li
            //                        a.btn.btn-danger.btn-sm(href='#') Cancel
            //            .col-md-4
            //
            //
            //
