<div data-bind="click: toggleModal" class="btn btn-default btn-xs btnSendControl"><i class="fa fa-bullseye"></i> Send Control</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-sm sendControl" tabindex="-1" data-backdrop="static" data-bind="modal: showModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Send Control
                    <!-- ko if: root.point.data.Controller -->
                    <!-- MultiState Value points do not support Controller -->
                    <span class="currentController">
                        Current Controller:
                        <span data-bind="text: root.point.data.Controller.Value()"></span>
                    </span>
                    <!-- /ko -->
                </h4>
            </div>

            <div class="modal-body container-fluid">
                <div>
                    <!-- Send Control Dialogue -->
                    <div class="row">
                        <div class="col col-xs-12 col-sm-6">
                            <div class="dataField">
                                <label>Value</label>
                                <div class="form-group">
                                    <!-- ko if: isEnumValueType -->
                                    <select data-bind="options: data.Value.ValueOptions, optionsText: 'name', optionsValue: 'value', value: controlValue, hasFocus: controlFocus" class="form-control input-sm"></select>
                                    <!-- /ko -->

                                    <!-- ko ifnot: isEnumValueType -->
                                    <input data-bind="textInput: controlValue, hasFocus: controlFocus" class="form-control input-sm val" type="text"/>
                                    <label data-bind="text:valueValidation, visible: showValidation"></label>
                                    <!-- <input type="text" data-bind="propertyName: propertyName, numeric: data.Value, valueType: data.ValueType, min: min, max: max" class="form-control input-sm"> -->
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                        <!-- ko if: data['Point Type'].Value() !== 'MultiState Value' -->
                        <!-- MultiState Value points do not support Control Priority -->
                        <div class="col col-xs-12 col-sm-6">
                            <div class="dataField">
                                <label>Control Priority</label>
                                <div class="form-group">
                                    <select data-bind="options: utility.workspace.systemEnums.controlpriorities.slice(1), optionsText: 'name', optionsValue: 'value', value: controlPriority" class="form-control input-sm"></select>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <span data-bind="visible: data['Point Type'].Value() !== 'MultiState Value' && checkReleaseModel()">
                        <!-- MultiState Value points do not support TtO -->
                        <div class="row">
                            <div class="col col-xs-12 col-sm-12">
                                <div id="timeControl" class="btn-group btn-group-justified" role="group" data-toggle="buttons">
                                    <label id="ttoLabel" class="btn btn-default">
                                        <input type="radio" name="Time to Override" value="tto" id="ttoBtn"/> Time to Override
                                    </label>
                                    <label id="rtLabel" class="btn btn-default">
                                        <input type="radio" name="Release Time" value="rt" id="rtBtn"/> Release Time
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="ttoInput">
                                <!--  ko component: { name: 'ctl-duration', params: { propertyName: 'Time to Override', forceEdit: true, data: override, noValidation:true, showLabel:false, columnClasses: 'col col-sm-6 col-xs-12', min: '0:0:0', rootContext: $root } } -->
                                <!-- /ko -->
                            </div>
                            <div class="col col-xs-12 col-sm-6">
                                <div class="dataField">
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                    <!-- ko if: data['Point Type'].Value() !== 'MultiState Value' -->
                    <!-- MultiState Value points do not support Relinquish -->
                    <div class="row">
                        <div class="col col-xs-12 col-sm-12">
                            <button type="button" class="btnSubmit btn btn-primary btn-sm pull-right" data-bind="click : relinquish">Relinquish Control</button>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>

            <div class="modal-footer">
                <!-- ko if: disableControl -->
                <div class="text-left">
                    <h1><i class="fa fa-exclamation-triangle text-warning"></i> Error</h1>
                    <p>You have an invalid controller ID which prevents you from issuing controls. You may still relinquish controls.</p>
                </div>
                <!-- /ko -->

                <button type="button" class="btn btn-link btn-sm" data-dismiss="modal">Cancel</button>
                <!-- ko ifnot: disableControl -->
                <button type="button" class="btnSubmit btn btn-primary btn-sm" data-bind="click : sendControl"><i class="fa"></i> Send Control</button>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
