doctype html
html
  head
    title Device Loader
    link(href="/css/lib/bootstrap.3.0.2.min.css", rel="stylesheet")
    link(href="/css/lib/bootstrap-switch.min.css", rel="stylesheet")
    link(href="/css/lib/font-awesome-4.1.0/css/font-awesome.min.css", rel="stylesheet")
    link(href="/css/deviceLoader/style.css", rel="stylesheet")
    link(href="/css/lib/bannerJS/style.css", rel="stylesheet")
    link(href="/css/lib/codeMirror/codemirror.css", rel="stylesheet")
    link(href="/css/lib/codeMirror/mdn-like.css", rel="stylesheet")
    link(href="/css/lib/codeMirror/dialog.css", rel="stylesheet")

    <!--script(src="/js/pointInspector/app/require.config.js")-->
    script(data-main="js/deviceLoader/deviceloader", src="/js/lib/require.min.js")
  body
    | upi:
    input#upi(data-bind='value: upi', type='text', value='0')
    p
      form
        br
        | Device Loader
        br
        | &#x9;
        br
        | Firmware Files: 
        select(data-bind='options: firmwareFiles, value:selectedFile')
          br
          | &#x9;
          br
          | Upload a file:
        input(type='file', data-bind='event:{change: function(){uploadFile($element.files[0])}}', btn-default='')
        br
        | &#x9;
        |     
        .saveCheck(data-bind='visible: showCheck')
          input.switch(type='checkbox', data-bind='switch: data.Value, checked: saveCheck')
          |         
          label.text Save file to server?
        | &#x9;
        br
        | &#x9;Card Type 
        br
        | &#x9;
        input(type='radio', name='cardtype', value='MS3', data-bind='checked: selectedModel')
        |  MS3
        | &#x9;
        br
        |  
        | &#x9;
        input(type='radio', name='cardtype', value='MS4 VAV', data-bind='checked: selectedModel')
        |  MS4 VAV
        | &#x9;
        br
        |  
        | &#x9;
        input(type='radio', name='cardtype', value='MS4 UNV', data-bind='checked: selectedModel')
        |  MS4 UNV
        | &#x9;
        br
        |  
        | &#x9;
        input(type='radio', name='cardtype', value='MS4 xTalk', data-bind='checked: selectedModel')
        |   MS4 xTalk
        | &#x9;
        br
        |  
        | &#x9;
        input(type='radio', name='cardtype', value='MS4 Digital', data-bind='checked: selectedModel')
        |  MS4 Digital
        | &#x9;
        br
        |  
        | &#x9;
        input(type='radio', name='cardtype', value='MS5 xTalk', data-bind='checked: selectedModel')
        |  MS5 xTalk
        | &#x9;
        br
        |  
        | &#x9;
        input(type='radio', name='cardtype', value='MS5 UNV', data-bind='checked: selectedModel')
        |  MS5 UNV
        | &#x9;
        br
        |  
        | &#x9;
        input(type='radio', name='cardtype', value='MS5 VIO LS', data-bind='checked: selectedModel')
        |  MS5 VIO LS
        | &#x9;
        br
        |  
        | &#x9;
        input.btn.btn-default.btn-xs(type='button', data-bind='click: start', value='Start')
        // <input type="button" onClick="deviceLoader(this.form);" value="Start">
      body
