doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(href="/css/lib/bootstrap-3.3.6/bootstrap.min.css", rel="stylesheet")
        link(href="/css/lib/bootstrap-switch.min.css", rel="stylesheet")
        link(href="/css/lib/font-awesome-4.1.0/css/font-awesome.min.css", rel="stylesheet")
        link(href="/css/pointInspector/style.css", rel="stylesheet")
        link(href="/css/lib/bannerJS/style.css", rel="stylesheet")
        link(href="/css/lib/codeMirror/codemirror.css", rel="stylesheet")
        link(href="/css/lib/codeMirror/mdn-like.css", rel="stylesheet")
        link(href="/css/lib/codeMirror/dialog.css", rel="stylesheet")
        link(href="/css/lib/bootstrap-datetimepicker.min.css", rel="stylesheet")

        include /baseui/dti.pug
        //- script(type="text/javascript" src='/js/lib/knockout-3.4.0.js')
        script(src='/js/lib/store2.min.js')
        //- script(src='/js/v2/dtiCommon.js')            
        //- script(src='/js/v2/dorsettUtility.js')

        script(src="/js/pointInspector/app/require.config.js")
        script(data-main="app/startup", src="/js/lib/require.min.js")

    body
        .noAccess
            i.fa.fa-exclamation-triangle
            .condition.permissionDenied
                h3.msg Permission Denied
                p Please contact your supervisor if you feel you should have access to this point.
            .condition.pointNotFound
                h3.msg Point not found
                p Query failed. Unable to locate point.
        .wrapper
            .titleBar
                .navToggle
                    i.toggleOpen.fa.fa-navicon
                    i.toggleClose.fa.fa-times-circle
                .titleSection
                    // ko ifnot: isInEditMode
                    span.pointName(data-bind="text: point.data.Name")
                    br
                    //.btn.btn-xs.btn-default.pointRefresh(data-bind="click: function() { location.reload(true); document.title=point.data.Name(); }", title="Refresh Point")
                    //    i.fa.fa-refresh
                    // /ko
                    span.pointType(data-bind="text: point.data['Point Type'].Value")
                    div.hiddenPointData.text-center
                        span(data-bind="text: point.data._id")
                        |  &gt; 
                        span(data-bind="text: point.data.Name")
                .actions
                    // ko ifnot: isInEditMode
                    // ko if: authorize(point.data, permissionLevels.WRITE)
                    // ko if: point.data._pStatus() === 2
                    .btn.btn-success.btn-sm(data-bind="click: restorePoint") Restore
                    // /ko
                    // ko ifnot: point.data._pStatus() === 2
                    .btn.btn-info.btn-sm(data-bind="click: toggleEditMode")  Edit
                    // /ko
                    // /ko
                    //- Removing in favor of the window's 'X' close button
                    //- .btn.btn-default.btn-sm(data-bind="click: close") Close
                    // /ko
                    // ko if: isInEditMode
                    //- Removing cancel based on DT Utah feedback https://basecamp.com/1781223/projects/13083930/todos/282404793
                    //- .btn.btn-link.btn-sm(data-bind="click: toggleEditMode")  Cancel
                    .btn-group
                        //- Hidden feature - right-click 'Save & Close' to perform just a 'Save'
                        //- The 'disable' binding was not compatible with our Bootstrap button (disabled was set properly, but was never removed)
                        button.btn.btn-success.btn-sm.btnSave(data-bind='click: point.saveAndClose, event: { contextmenu: point.save }, attr: { "disabled": point.status() === "saving" }')
                            i.fa.fa-spin.fa-spinner(data-bind='visible: point.status() === "saving" ')
                            span Save & Close
                        //- button.btn.btn-success.btn-sm.dropdown-toggle(data-bind="click:point.save")
                            | Save
                        button.btn.btn-success.btn-sm.dropdown-toggle(data-toggle='dropdown', data-bind='attr: { "disabled": point.status() === "saving" }')
                            span.caret
                        ul.dropdown-menu.dropdown-menu-right
                            li
                                a(href='javascript://', data-bind='click:point.save') Save
                    // /ko
            .chassis(data-bind="component: { name: baseComponent, params: $data }")
            .statusBar(data-bind="component: { name: 'ctl-statusBar', params: $data }")
        .viewOverlay
        .invalidCharMsg
            //- invalidChar has no class definition; it is only used for DOM retrieval
            span.invalidChar
            span  character is not allowed
