<!-- ko if: data.isDisplayable -->
<div data-bind="attr: { class: columnClasses }">
  <div class="dataField">
    <label>Quality Code Enable</label>
  </div>
  <div class="row">
    <div class="col col-xs-6 col-sm-3" style="margin-bottom:5px; margin-top:10px">
      <input class="switch" type="checkbox" data-bind="checked: $data.data.Value.bit($data.covDisabled()), enable: isEnabled()">
      <label class="qualityLabel">COV Disabled</label>
    </div>
    <div class="col col-xs-6 col-sm-3" style="margin-bottom:5px; margin-top:10px">
      <input class="switch" type="checkbox" data-bind="checked: $data.data.Value.bit($data.alarmsOff()), enable: isEnabled()">
      <label class="qualityLabel">Alarms Off</label>
    </div>
  </div>
  <div class="row">
    <div class="col col-xs-6 col-sm-3">
      <input class="switch" type="checkbox" data-bind="checked: $data.data.Value.bit($data.override()), enable: isEnabled()">
      <label class="qualityLabel">Override</label>
    </div>
    <div class="col col-xs-6 col-sm-3">
      <input class="switch" type="checkbox" data-bind="checked: $data.data.Value.bit($data.commandPending()), enable: isEnabled()">
      <label class="qualityLabel">Command Pending</label>
    </div>
  </div>
</div>
<!-- /ko -->
