<div class="nav">
    <ul>
        <li><span>Overview</span></li>
        <!-- ko if: $root.isSystemAdmin() -->
        <li><span>Permissions</span></li>
        <!-- /ko -->
        <li><span>Involvement</span></li>
        <li><span>Schedule</span></li>
        <li><span>Alarm History</span></li>
        <li><span>Configuration <i class="fa fa-angle-right"></i></span>
            <ul>
                <li class="header"><span>Configuration</span>
                <li><span>Hardware</span></li>
                <li><span>Value</span></li>
                <li><span>Notifications</span></li>
                <li><span>Control</span></li>
                <li><span>References</span></li>
                <li class="back"><span><i class="fa fa-angle-left"></i> back</span></li>
            </ul>
        </li>
    </ul>
</div>

<div class="view">
    <div class="container-fluid">
        <div class="row header">
            <div class="col-xs-12">
                <h4>Overview</h4>
            </div>
        </div>
    </div>
    <div id="overview" class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-sm-6 col-xs-12">
                    <div class="dataField">
                        <!--  ko component: { name: 'ctl-dropdown', params: { propertyName: 'Value', data: data, labelClasses: 'valueHolder', rootContext: $root } } -->
                        <!-- /ko -->
                        <div class="actions">
                            <!-- ko component: { name: 'ctl-readValue', params: { rootContext: $root } } -->
                            <!-- /ko -->
                            <!-- ko if: data['Trend Samples'].Value() > 0 -->
                            <!-- ko component: { name: 'ctl-viewTrend', params: { rootContext: $root } } -->
                            <!-- /ko -->
                            <!-- /ko -->

                        </div>
                    </div>
                </div>
                <div class="col col-sm-6 col-xs-12">
                    <div class="dataField">
                        <label>Last Report Time</label>
                        <span class="lh30" data-bind="text: moment.unix(data['Last Report Time'].Value()).calendar()"></span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Out of Service', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
                <!-- /ko -->
            </div>
            <hr>
            <div class="row">
                <div data-bind="component: { name: 'ctl-description', params: { description: data.Description.Value, rootContext: $root } }"></div>
            </div>
        </div>
    </div>

    <div id="permissions" class="content">
        <div data-bind="component: { name: 'ctl-permissions', params: { isTabLoaded: tabTriggers.permissions, rootContext: $root } }"></div>
    </div>

    <div id="involvement" class="content">
        <div data-bind="component: { name: 'ctl-involvement', params: { id: data._id(), isTabLoaded: tabTriggers.involvement, rootContext: $root } }"></div>
    </div>

    <div id="schedule" class="content">
        <div data-bind="component: { name: 'ctl-scheduleEntries', params: { id: data._id(), point: data, pointType: data['Point Type'].Value(),isTabLoaded: tabTriggers.entries, rootContext: $root } }"></div>
    </div>

    <div id="hardware" class="content">
        <div class="row">
            <!-- ko component: { name: 'ctl-pointReference', params: { refType: 'Device Point', rootContext: $root } } -->
            <!-- /ko -->
            <!-- ko component: { name: 'ctl-pointReference', params: { refType: 'Remote Unit Point', rootContext: $root } } -->
            <!-- /ko -->
        </div>
    </div>

    <div id="value" class="content">
        <div class="row">
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'COV Enable', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Broadcast Enable', data: data, columnClasses: 'col col-sm-3 col-xs-4', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-duration', params: { propertyName: 'Broadcast Period', data: data, columnClasses: 'col col-sm-3 col-xs-4', min: '0:0:15', max: '0:59:59', rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <hr>
        <div class="row">
            <!--  ko component: { name: 'ctl-qualityCodeEnable', params: { propertyName: 'Quality Code Enable', data: data, columnClasses: 'col-xs-12', rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <hr>
        <div class="row">
            <!--  ko component: { name: 'ctl-number', params: { propertyName: 'Trend Samples', data: data, columnClasses: 'col col-sm-3 col-xs-6', min: 0, max: 255, rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-duration', params: { propertyName: 'Trend Interval', data: data, columnClasses: 'col col-sm-3 col-xs-6', min: '0:0:1', max: '0:59:59', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Trend Enable', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <hr>
        <div class="row">
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Show Label', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Show Value', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <hr>
        <div class="row">
            <!--  ko component: { name: 'ctl-states', params: { propertyName: 'States', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
        </div>
    </div>

    <div id="control" class="content">
        <div class="row">
                <!--  ko component: { name: 'ctl-dropdown', params: { propertyName: 'Controller', data: data, columnClasses: 'col col-sm-6 col-xs-12', enumSetName: 'Controller', rootContext: $root } } -->
                <!-- /ko -->
                <!--  ko component: { name: 'ctl-dropdown', params: { propertyName: 'Control Priority', data: data, columnClasses: 'col col-sm-6 col-xs-12', enumSetName: 'Control Priority', rootContext: $root } } -->
                <!-- /ko -->
        </div>
        <hr>
        <div class="row">
            <!--  ko component: { name: 'ctl-duration', params: { propertyName: 'Update Interval', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <hr>
        <div class="row">
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Shutdown Enable', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-dropdown', params: { propertyName: 'Shutdown Value', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Shutdown Release', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-dropdown', params: { propertyName: 'Shutdown State', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <div class="row">
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Shutdown Control', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <hr>
        <div class="row">
            <div class="dataField col col-xs-1">
                <label>&nbsp;</label>
            </div>
            <div class="dataField col col-xs-2">
                <label>Condition</label>
            </div>
            <div class="dataField col col-xs-4">
                <label>Point Reference</label>
            </div>
            <div class="dataField col col-xs-2">
                <label>Compare</label>
            </div>
            <div class="dataField col col-xs-3">
                <label>Value</label>
            </div>
        </div>

        <!-- ko if: data['If Compare 1'].isDisplayable -->
        <div class="row">
            <div class="lh30 col col-xs-1"><b>1</b></div>
            <div class="lh30 col col-xs-2">If</div>
            <div class="lh30 col col-xs-4" data-bind="html: logicPoints.point1().PointName()"></div>
            <!-- ko ifnot: isInEditMode -->
            <div class="lh30 col col-xs-2" data-bind="text: data['If Compare 1'].Value"></div>
            <div class="lh30 col col-xs-3" data-bind="text: data['If Value 1'].Value"></div>
            <!-- /ko -->
            <!-- ko if: isInEditMode -->
            <div class="col col-xs-2">
                <select data-bind="options: data['If Compare 1'].ValueOptions,
                           optionsText: 'name',
                           optionsValue: 'value',
                           enumTextValue: data['If Compare 1'].Value,
                           value: data['If Compare 1'].eValue,
                           propertyName: 'If Compare 1',
                           disable: data['If Compare 1'].isReadOnly" class="form-control input-sm"></select>
            </div>
            <div class="lh30 col col-xs-3">
                <!-- ko if: data['If Value 1'].ValueType() == 1 -->
                <input type="text" data-bind="propertyName: 'If Value 1', numeric: data['If Value 1'].Value, valueType: data['If Value 1'].ValueType, disable: data['If Value 1'].isReadOnly" class="form-control input-sm">
                <!-- /ko -->
                <!-- ko if: data['If Value 1'].ValueType() != 1 -->
                <select data-bind="options: data['If Value 1'].ValueOptions,
                           optionsText: 'name',
                           optionsValue: 'value',
                           enumTextValue: data['If Value 1'].Value,
                           value: data['If Value 1'].eValue,
                           propertyName: 'If Value 1',
                           disable: data['If Value 1'].isReadOnly" class="form-control input-sm"></select>
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- ko foreach: [2,3,4,5] -->
        <!-- ko if: $parent.data['If Compare ' + $data].isDisplayable -->
        <div class="row">
            <div class="lh30 col col-xs-1"><b data-bind="text: $data"></b></div>
            <!-- ko ifnot: $parent.isInEditMode -->
            <div class="lh30 col col-xs-2" data-bind="text: $parent.data['If Result ' + $data].Value"></div>
            <div class="lh30 col col-xs-4" data-bind="html: $parent.logicPoints['point' + $data]().PointName()"></div>
            <div class="lh30 col col-xs-2" data-bind="text: $parent.data['If Compare ' + $data].Value"></div>
            <div class="lh30 col col-xs-3" data-bind="text: $parent.data['If Value ' + $data].Value"></div>
            <!-- /ko -->
            <!-- ko if: $parent.isInEditMode -->
            <div class="col col-xs-2">
                <select data-bind="options: $parent.data['If Result ' + $data].ValueOptions,
                           optionsText: 'name',
                           optionsValue: 'value',
                           enumTextValue: $parent.data['If Result ' + $data].Value,
                           value: $parent.data['If Result ' + $data].eValue,
                           propertyName: 'If Result ' + $data,
                           disable: $parent.data['If Result ' + $data].isReadOnly" class="form-control input-sm"></select>
            </div>
            <div class="lh30 col col-xs-4" data-bind="html: $parent.logicPoints['point' + $data]().PointName()"></div>
            <div class="col col-xs-2">
                <select data-bind="options: $parent.data['If Compare ' + $data].ValueOptions,
                           optionsText: 'name',
                           optionsValue: 'value',
                           enumTextValue: $parent.data['If Compare ' + $data].Value,
                           value: $parent.data['If Compare ' + $data].eValue,
                           propertyName: 'If Compare ' + $data,
                           disable: $parent.data['If Compare ' + $data].isReadOnly" class="form-control input-sm"></select>
            </div>
            <div class="lh30 col col-xs-3">
                <!-- ko if: $parent.data['If Value ' + $data].ValueType() == 1 -->
                <input type="text" data-bind="propertyName: 'If Value ' + $data, numeric: $parent.data['If Value ' + $data].Value, valueType: $parent.data['If Value ' + $data].ValueType, disable: $parent.data['If Value ' + $data].isReadOnly" class="form-control input-sm">
                <!-- /ko -->
                <!-- ko if: $parent.data['If Value ' + $data].ValueType() != 1 -->
                <select data-bind="options: $parent.data['If Value ' + $data].ValueOptions,
                           optionsText: 'name',
                           optionsValue: 'value',
                           enumTextValue: $parent.data['If Value ' + $data].Value,
                           value: $parent.data['If Value ' + $data].eValue,
                           propertyName: 'If Value ' + $data,
                           disable: $parent.data['If Value ' + $data].isReadOnly" class="form-control input-sm"></select>
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <hr>
        <div class="row">
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Active Control', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-dropdown', params: { propertyName: 'Active Value', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Active Release', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
        </div>
        <hr>
        <div class="row">
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Inactive Control', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-dropdown', params: { propertyName: 'Inactive Value', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
            <!--  ko component: { name: 'ctl-switch', params: { propertyName: 'Inactive Release', data: data, columnClasses: 'col col-sm-3 col-xs-6', rootContext: $root } } -->
            <!-- /ko -->
        </div>
    </div>

    <div id="references" class="content">
        <div class="row">
            <!-- ko component: { name: 'ctl-pointReference', params: { refType: 'Control Point', rootContext: $root } } -->
            <!-- /ko -->
            <!-- ko component: { name: 'ctl-pointReference', params: { refType: 'Shutdown Point', rootContext: $root } } -->
            <!-- /ko -->
            <!-- ko component: { name: 'ctl-pointReference', params: { refType: 'Input Point 1', rootContext: $root } } -->
            <!-- /ko -->
            <!-- ko component: { name: 'ctl-pointReference', params: { refType: 'Input Point 2', rootContext: $root } } -->
            <!-- /ko -->
            <!-- ko component: { name: 'ctl-pointReference', params: { refType: 'Input Point 3', rootContext: $root } } -->
            <!-- /ko -->
            <!-- ko component: { name: 'ctl-pointReference', params: { refType: 'Input Point 4', rootContext: $root } } -->
            <!-- /ko -->
            <!-- ko component: { name: 'ctl-pointReference', params: { refType: 'Input Point 5', rootContext: $root } } -->
            <!-- /ko -->
        </div>
    </div>

    <div id="notifications" class="content">
        <div data-bind="component: { name: 'ctl-notifications', params: { data: data['Alarm Messages'], rootContext: $root } }"></div>
    </div>
</div>