doctype html
html
    head
        title
        link(rel='stylesheet', href='/css/lib/bootstrap3.min.css')
        link(rel='stylesheet', href='/css/lib/font-awesome-4.0.3/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/lib/jquery.timepicker.css')
        link(rel='stylesheet', href='/css/lib/bootstrap-datepicker.css')
        link(rel='stylesheet', href='/css/alarms/alarms.css')

    body.noSelect
        .titleBar
            .title.cursorPointer
                span.dropdown-toggle(data-toggle="dropdown")
                    span(data-bind="text: viewTitle")
                    span  ALARMS
                    |  
                    i.fa.fa-caret-down
                .nav(class="dropdown-menu")
                    // div.header Alarm Views
                    ul(data-bind="foreach: defaultViews")
                        li(data-bind="text: title, click: $root.changeView, css: { active: $root.isCurrentView($data) }")
                        // ko foreach: children
                        // Discarding children views (as opposed to removing them from our js file, until we're sure they will not be included)
                        // li.childView(data-bind="text: title, click: $root.changeView, css: { active: $root.isCurrentView($data) }")
                        // /ko
                    //div.footer

                    // ko if:customViews.length > 0
                    div.header Custom Views
                    ul(data-bind="foreach: customViews")
                        li(data-bind="text: title, click: $root.changeView, css: { active: $root.isCurrentView($data) }")
                        // ko foreach: children
                        // li.childView(data-bind="text: title, click: $root.changeView, css: { active: $root.isCurrentView($data) }")
                        // /ko
                    //div.footer
                    // /ko

            .filterIcon.resetFilter(data-bind="click: resetFilters, visible: dirty", title="Reset Filter")
                .fa.fa-filter.fa-2x
                .fa.fa-times-circle.x(data-bind="visible: dirty")

            .filterIcon.ack(data-bind="visible: anyAckSelected, click: ackAlarms", title="Acknowledge selected alarms")
                span(data-bind="visible: ackInProgress")
                    .fa.fa-spinner.fa-spin
                    | &nbsp;&nbsp;
                | ACK

            .filterIcon.fa.fa-refresh.fa-spin(data-bind="visible: alarms().gettingData", title="Getting alarms from server...")
            .filterIcon.fa.fa-refresh.timeout(data-bind="visible: alarms().timeout, click: refreshAlarms", title="Get alarms request timed out. Click to try again...")

        .content
            // FILTERS
            #filters
                .filterContainer
                    .filterIcon.fa(id="pausePlay", data-bind="click: toggleViewPaused, css: { 'fa-pause': !currentView().paused(), 'fa-play-circle filterActive': currentView().paused() }, attr: {title: currentView().paused() ? 'Resume alarm updates':'Pause alarm updates'} ")

                // NAME SEGMENT FILTERS
                .filterContainer(id="nameFilters")
                    .filterIcon.fa.fa-font.fa.dropdown-toggle(title="Filter by point name and/or point type", data-toggle="modal", data-target="#pointFilterModal")

                // TIME DATE FILTERS
                .filterContainer(id="timeDateFilters", data-bind="visible: filters.dateTime.visible")
                    .filterIcon.fa.fa-clock-o.fa.dropdown-toggle(title="Filter by date and/or time")
                        i.fa.fa-sort-down
                    .dropdown-menu
                        .title
                            span Date Time Filter
                            i.fa.fa-2x.fa-times.closeIt(data-bind="click: cancelDateTimeFilter")

                        div
                            .fromTo From
                            .dateTime
                                input.date.start.input-sm.form-control(type="text", id="dateFrom", placeholder="Date", data-bind="value: filtersPlaceHolder.dateTime.dateFrom.value")
                                input.time.start.input-sm.form-control(type="text", id="timeFrom", placeholder="Time", data-bind="value: filtersPlaceHolder.dateTime.timeFrom.value")

                            br(clear="all")

                            .fromTo To
                            .dateTime
                                input.date.end.input-sm.form-control(type="text", id="dateTo", placeholder="Date", data-bind="value: filtersPlaceHolder.dateTime.dateTo.value")
                                input.time.end.input-sm.form-control(type="text", id="timeTo", placeholder="Time", data-bind="value: filtersPlaceHolder.dateTime.timeTo.value")
                        br(clear="all")
                        .okCancel.text-center
                            button.btn.btn-success.closeIt(data-bind="click: applyDateTimeFilter") OK
                            a.cancel.cursorPointer.closeIt(data-bind="click: clearDateTimeFilter") Clear Filter

                // ALARM CLASS FILTERS
                .filterContainer.withBorder(data-bind="visible: filters.alarmClass.visible")
                    .filterSetTitle Class
                    .filterSet(data-bind="foreach: filters.alarmClass.options")
                        a(data-bind="click: $root.toggleOption, event: { contextmenu: $root.toggleOption }, attr: { id: id }")
                            span.fa(data-bind="css: {'fa-ban': !isActive(), 'fa-check-circle': isActive}")
                            span.filterText(data-bind="text: text")

                // ALARM CATEGORY FILTERS
                .filterContainer.withBorder(data-bind="visible: filters.alarmCategory.visible")
                    .filterSetTitle(title="Category") Cat.
                    .filterSet(data-bind="foreach: filters.alarmCategory.options")
                        a(data-bind="click: $root.toggleOption, event: { contextmenu: $root.toggleOption }")
                            span.fa(data-bind="css: {'fa-ban': !isActive(), 'fa-check-circle': isActive}")
                            span.filterText(data-bind="text: text")

            // ALARMS
            #alarmContainer
                .header
                    .colSelect
                        input(type="checkbox" data-bind="click: selectAll, checked: allSelected")
                        i.fa.fa-sort-down.dropdown-toggle(data-toggle="dropdown")
                        ul.dropdown-menu
                            li
                                a(data-bind="click: selectUnacknowledged") Unacknowledged
                            li
                                a(data-bind="click: selectNone") None
                            li.divider
                            li
                                a(data-bind="click: deselectAll") Deselect All Alarms
                                    |(
                                    span(data-bind="text: selectedRows().length")
                                    |)
                    .colAck Ack
                    .colClass Class
                    .colTime(data-bind="click: toggleViewSort")
                        | Time
                        i.pull-right.fa(data-bind="css: { 'fa-arrow-up' : currentView().sortAscending(), 'fa-arrow-down' : !currentView().sortAscending() }")
                    .colMsg &nbsp; Message

                .alarms(data-bind="visible: !alarms().timeout()")
                    table
                        tbody(data-bind="foreach: alarms200")
                            tr(data-bind="click: $root.selectRow, css: { selectedRow: $data.isSelected  }")
                                td.colSelect
                                    input(type="checkbox", data-bind="checked: $data.isSelected")
                                td.colAck
                                    // If alarm has been acknowledged
                                    // ko if: $data.ackStatus() === 2
                                    div.tableButton.acked(data-bind="text: $data.ackUser, attr: { title: $data.ackInfo }")
                                    // /ko

                                    // If alarm needs acknowledging
                                    // ko if: $data.ackStatus() === 1 && $root.userHasPermissionToAck($data)
                                    div.tableButton.cursorPointer(data-bind="click: $root.ackAlarm", title="Acknowledge alarm") ACK
                                    // /ko

                                    // If alarm is in the process of being acknowledged
                                    // ko if: $data.ackStatus() === 1.5
                                    div.tableButton
                                        i.fa.fa-spinner.fa-spin
                                        | &nbsp;ACK
                                    // /ko

                                    // If alarm acknowledge timed out
                                    // ko if: $data.ackStatus() === -1
                                    div.tableButton.ackError.cursorPointer(data-bind="click: $root.ackAlarm", title="The acknowledge request timed out. Click to try agian.") ACK ERROR
                                    // /ko

                                td.colClass
                                    span(data-bind="text: alarmClass, attr: { class: alarmClass }")
                                td.colTime
                                    span.selectable
                                        span(data-bind="text: prettyDate")
                                        |  &nbsp;
                                        span(data-bind="text: prettyTime")
                                td.colMsg
                                    span.selectable(data-bind="text: msgText, event: { contextmenu: $root.selectRow }, style: { color: $root.toHexColor(TextColor), backgroundColor: $root.toHexColor(BackColor) }, css: {'msgText': upi !== 0}")

                .alarmsGradient &nbsp;

                .newAlarm.newAlarmTop
                    span New alarm added. Click to view.
                .newAlarm.newAlarmBottom
                    span New alarm added. Click to view.

                .mask(data-bind="visible: alarms().gettingData")

                // ko if:alarms().count() === 0 && !alarms().gettingData()
                // ko if:alarms().timeout() === false
                p#noAlarms Hooray! No alarms here.
                // /ko
                // ko if:alarms().timeout() === true
                p#noAlarms(style="color: red;") Error: Request for alarms timed out. Please try again or contact your system administrator if this problem continues.
                // /ko
                // /ko

                .pages
                    .pull-left
                        .pop.cursorPointer(data-bind='click: togglePop')
                            .popOut
                                .fa.fa-arrow-circle-up
                                | Pop Out
                            .popIn.hidden
                                .fa.fa-arrow-circle-down
                                | Pop In

                        // ko if: currentView().pageNumber() > 1
                        // ko if: alarms().numberOfPages() > 2
                        a(href='javascript:void(0)', data-bind="click: changePage.bind($data, 'begin')") <<<
                        | &nbsp;&nbsp;
                        // /ko
                        a(href='javascript:void(0)', data-bind="click: changePage.bind($data, -1)") Previous Page
                        | &nbsp;&nbsp;
                        // /ko

                        | Page&nbsp;
                        span(data-bind="text: currentView().pageNumber")
                        |  of&nbsp;
                        span(data-bind="text: alarms().numberOfPages")
                        | &nbsp; &nbsp;

                        // ko if: currentView().pageNumber() !== alarms().numberOfPages()
                        a(href='javascript:void(0)', data-bind="click: changePage.bind($data, +1)") Next Page
                        // ko if: alarms().numberOfPages() > 2
                        | &nbsp;&nbsp;
                        a(href='javascript:void(0)', data-bind="click: changePage.bind($data, 'end')") >>>
                        // /ko
                        // /ko


                    .pull-right
                        span(data-bind="text: alarms().count()")
                        |  Alarms

        .detailContainer
            .subTitle ALARM DETAIL
            .fa.fa-2x.fa-times(data-bind="click: closeAlarmDetail.bind($data, null)")
            .detailContent
                .name
                    i.fa.fa-filter
                    .text
                        a.cursorPointer(data-bind="text: alarmDetail.alarm().Name1, click: callChangeNameFilter.bind($data, 1)")
                        span(data-bind="visible: alarmDetail.alarm().Name2.length")
                            |  _
                            a.cursorPointer(data-bind="text: alarmDetail.alarm().Name2, click: callChangeNameFilter.bind($data, 2)")

                            span(data-bind="visible: alarmDetail.alarm().Name3.length")
                                |  _
                                a.cursorPointer(data-bind="text: alarmDetail.alarm().Name3, click: callChangeNameFilter.bind($data, 3)")

                                span(data-bind="visible: alarmDetail.alarm().Name4.length")
                                    |  _
                                    a.cursorPointer(data-bind="text: alarmDetail.alarm().Name4, click: callChangeNameFilter.bind($data, 4)")

                .notifications
                    // ko if: alarmDetail.gettingData() === true
                    i.fa.fa-spinner.fa-spin
                    // /ko

                    // ko if: alarmDetail.error() === true
                    .errorTxt An unexpected error occurred.
                    button.btn.btn-danger(type="button", data-bind="click: openAlarmDetail.bind($data, alarmDetail.alarm())") Reload Content
                    // /ko

                .displays.scrollable.thinScroll(data-bind="visible: !alarmDetail.gettingData() && !alarmDetail.error()")
                    // ko foreach: alarmDetail.displays
                    .thumb
                        img.cursorPointer(data-bind="dataSrc: $data._id, click: $root.openDisplay", title="Open this display in a new window.")
                        div.truncate(data-bind="text: $data.Name, attr: {title: $data.Name}", style="background-color: #ECECEC; padding: 10px;")
                    // /ko

                    // ko if: alarmDetail.displays().length === 0
                    | This point was not found on any displays.
                    // /ko

        .bodyMask

        // Point Filter Modal
        .modal#pointFilterModal(role="dialog", style="overflow: hidden;")
            .modalContainer
                .subTitle POINT NAME/TYPE FILTER
                .pull-right.fa.fa-2x.fa-times.closeIt
                iframe#pointLookup(name="pid_filter")
                .text-center
                    button.btn.btn-success.closeIt OK

        script(type='text/javascript', src='/js/lib/jquery.min.js')
        script(type='text/javascript', src='/js/lib/knockout-3.1.0.js')
        script(type='text/javascript', src='/js/lib/bootstrap3.min.js')
        script(type='text/javascript', src="/js/lib/socket.io.js")
        script(type='text/javascript', src='/js/lib/store.min.js')
        script(type='text/javascript', src='/js/lib/date.js')
        script(type='text/javascript', src='/js/lib/jquery.timepicker.min.js')
        script(type='text/javascript', src='/js/lib/bootstrap-datepicker.js')
        script(type='text/javascript', src='/js/lib/jstween-1.1.min.js')
        script(type='text/javascript', src='/js/alarms/alarms.js')