doctype html
html
    head
        title
        link(rel='stylesheet', href='/css/lib/bootstrap3.min.css')
        link(rel='stylesheet', href='/css/alarms/alarms.css')
    body
        .main
            .contentColumn.col-xs-12
                .tabContents
                    #content.tabContent.activeTab
                        .alarmContainer
                            .headers.row
                                .col-xs-1 Ack
                                .col-xs-3 Time
                                .col-xs-8 Message
                            .noScroll
                                .alarmSection(data-bind="foreach: currentList")
                                    .row(data-bind="style: { color: $root.toHexColor($data.TextColor), backgroundColor: $root.toHexColor($data.BackColor) }")
                                        .col-xs-1
                                        .col-xs-3(data-bind="prettyDate: $data.msgTime")
                                        .col-xs-8(data-bind="text: $data.msgText")

        script(type='text/javascript', src='/js/lib/jquery.min.js')
        script(type='text/javascript', src='/js/lib/knockout-3.1.0.js')
        script(type='text/javascript', src='/js/alarms/print.js')
