<!-- ko if: !!data && data.isDisplayable -->
    <!-- ko if: isInEditMode -->
    <div class="col col-xs-12">
        <div class="dataField">
            <label>States</label>
            <div class="row" data-bind="foreach: states">
                <div class="col col-xs-3">
                    <input type="text" data-bind="numeric: value, valueType: 4, min: 0, max: 65535, noValidation: true, disable: $parent.data.isReadOnly, event: { focusout: function() {$parent.triggerHandler; $parent.replaceAlarmStates(value)}, focusin:$parent.setOriginalEnum }" class="form-control input-sm">
                </div>
                <!-- ko if: $parent.point['Point Type'].Value === 'MultiState Value' -->
                <div class="col col-xs-2">
                    <input class="switch" type="checkbox" data-bind="checked: $parent.alarmForIndex(value)">
                    <label class="qualityLabel">Alarm State</label>
                </div>
                <!-- /ko -->
                <div class="col col-xs-6">
                    <input type="text" data-bind="value: name, disable: $parent.data.isReadOnly, event: { focusout: $parent.triggerHandler, focusin:$parent.setOriginalText }" class="_stateName form-control input-sm">
                </div>
                <div class="col col-xs-1">
                    <span data-bind="click: function() { $parent.remove($data) }" class="lh30 removeRow"><i class="fa fa-times"></i></span>
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-1">
                    <button data-bind="click: addNew" class="btn btn-sm btn-info"><i class="fa fa-plus"></i> Add New State</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->

    <!-- ko ifnot: isInEditMode -->
    <div class="col col-xs-12">
        <div class="dataField">
            <label>States</label>
            <div class="row" data-bind="foreach: states">
                <div class="col col-xs-3">
                    <span class="lh30" data-bind="text: value"></span>
                </div>
                <div class="col col-xs-8">
                    <span class="lh30" data-bind="text: name"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
<!-- /ko -->
