extends layout
append content
    .straplessContainer
        //header
        //.row
        //	.col-xs-3.col-md-3
        //		h6 #{title}
        //	.col-xs-6.col-md-6
        //		.input-group.input-group-sm
        //			input#recentSearches.form-control(tabindex=1, type='search', placeholder='Your recent searches...')
        //				span.input-group-addon
        //					a.clear(href='javascript:;')
        //						i.fa.fa-times-circle-o
        //	.col-xs-3.col-md-3
        //		button#addPoint.btn.btn-primary.btn-sm(type='button') Add Point
        //		button#removePoint.btn.btn-danger.btn-sm(type='button') Remove Point
        //		input#removePoint.btn1(value='Remove Point', type='button')
        .row.toolbar
            .col-xs-12
                div.pull-left
                    #switchView
                        button#Left(style='padding: 4px 16px;')
                            | List
                        button#Right(style='padding: 4px 16px;')
                            | Browser
                div.pull-left(style='margin-left:20px')
                    #pointType(tabindex=2)
                //div(style='float: left;')
                    button#removeFilter.btn.btn-primary.btn-sm(type='button') Clear Filter

        .row.filter
            .col-xs-3
                .input-group.input-group-sm.search
                    input#input1.form-control(tabindex=3, type='search',placeholder='Search Name1...')
                    span.input-group-addon
                        a#clear1.clear(href='javascript:;')
                            i.fa.fa-times-circle-o
                .row1
                    .millerList
                        #jqxListBox1
            .col-xs-3
                #searchgroup2.input-group.input-group-sm.search
                    input#input2.form-control(tabindex=4, type='search',placeholder='Search Name2...')
                    span.input-group-addon
                        a#clear2.clear(href='javascript:;')
                            i.fa.fa-times-circle-o
                .row1
                    .millerList
                        #jqxListBox2
            .col-xs-3
                #searchgroup3.input-group.input-group-sm.search
                    input#input3.form-control(tabindex=5, type='search',placeholder='Search Name3...')
                    span.input-group-addon
                        a#clear3.clear(href='javascript:;')
                            i.fa.fa-times-circle-o
                .row1
                    .millerList
                        #jqxListBox3
            .col-xs-3
                #searchgroup4.input-group.input-group-sm.search
                    input#input4.form-control(tabindex=6, type='search',placeholder='Search Name4...')
                    span.input-group-addon
                        a.clear(href='javascript:;')
                            i.fa.fa-times-circle-o
                .row1
                    .millerList
                        #jqxListBox4
        .row
            .col-md-12
                #jqxgrid
        #jqxMenu

    include ./models/addpoint
    //include ./models/modalWin
    footer
