doctype html
html
    head
        title Point Review
        link(rel='stylesheet', href='/css/lib/bootstrap-3.0.3.min.css')
        script(src='/js/lib/jquery-1.10.2.min.js')
        script(src='/js/lib/bootstrap-3.0.3.min.js')
        script(src='/js/lib/knockout-2.3.0.js')
        script(src='/js/lib/config.js')
        script(src="/js/lib/commonLibrary.js")
        script(src='/js/pointselector/pointModel.js')
        style.
            .row {
                margin-bottom: 10px;
                }
            body {
                font-size: 12pt;
            }
        script(src='/js/pointselector/main.js')
    body