script(src='/js/pointselector/pointModel.js')
script.
    var pt = JSON.parse('!{point}');
script(src='/js/pointselector/main.js')

style.
    .modal-body {
        padding: 0px;
    }
.tabbable
    ul.nav.nav-tabs
        li.active
            a(href='#pane1', data-toggle='tab') Value
        li
            a(href='#pane2', data-toggle='tab') Display
        li
            a(href='#pane3', data-toggle='tab') Shutdown
        li
            a(href='#pane4', data-toggle='tab') Control
.tab-content
    #pane1.tab-pane.active
        include pagefragments/commonValue
    #pane2.tab-pane
        include pagefragments/commonDisplay
    #pane3.tab-pane
        include pagefragments/shutdown
