doctype html
html
  head
    title Device Loader
    link(href="/css/lib/bootstrap.3.0.2.min.css", rel="stylesheet")


  body
    .header
      div
        span.headerLabel.logLabel Logs
        | 
        span.headerLabel.exceptLabel Exceptions
    .searchfield
      input(type="text" name="search")
    .data
      .results
        table
          thead
            tr
              th index
              th label
              th timestamp
              th message
          tbody(data-bind="foreach: logsLimit")
            // ko if: $data.label
            tr
              td(data-bind="text: $index")
              td(data-bind="text: label")
              td(data-bind="text: timestamp")
              td(data-bind="text: message")
            // /ko


    script(type='text/javascript', src='/js/lib/jquery.min.js')
    script(type='text/javascript', src='/js/lib/knockout-3.1.0.js')
    script(type='text/javascript', src='/js/lib/bootstrap3.min.js')
    script(type='text/javascript', src="/js/lib/socket.io.js")
    script(type='text/javascript', src="/js/logs/main.js")