html
	head
		script(type='text/javascript', src="/js/lib/jquery.min.js")
		script(type='text/javascript', src="/js/lib/knockout-2.2.0.js")
		script(type='text/javascript', src="/js/lib/date.js")
		script(type='text/javascript', src="/js/lib/bootstrap-3.0.3.min.js")
		script(type='text/javascript', src="/js/toolbag/dbMonitor.js")
		link(rel='stylesheet', type='text/css', href="/css/lib/bootstrap-3.0.3.min.css")

		style(type='text/css')
			.queryError  {border-color:red;}
			.highlightedRow {background-color:#EEE;}

	body(style='padding-top:140px; font-family:Consolas; margin-left:0; margin-right:0;')
		nav(class='navbar navbar-default navbar-fixed-top', role='navigation')
			div(class='navbar-header')
				span(class='navbar-brand')
					img(src='/img/InfoScanLogoBlue.png', height='30', style='position:absolute; top:11px;')
					span(style='padding-left:85px; color:#3887c1;') Toolbag
			div(class='collapse navbar-collapse')
				ul(class='nav navbar-nav')
					li(class='active')
						a(href='/toolbag/dbMonitor') dbMonitor
					li
						a(href='/toolbag/dbTemplate') dbTemplate
					li
						a(href='/toolbag/dbValidation') dbValidation

			div(style='width:100%; background-color:#CCC; padding:10px; position:relative; text-align:center;')
				div(style='position:absolute; right:55px; top:14px; text-align:right')
					| Query: 
					input(data-bind='value: query, valueUpdate: "afterkeyup", css: {queryError: queryError() == true}', style='width:250px; font-family:Consolas')
					| &nbsp;&nbsp; Limit 
					input(data-bind='checked: enableLimit', type='checkbox', style='position:relative; top:2px;', disabled)
					| &nbsp;
					input(data-bind='value: queryLimit, enable: enableLimit', style='width:50px; font-family:Consolas')

				div(style='position:absolute; right:10px; bottom:10px;')
					| Poll Interval: 
					input(data-bind='value: pollInterval', style='width:50px; font-family:Consolas')
					|  ms &nbsp; 

				table(style='position:absolute; left:10px; bottom:7px; text-align:left;')
					tr
						td Network Time:&nbsp;
						td(data-bind="text: networkTime")
					tr
						td CPU Time:
						td(data-bind="text: cpuTime")
					tr
						td Last Poll:
						td(data-bind="text: pollTime")
				br
				br
				button(data-bind="click: startCapture, enable: paused", style='font-family:Consolas;') Start
				| 
				button(data-bind="click: stopCapture, disable: paused", style='font-family:Consolas;') Stop
				| 
				button(data-bind="click: clear", style='font-family:Consolas;') Clear

		div(style='width=100%; background-color:#FFF; padding:10px;')
			table(id='diffTable', style='padding:5px; font-size:small;')
				tbody(data-bind="foreach: diff")
					tr
						td(data-bind="text: time", style='padding-right:20px;')
						td(data-bind="text: name", style='padding-right:20px; color:#009900;')
						td(style='padding-right:20px;')
							| [ 
							span(data-bind="text: key")
							|  ]
						td(data-bind="text: report", style='color:grey;')