html
	head
		link(rel='stylesheet', type='text/css', href="/css/lib/bootstrap-3.0.3.min.css")
		link(rel='stylesheet', type='text/css', href="/css/lib/font-awesome-4.0.3/css/font-awesome.min.css")
		style.
			body {
				padding: 20px;
				padding-top: 75px;
			}
			nav {font-family: Consolas;}
			.propertyContainer {
				position: absolute;
				top: 125px;
				left: 0;
				right: 0;
				bottom: 0;
				overflow-y: scroll;
			}
			.propertyList {
				display: inline-block;
				padding: 10px;
				margin: 20px;
				background-color: #EEE;
				border-color: #888;
				border-radius: 4px;
				-webkit-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
			}
			.propName {
				font-weight: bold;
				border-bottom: 1px solid #888;
				margin-bottom: 10px;
			}

	body
		nav(class='navbar navbar-default navbar-fixed-top', role='navigation')
			div(class='navbar-header')
				span(class='navbar-brand')
					img(src='/img/InfoScanLogoBlue.png', height='30', style='position:absolute; top:11px;')
					span(style='padding-left:85px; color:#3887c1;') Toolbag
			div(class='collapse navbar-collapse')
				ul(class='nav navbar-nav')
					li
						a(href='/toolbag/dbMonitor') dbMonitor
					li
						a(href='/toolbag/dbTemplate') dbTemplate
					li
						a(href='/toolbag/dbValidation') dbValidation
					li
						a(href='/toolbag/enums') Enums Manager
					li.active
						a(href='/toolbag/propertyUsage') Property Usage

		input.form-control(type="text", data-bind="value: propertyFilter, valueUpdate: 'input'", placeholder="Filter Properties")

		.propertyContainer
			// ko foreach: propertyList
			.propertyList
				.propName(data-bind="text: propName")
				// ko foreach: points
				div(data-bind="text: $data")
				// /ko
			// /ko

		script(type='text/javascript', src="/js/lib/jquery.min.js")
		script(type='text/javascript', src="/js/lib/knockout-2.2.0.js")
		script(type='text/javascript', src="/js/lib/bootstrap-3.0.3.min.js")
		script(type='text/javascript', src="/js/lib/config.js")
		script(type='text/javascript', src="/js/toolbag/propertyUsage.js")