doctype 5
html
  head

    title Display Console

    meta(http-equiv="X-UA-Compatible", content="IE-edge")
    link(rel='stylesheet', href='/css/displays/jquery-ui.css')
    link(rel='stylesheet',href='/display/console.css')
    script(src='/display/jquery-1.8.2.min.js')
    script(src="/js/displays/socket.io.js")


  body(id="main")
    div(style="width:400px;float:left;")
      h3 Displays:
      ul
    div(style="float:left;width:500px;")
      h3 Dynamics:
      div(id="dynamics")

  script(src='/display/console.js')