extends layout

block content
  script.
    var upi = !{upi};
    //- var upiNames = !{JSON.stringify(upiNames)};
    //- var displayJson=!{JSON.stringify(displayJson)};
  script(src='/js/lib/angular.js')
  script(src='/js/displays/sortable.js')
  script(src='/js/lib/spectrum.js')
  link(rel='stylesheet', href='/css/lib/spectrum.css')
  link(rel='stylesheet', href='/css/lib/jqwidgets/jqx.base.css')
  link(rel='stylesheet', href='/css/diColorPicker/diColorPicker.css')
  link(rel='stylesheet', href='/css/util/diFileBrowser.css')
  script(src='/js/util/components/filebrowser/diFileBrowser.js')
  script(src='/js/lib/jquery.mousewheel.js')
  script(src='/js/displays/functions.js')
  link(rel='stylesheet', href='/css/displays/main.css')
  link(rel='stylesheet', href='/css/displays/display.css')
  script(src='/js/lib/jqwidgets/jqxcore.js')
  script(src='/js/lib/jqwidgets/jqxcolorpicker.js')
  script(src='/js/util/components/colorpicker/diColorPicker.js')
  script(src='/js/displays/edit.js')

  #btnTemplate(style='-webkit-transform: scale({{zoom/100}});position:absolute;top:10px;right:0px;color: black; font-size: 12px; font-family: fixedsys, consolas, monospace; font-weight: normal; text-decoration: none; font-style: normal; width: {{(zoom/100)*100}}px; height: {{(zoom/100)*15}}px;')
                a.displayBtn(style="color:black;text-shadow:none;", data-ajax='false')
                    div(style='padding: 0px; height: 100%;')
                      div(style='width: 100%; height: 100%; text-align: center; margin: 0px;')
                        table(border='0', cellpadding='0', cellspacing='0', height='100%', width='100%')
                          tbody
                            tr
                              td Button
                  .highlight-false
  #txtTemplate(class='object', draggable='true', style='color: black; font-size: 16px; font-family: fixedsys, consolas, monospace; font-weight: normal; text-decoration: none; font-style: normal; left: 247px; top: 133px;width:300px;height:300px;')
    | Text Label
    .highlight-false
  #dynTemplate(class='object', draggable='true', style='color: black; font-size: 16px; font-family: fixedsys, consolas, monospace; font-weight: normal; text-decoration: none; font-style: normal; left: 247px; top: 133px;width:300px;height:300px;')
    | ###
    .highlight-false
  #animationTemplate(class='object', draggable='true', style='color: black; font-size: 0px; font-family: ;font-weight:normal; text-decoration: none; font-style: normal; left: 437px; top: 212px; width: auto; height: auto;')
    img(src='/display_assets/assets/placeholder.gif')
  #plotTemplate(class='object', draggable='true', style='color: black; font-size: 0px; font-family: ;font-weight:normal; text-decoration: none; font-style: normal; left: 437px; top: 212px; width: auto; height: auto;')
    img(src="/img/displays/plot.png")
  #backDrop(style='background-image: radial-gradient(#aaa 2px, rgba(11, 11, 12, 0) 2px), radial-gradient(#aaa 2px, rgba(11, 11, 12, 0) 2px), radial-gradient(rgba(255, 255, 255, 0.1) 2px, rgba(255, 255, 255, 0) 2px), radial-gradient(rgba(255, 255, 255, 0.1) 2px, rgba(255, 255, 255, 0) 2px);')
    #display(ng-style="{'background-color' : convertColor(display['Background Color']), 'margin-left' : dLeft + 'px', 'margin-top' : dTop + 'px', 'box-shadow' : 'none', 'transform' : 'scale(' + zoomDec(zoom) + ')', '-webkit-transform' : 'scale(' + zoomDec(zoom) + ')', 'height': display.Height + 'px', 'width': display.Width + 'px'}")
      #displayGrid1
      include _display
      #zoverlay &nbsp;
      #selection
      #displayGrid2
      div.handle.sizeNw.tick
      div.handle.sizeNe.tick
      div.handle.sizeSw.tick
      div.handle.sizeSe.tick
      div(id="coordinates", style="display:block;color:black")

    //div(class='topBar', style='position: absolute; width: 100%;', data-role='header', data-theme='c')
      div(style='float: left;')
        a#minDisplay(data-swipe-close='false', data-rel='open', data-mini='true', data-role='button', data-icon='d-in', data-inline='true') Pop In
      h1 {{display.Name|displayName}}
      .displayGroup(style='position:absolute;top:0px;right:5px;', data-role='controlgroup', data-type='horizontal', data-inline='true', data-mini='true')
        a#viewDisplay(href="#", ng-click="checkChanges()", data-ajax="false", data-mini='true', data-role='button', data-icon='delete',  data-inline='true') Cancel
        a#saveDisplay(ng-click="saveDisplay()", data-position-to='window', href='#confirmSave', data-rel='popup', data-mini='true', data-role='button', data-icon='d-save',  data-inline='true') Save
  #tip(style="display:none;position:absolute;background-color:white;border:1px solid black;font-size:10px;padding:2px;border-radius:5px") tool tip
  #menu(data-role='controlgroup', data-mini='true')
    a(ng-click="copyObj()", href='#', data-role='button', data-icon='d-copy', data-mini='true', data-iconpos='left') Copy
    a(ng-click="deleteObject()", data-rel='popup', data-role='button', data-icon='d-trash', data-mini='true', data-iconpos='left') Delete
  #paste(data-role='controlgroup', data-mini='true')
    a(ng-click="pasteHere()", href='#', data-role='button', data-icon='d-copy', data-mini='true', data-iconpos='left') Paste Here
    a(ng-click="pasteOriginal()", data-rel="popup", data-role='button', data-icon='d-trash', data-mini='true', data-iconpos='left') Paste Original

block panels
  include _bottomBar
  #popSelector(data-role='popup', data-overlay-theme='a', data-theme='a', data-corners='false', data-tolerance='15, 15')
    a.ui-btn-right(class='closePop', data-rel='back', data-role='button', data-theme='a', data-icon='delete', data-iconpos='notext') Close
    iframe(id='popFrame', name='popFrame', src='', width='800', height='600', seamless='seamless')
  #confirmStage.ui-corner-all(data-role='popup', data-overlay-theme='a', data-theme='c', data-dismissible='false', style='max-width: 400px;')
    .ui-corner-top(data-role='header', data-theme='a')
      h1 Stage Display?
    .ui-corner-bottom.ui-content(data-role='content', style='padding: 5px;', data-theme='d')
      h3.ui-title
        | Are you sure you want to load this display as the staging version? Any current staging changes will be lost.
      a(ng-click="doStage()", href='#', data-role='button', data-inline='true', data-rel='back', data-transition='flow', data-theme='b') Stage and Edit
      a(href='#', data-role='button', data-inline='true', data-rel='back', data-theme='c') Cancel
  #confirmChanges.ui-corner-all(data-role='popup', data-overlay-theme='a', data-theme='c', data-dismissible='false', style='max-width: 400px;')
    .ui-corner-top(data-role='header', data-theme='a')
      h1 Save Changes?
    .ui-corner-bottom.ui-content(data-role='content', style='padding: 5px;', data-theme='d')
      h3.ui-title
        | You have unsaved changes, are you sure you want to exit? All changes will be lost.
      a(ng-click="anyway()", href='#', data-role='button', data-inline='true', data-transition='flow', data-theme='b') Exit without Saving
      a(href='#', data-role='button', data-inline='true', data-rel='back', data-theme='c') Cancel
  #confirmSave.ui-corner-all(data-role='popup', data-overlay-theme='a', data-theme='c', data-dismissible='false', style='max-width: 500px;')
    .ui-corner-top(data-role='header', data-theme='a')
      h1 Save Display?
    .ui-corner-bottom.ui-content(data-role='content', style='padding: 5px;', data-theme='d')
      h3.ui-title
        | How would you like to save the display?
      a(href='#', ng-click="savePublish()", data-role='button', data-inline='true', data-rel='back', data-transition='flow', data-theme='b') Save and Publish
      a(href='#', ng-click="saveLater()", data-role='button', data-inline='true', data-rel='back', data-transition='flow', data-theme='b') Save for Later
      a(href='#', data-role='button', data-inline='true', data-rel='back', data-theme='c') Cancel
  #delete.ui-corner-all(data-role='popup', data-overlay-theme='a', data-theme='c', data-dismissible='false', style='max-width: 400px;')
    .ui-corner-top(data-role='header', data-theme='a')
      h1 Delete Object?
    .ui-corner-bottom.ui-content(data-role='content', style='padding: 5px;', data-theme='d')
      h3.ui-title
        | Are you sure you want to delete this object?
      a(ng-click="deleteObject()", href='#', data-role='button', data-inline='true', data-rel='back', data-transition='flow', data-theme='b') Delete
      a(href='#', ng-click="hideMenu()", data-role='button', data-inline='true', data-rel='back', data-theme='c') Cancel
  #diFileBrowserPopup(data-role='popup', data-dismissible="false", data-theme="b", data-overlay-theme="b", data-rel="popup", data-position-to="window", data-transition="pop")
    a(style="float:right; right:130px; position:relative; top:495px; border:1px solid #AAAAAA; color:#FFFFFF; background:#396b9e; font-weight:100; z-index:1;", id="filebrowserok", ng-click="serverImageSelected()", href='#', data-role="button", data-rel='back') OK
    a(style="float:right; right:-45px; position:relative; top:495px; border:1px solid #AAAAAA; color:#FFFFFF; background:#396b9e; font-weight:100; z-index:1;", id="filebrowsercancel", ng-click="cancelServerImageSelection()", href='#', data-role="button", data-rel='back') Cancel

  #rightPanel(ng-controller='EditItemCtrl', style='border-left: 1px solid #121212;', data-role='panel', data-swipe-close='false', data-dismissible='false', data-position='right', data-display='overlay')
    div(data-role='collapsible', data-mini='true', data-theme='c', data-content-theme='c', data-inset='false', data-collapsed='false')
      h4 Layout Properties
      #hw.ui-grid-a
        .ui-block-a(style='padding: 5px; padding-left: 0px;')
          div(style='padding: 0px; margin: 0px;', data-role='fieldcontain')
            label(for='dispH') Height: 
            input#dispH(ng-model='editItem.Height', type='text', maxlength='4', size='4', data-mini='true', name='textinput-fc', value='')
        .ui-block-b(style='padding: 5px;')
          div(style='padding: 0px; margin: 0px;', data-role='fieldcontain')
            label(for='dispW') Width: 
            input#dispW(ng-model='editItem.Width', type='text', maxlength='4', size='4', data-mini='true', name='textinput-fc', value='')
      #hw.ui-grid-a
        .ui-block-a(style='padding: 5px; padding-left: 0px;')
          div(style='padding: 0px; margin: 0px;', data-role='fieldcontain')
            label(for='dispH') Top: 
            input#dispH(ng-model='editItem.Top', type='text', maxlength='4', size='4', data-mini='true', name='textinput-fc', value='')
        .ui-block-b(style='padding: 5px;')
          div(style='padding: 0px; margin: 0px;', data-role='fieldcontain')
            label(for='dispW') Left: 
            input#dispW(ng-model='editItem.Left', type='text', maxlength='4', size='4', data-mini='true', name='textinput-fc', value='')
    div#txtProps(data-role='collapsible', data-mini='true', data-theme='c', data-content-theme='c', data-inset='false', data-collapsed='false')
      h4 Text Properties
      textarea#textarea(ng-model='editItem.Text', cols='40', rows='8', name='textarea', data-clear-btn='true')
      div(style='overflow:hidden;')
        div(style='float: left; width: 145px;padding-right:2px; ')
          select#select-family(ng-model='editItem["Font Name"]', data-mini='true', data-native-menu='true')
            option(value='Arial') Arial
            option(value='Bookman Old Style') Bookman Old Style
            option(value='Calibri') Calibri
            option(value='Cambria') Cambria
            option(value='Cambria Math') Cambria Math
            option(value='Candara') Candara
            option(value='Comic Sans MS') Comic Sans MS
            option(value='Consolas') Consolas
            option(value='Constantia') Constantia
            option(value='Corbel') Corbel
            option(value='Courier') Courier
            option(value='Fixedsys') Fixedsys
            option(value='fixedsys') fixedsys
            option(value='Franklin Gothic') Franklin Gothic
            option(value='Gabriola') Gabriola
            option(value='Georgia') Georgia
            option(value='Impact') Impact
            option(value='Lucida Console') Lucida Console
            option(value='Lucida Sans Unicvode') Lucida Sans Unicode
            option(value='Microsoft Sans Serif') Microsoft Sans Serif
            option(value='MS Serif') MS Serif
            option(value='MS Sans Serif') MS Sans Serif
            option(value='Palantino Linotype') Palantino Linotype
            option(value='Segoe Print') Segoe Print
            option(value='Segoe Script') Segoe Script
            option(value='Segoue UI') Segoue UI
            option(value='Small Fonts') Small Fonts
            option(value='Segoue UI Symbol') Segoue UI Symbol
            option(value='System') System
            option(value='Tahoma') Tahoma
            option(value='Times New Roman') Times New Roman
            option(value='Trebuchet MS') Trebuchet MS
            option(value='Verdana') Verdana
        div(style='float: right; width: 75px;padding-right:2px; ')
          select#select-font(ng-model='editItem["Font Size"]', data-mini='true', data-native-menu='true')
            option(value='7') 7pt
            option(value='8') 8pt
            option(value='9') 9pt
            option(value='10') 10pt
            option(value='11') 11pt
            option(value='12') 12pt
            option(value='14') 14pt
            option(value='16') 16pt
            option(value='18') 18pt
            option(value='20') 20pt
            option(value='22') 22pt
            option(value='24') 24pt
            option(value='26') 26pt
            option(value='28') 28pt
            option(value='36') 36pt
            option(value='48') 48pt
            option(value='72') 72pt

      div(style='overflow:hidden;')
        div(style='float: left; width: 110px;padding-right:5px; ')
          input#bold(ng-model='editItem["Font Bold"]', type='checkbox', data-mini="true", name='checkbox-v-6a')
          label(for='bold') Bold
          input#strike(ng-model='editItem["Font Strikethru"]', type='checkbox', data-mini="true", name='checkbox-v-6d')
          label(for='strike') Strikeout

        div(style='float: right; width: 110px; ')
          input#italic(ng-model='editItem["Font Italic"]', type='checkbox', data-mini="true", name='checkbox-v-6b')
          label(for='italic') Italic
          input#underline(ng-model='editItem["Font Underline"]', type='checkbox', data-mini="true", name='checkbox-v-6c')
          label(for='underline') Underline

      div(style='float: left; width: 210px; height: 215px;')
          label(for='italic') Color
          div(id="foregroundCustomColorPicker", ng-model="editItem['Foreground Color']", data-dropdown="true", data-sm-palette="true", data-vertical="true", data-insertpalette="true")

    input#transparent(ng-model='editItem["Background Color"]', ng-true-value="1", ng-false-value="0", type='checkbox', data-mini="true", name='checkbox-v-6c')
    label(for='transparent') Transparent Background
    input(style='display:none;', ng-model='editItem["Font Bold"]', type="text")
    input(style='display:none;', ng-model='editItem["Font Name"]', type="text")
    input(style='display:none;', ng-model='editItem["Font Size"]', type="text")
    input(style='display:none;', ng-model='editItem["Foreground Color"]', type="text")

    div#trendProps(data-role='collapsible', data-mini='true', data-theme='c', data-content-theme='c', data-inset='false', data-collapsed='false')
      h4 Trend Points
      .objectBox
        table#table-custom-3.ui-body-d.ui-shadow.table-stripe.ui-responsive(style='margin-left:-20px;', data-role='table', data-column-btn-theme='b')
          thead
            tr.ui-bar-d
              th(data-priority='2', colspan='2')
               a(ng-dblclick="trendPoint()", id='trendChoose', class='popSelector', data-mini='true', data-rel='popup', data-position-to='window', data-role='button', data-inline='true', data-transition='pop', data-icon='d-open', data-theme='b') Add Point
          tbody
            tr(ng-repeat="trendPoint in editItem['points']")
              td
                div(style='text-overflow:ellipsis;padding-top:6px;font-size:12px;width:160px;overflow:hidden;text-overflow:ellipsis') {{trendPoint.name}}
              td(valign='middle')
                a(ng-click="delPoint(trendPoint)", data-mini='true', data-role='button', data-inline='true', data-icon='delete', data-iconpos="notext", data-theme='c') Remove Point
    div#chartProps(data-role='collapsible', data-mini='true', data-theme='c', data-content-theme='c', data-inset='false', data-collapsed='false')
      h4 Chart Properties
      label(for='text-1') Title
      input(ng-model="editItem.Title", type='text', value='')
      label(for='text-1') Y Axis
      input(ng-model="editItem.Yaxis", type='text',  value='')

    div#imgProps(data-role='collapsible', data-mini='true', data-theme='c', data-content-theme='c', data-inset='false', data-collapsed='false')
      h4 Animation Properties

      div Animation Type
        input.animTypeButton(id="anim-type-onoff", ng-model='animItem.animType', type='radio', data-mini="true", name='anim-type', value="onoff", ng-change="changeAnimType('onoff')")
        label(for='anim-type-onoff') On/Off
        input.animTypeButton(id="anim-type-frame", ng-model='animItem.animType', type='radio', data-mini="true", name='anim-type', value="frame", ng-change="changeAnimType('frame')")
        label(for='anim-type-frame') Frame Selection
        input.animTypeButton(id="anim-type-state", ng-model='animItem.animType', type='radio', data-mini="true", name='anim-type', value="multifile", ng-change="changeAnimType('multifile')")
        label(for='anim-type-state') Multi-file

      div.animationSingleFile.animationSection
        div File
        div(style='position:relative;')
            input.animText(ng-model="editItem['Animation File']", type='text', id="animSrc", value='')
            input(style='display:none', id="imgPicFile", type="file", accept="image/gif")
            a(style="border-radius:8px;position:absolute;left:-3px;top:1px;", href="#", id="browseBg2", data-icon="plus", data-role="button", data-mini="true", data-inline="true", data-iconpos="notext", data-theme="b") New Image
            a(style="border-radius:8px;position:absolute;right:-3px;top:1px;", href="#", ng-click="delImg()", id="delImg", data-icon="delete", data-role="button", data-mini="true", data-inline="true", data-iconpos="notext", data-theme="b") Delete
            a(style="border-radius:8px;position:absolute;left:25px;top:1px;", href="#diFileBrowserPopup", data-icon="edit", data-modelobject="editItem", data-modelfield="Animation File", data-imagetype="gif", class="browseserverimages", data-theme="b", data-mini="true", data-transition="pop", data-inline="true", data-iconpos="notext", data-role="button", data-position-to="window", data-rel="popup", data-corners="true", data-shadow="true", data-iconshadow="true", data-wrapperels="span", aria-haspopup="true") Existing Image

        div(style="position:relative;top:0px;")
            span Range/Divisor for Frame Selection
            input(ng-model="editItem['Precision']", type="text", id="animPrecision")

      div.animationMultiFile.animationSection
        div On State File
        div(style='position:relative;')
            input.animOnStateText.animText(ng-model="animItem.animFiles['OnState']", type='text', value='')
            input.animOnStateFile(style='display:none', type="file", accept="image/gif")
            a.animOnStateButton(style="border-radius:8px;position:absolute;left:-3px;top:-2px;", href="#", data-role="button", data-mini="true", data-inline="true", data-theme="b") Browse
        div Off State File
        div(style='position:relative;')
            input.animOffStateText.animText(ng-model="animItem.animFiles['OffState']", type='text', value='')
            input.animOffStateFile(style='display:none', type="file", accept="image/gif")
            a.animOffStateButton(style="border-radius:8px;position:absolute;left:-3px;top:-2px;", href="#", data-role="button", data-mini="true", data-inline="true", data-theme="b") Browse
        div On A State File
        div(style='position:relative;')
            input.animOnAlarmStateText.animText(ng-model="animItem.animFiles['OnAlarmState']", type='text', value='')
            input.animOnAlarmStateFile(style='display:none', type="file", accept="image/gif")
            a.animOnAlarmStateButton(style="border-radius:8px;position:absolute;left:-3px;top:-2px;", href="#", data-role="button", data-mini="true", data-inline="true", data-theme="b") Browse
        div Off A State File
        div(style='position:relative;')
            input.animOffAlarmStateText.animText(ng-model="animItem.animFiles['OffAlarmState']", type='text', value='')
            input.animOffAlarmStateFile(style='display:none', type="file", accept="image/gif")
            a.animOffAlarmStateButton(style="border-radius:8px;position:absolute;left:-3px;top:-2px;", href="#", data-role="button", data-mini="true", data-inline="true", data-theme="b") Browse
        div Fault State File
        div(style='position:relative;')
            input.animFaultStateText.animText(ng-model="animItem.animFiles['FaultState']", type='text', value='')
            input.animFaultStateFile(style='display:none', type="file", accept="image/gif")
            a.animFaultStateButton(style="border-radius:8px;position:absolute;left:-3px;top:-2px;", href="#", data-role="button", data-mini="true", data-inline="true", data-theme="b") Browse
    div#dynamicProps(style="display:inline-block", data-role='collapsible', data-mini='true', data-theme='c', data-content-theme='c', data-inset='false', data-collapsed='false')
      h4(style="width: 275px;top:0px;") Linked Point
      a#choosePoint(ng-dblclick="getPoint()", data-mini='true', data-rel='popup', data-position-to='window', data-role='button', data-inline='true', data-transition='pop', data-icon='d-open', data-theme='b') Select Point
      div#pname
        span(style="font-weight:bold") Name:
        span {{editItem["upi"]|pointName}}
      div(style='display:none;')
        span(style="font-weight:bold") Upi:
        span {{editItem["upi"]}}
      div#precision(style='padding-top:10px')
        div(style='font-weight:bold') Precision: 
        input#editItemPrecision(ng-model="editItem['uiPrecision']", type='number', min="0" max="9" data-mini='true', value='')

  #leftPanel(data-swipe-close='false', data-role='panel', data-dismissible='false', data-position='left', data-display='overlay')
    div(style='position: absolute; top: 0px;right:0px; left: 0px; width: 300px; height: 60px;')
      div(style='position: absolute; top: 0px; left: 0px; right:0px; width: 301px;')
        #navBar(style='margin: 0px;', data-role='navbar')
          ul

            li
              a#dnav2.ui-btn-active(href='#', data-icon='d-lib', data-theme='c') Objects
            li
              span#clipCount.badge
              a#dnav3(href='#', data-icon='d-clip', data-theme='c') Clipboard
            li
              a#dnav4(href='#', data-icon='d-clock', data-theme='c') Versions
            li
              a#dnav1(href='#', data-icon='d-disp', data-theme='c') Display

    #div(style="position:absolute;top:58px;left:0px;right:0px;bottom:0px;overflow:auto;")
      #rInner(style='position:absolute;top:0px;margin-left:0px;margin-right:0px;width:300px;overflow-x:hidden;bottom:0px')
        #dProps.leftPanels
          div(data-role='collapsible', data-mini='true', data-theme='c', data-content-theme='c', data-inset='false', data-collapsed='false')
            h4 Display Dimensions
            form
              ul(data-role='listview', data-inset='true')
                  li(data-role='fieldcontain')
                    label(for='slider1') Height:&nbsp;
                    input#slider1(ng-change="update()", ng-model='display.Height', type='range', name='slider1', data-mini='true', value='{{displayHeight()}}', min='100', max='2000', data-highlight='true')
                  li(data-role='fieldcontain')
                    label(for='slider2') Width:&nbsp;
                    input#slider2(ng-change="update()", ng-model='display.Width', type='range', name='slider2', data-mini='true', value='{{displayWidth()}}', min='100', max='2000', data-highlight='true')
                  li(data-role='fieldcontain', style='display:none;overflow:hidden')
                    label(for='handles', style='float:left;width:120px;padding-top:3px;') Resize Handles:
                    div(style='float:left;padding-left:0px;')
                      select#handles(name='handles', data-role='slider', data-mini='true')
                        option(value='hide') hide
                        option(value='show') show
                  li(data-role='fieldcontain')
                    input#checkbox-mini-0.custom(type='checkbox', name='checkbox-mini-0', data-mini='true', data-iconpos="right")
                    label(for='checkbox-mini-0') Show Resize Handles

          div(data-role='collapsible', data-mini='true', data-theme='c', data-content-theme='c', data-inset='false', data-collapsed='false')
            h4 Background
            div(style="height:190px") Color
              div(id="backgroundCustomColorPicker", data-bind="display['Background Color']", data-sm-palette="true", data-vertical="true", data-insertpalette="true")
            div(style="display: inline-block;position:relative;top: 0px;left: 0px;")
              div(style="height:60px;position:absolute;top: 0px;left: 0px;") Image
                input(style='padding-left:52px;width:185px;', id="bgPic", type="text", ng-model="display['Background Picture']")
                a(style="border-radius:8px;float:left;position: absolute;top:24px;left:-3px;", href="#", id="browseBg", data-icon="plus", data-role="button", data-mini="true", data-inline="true", data-iconpos="notext", data-theme="b") New Image
                input(style='display:none', id="bgPicFile", type="file", accept="image/*")
                a(style="border-radius:8px;float:right;position: absolute;top:27px;left:233px;", href="#", ng-click="delBg()", id="delBg", data-icon="delete", data-role="button", data-mini="true", data-inline="true", data-iconpos="notext", data-theme="b") Delete
                a(style="border-radius:8px;position:absolute;left:25px;top:25px;", href="#diFileBrowserPopup", data-icon="edit", data-modelobject="display", data-modelfield="Background Picture", data-imagetype="*",  class="browseserverimages", data-theme="b", data-mini="true", data-transition="pop", data-inline="true", data-iconpos="notext", data-role="button", data-position-to="window", data-rel="popup", data-corners="true", data-shadow="true", data-iconshadow="true", data-wrapperels="span", aria-haspopup="true") Existing Image

        #dClip.leftPanels
          div(data-role='collapsible', data-mini='true', data-theme='c', data-content-theme='c', data-inset='false', data-collapsed='false')
            h4 Current Items
            .objectBox(style='padding:0px;')
              ul#layers(ui-sortable='sortableOptions', ng-model="objs")
                li(ng-repeat='obj in clipBoard')
                  div(ng-click="action(obj)", draggable='true', data-drag-delay="100", ng-bind-html-unsafe="obj|screenType2", class='clipboardItem', id='clipboardItem-{{$index}}') item
        #dVersion.leftPanels
          div(data-role='collapsible', data-mini='true', data-theme='c', data-content-theme='c', data-inset='false', data-collapsed='false')
            h4 Version History
            .objectBox
              table#display-version-table.ui-body-d.ui-shadow.table-stripe.ui-responsive(data-role='table', data-column-btn-theme='b')
                thead
                  tr.ui-bar-d
                    th(data-priority='2') Versions
                tbody
                    tr(ng-repeat='version in versions', class='version')
                      td
                        div(ng-bind-html-unsafe="version|eDate")
                        div(class="version-buttons")
                          a(ng-click='publish(version)', class='vPublish{{version.version}}', data-mini='true', data-role='button', data-theme='b',  data-inline='true') Publish
                          a(ng-click='stage(version)', class='vStage{{version.version}}', data-mini='true', data-role='button', data-theme='b',  data-inline='true') Stage
                          a(ng-click='preview(version)', class='vView{{version.version}}', data-mini='true', data-role='button', data-theme='b', data-inline='true') View

        #dLib.leftPanels
          div(data-role='collapsible', data-mini='true', data-theme='c', data-content-theme='c', data-inset='false', data-collapsed='false')
            h4 Button
            .objectBox(style="position:relative;")
              img(src='/css/displays/cc/black/png/expand_icon&32.png')
              div.txtValue Display Link
              img#btn(ng-dblclick="addNewObject()", draggable='true', class='library', data-ghost='btnTemplate', src="/img/displays/clear.png", style="cursor:move;position:absolute;top:0px;left:0px;width:300px;height:100px;")
          div(data-role='collapsible', data-mini='true', data-theme='c', data-content-theme='c', data-inset='false', data-collapsed='false')
            h4 Text
            .objectBox(style="position:relative;")
              img(src='/css/displays/cc/black/png/text_letter_t_icon&32.png')
              div.txtValue Text Label
              img#txt(ng-dblclick="addNewTxt()", draggable='true', data-ghost='txtTemplate', src="/img/displays/clear.png", style="cursor:move;position:absolute;top:0px;left:0px;width:300px;height:100px;")
            .objectBox(style="position:relative;")
              img(src='/css/displays/cc/black/png/text_letter_t_icon&32.png')
              div.txtValue Dynamic Point Value
              img#dynn(ng-dblclick="addNewDyn()", draggable='true', data-ghost='dynTemplate', src="/img/displays/clear.png", style="cursor:move;position:absolute;top:0px;left:0px;width:300px;height:100px;")
          div(data-role='collapsible', data-mini='true', data-theme='c', data-content-theme='c', data-inset='false', data-collapsed='false')
            h4 Image
            .objectBox(style="position:relative;")
              img(src='/css/displays/cc/black/png/picture_icon&32.png')
              div.txtValue Animation
              img#anim(ng-dblclick="addNewAnimation()", draggable='true', data-ghost='animationTemplate', src="/img/displays/clear.png", style="cursor:move;position:absolute;top:0px;left:0px;width:300px;height:100px;")
          div(data-role='collapsible', data-mini='true', data-theme='c', data-content-theme='c', data-inset='false', data-collapsed='false')
            h4 Charts
            .objectBox(style="position:relative;")
              img(src='/css/displays/cc/black/png/chart_line_icon&32.png')
              div.txtValue Trend Plot
              img#plot(ng-dblclick="addPlot()", draggable='true', data-ghost='plotTemplate', src="/img/displays/clear.png", style="cursor:move;position:absolute;top:0px;left:0px;width:300px;height:100px;")
          div(data-role='collapsible', data-mini='true', data-theme='c', data-content-theme='c', data-inset='false', data-collapsed='false')
            h4 Current Objects ({{objs.length}})
            .objectBox(style='padding:0px;')
              ul#layers(ui-sortable='sortableOptions',  ng-model="objs")
                li(ng-repeat='obj in objs')
                  div.layerText(ng-click="action(obj)", ng-bind-html-unsafe="obj|screenType") item


    a#closeP(onclick='$("#closeP").hide();$("#openP").show();', href='#leftPanel', data-rel='open',  data-iconshadow="false", style='border-left:none;border-top-left-radius: 0px; border-bottom-left-radius: 0px;position: absolute; top: -8px; right: -29px;', data-role='button', data-icon='arrow-l', data-iconpos='notext', data-theme='c', data-inline='true') Close Panel
    a#openP(onclick='$("#openP").hide();$("#closeP").show();', href='#leftPanel', data-rel='open',  data-iconshadow="false", style='display:none;border-left:none;border-top-left-radius: 0px; border-bottom-left-radius: 0px;position: absolute; top: -8px; right: -30px;', data-role='button', data-icon='arrow-r', data-iconpos='notext', data-theme='c', data-inline='true') Open Panel

