extends layout

block content
  link(rel='stylesheet', href='/display/main.css')
  link(rel='stylesheet', href='/display/display.css')
  div(class='topBar',style='position: absolute; width: 100%;', data-role='header', data-theme='b')
    h1 Import Displays
  div(style='padding:100px')
    p Starting import will wipe the "versions" and "devpoints" collections, and re-generate from /app/import/displays.xml
    form(data-ajax='false',action='/displays/import',method='post')
      input(data-ajax='false',data-theme='a',type='submit',value='Start')


block panels