doctype html
html
    head
        title
            | Infoscan by Dorsett Technologies
        link(rel='stylesheet', href='/css/lib/bootstrap.css')
        link(rel='stylesheet', href='/sass/v2/bootstrap')
        link(rel='stylesheet', href='/sass/bootstrap/bootstrap-material-design')
        link(rel='stylesheet', href='/sass/bootstrap/ripples')
        link(rel='stylesheet', href='/css/lib/font-awesome.4.6.1.css')

    body
        .nav-side-menu
            .brand Infoscan
            i.fa.fa-bars.fa-2x.toggle-btn(data-toggle='collapse', data-target='#menu-content')
            .menu-list
                ul#menu-content.menu-content.collapse.out
                    //- li
                    //-     a(href='javascript://')
                    //-         i.fa.fa-dashboard.fa-lg
                    //-         |  Dashboard
                    li.collapsed.active(data-toggle='collapse', data-target='#products')
                        a(href='javascript://')
                            i.fa.fa-gift.fa-lg
                            |  UI Elements
                            span.arrow
                    ul#products.sub-menu.collapse.in
                        li
                            a(href='javascript://') Dynamic
                        li
                            a(href='javascript://') Animation
                        li
                            a(href='javascript://') Text
                        li
                            a(href='javascript://') Action Button
                        li
                            a(href='javascript://') Link Button
                    //- li.collapsed(data-toggle='collapse', data-target='#service')
                    //-     a(href='javascript://')
                    //-         i.fa.fa-globe.fa-lg
                    //-         |  Services
                    //-         span.arrow
                    //- ul#service.sub-menu.collapse
                    //-     li New Service 1
                    //-     li New Service 2
                    //-     li New Service 3
                    //- li.collapsed(data-toggle='collapse', data-target='#new')
                    //-     a(href='javascript://')
                    //-         i.fa.fa-car.fa-lg
                    //-         |  New
                    //-         span.arrow
                    //- ul#new.sub-menu.collapse
                    //-     li New New 1
                    //-     li New New 2
                    //-     li New New 3
                    li
                        a(href='javascript://')
                            i.fa.fa-user.fa-lg
                            |  Profile
                    //- li
                    //-     a(href='javascript://')
                    //-         i.fa.fa-users.fa-lg
                    //-         |  Users


    script(type='text/javascript', src='/js/lib/jquery-1.9.1.min.js')
    script(type='text/javascript', src='/js/lib/config.js')
    script(type='text/javascript', src='/js/lib/moment.js')
    script(type='text/javascript', src="/js/lib/knockout-3.2.0.js")
    script(type='text/javascript', src='/js/lib/socket.io.js')
    script(type='text/javascript', src='/js/lib/bootstrap.js')
    script(type='text/javascript', src='/js/lib/material.js')
    script(type='text/javascript', src='/js/lib/ripples.js')
    script(type='text/javascript', src='/js/v2/material.js')
