doctype html
html(xmlns:ng="https://angularjs.org", id="ng-app")
    head
        title Display Viewer
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/css/displays/jquery.mobile.structure-1.3.2.css')
        link(rel='stylesheet', href='/css/displays/jquery.mobile.theme-1.3.2.css')
        link(rel='stylesheet', href='/css/lib/bootstrap.css')
        link(rel='stylesheet', href='/css/lib/jquery-clockpicker.min.css')
        link(rel='stylesheet', href='/css/lib/daterangepicker.css')
        script(src='/js/lib/jquery-1.10.2.min.js')
        script(src='/js/lib/bootstrap.js')
        script(src='/js/lib/jquery-clockpicker.min.js')
        script(src='/js/lib/moment.js')
        script(src='/js/lib/daterangepicker.js')
        script(src='/js/v2/dorsettUtility.js')
        script.
            $(document).on("mobileinit", function () {
                    $.mobile.hashListeningEnabled = false;
                    $.mobile.pushStateEnabled = false;
                    $.mobile.changePage.defaults.changeHash = false;
            });
        script(src='/js/lib/jquery.mobile-1.3.2.js')
        script(src='/js/lib/jquery-ui-1.10.3.custom.min.js')
        script(src="/js/lib/socket.io.js")
    body(id="displayCtrl", ng-controller="DisplayCtrl", oncontextmenu="return false;")
        #container
            #page(data-role='page')
                div(data-role='content')
                    block content
                block panels

    #reportChooseRange.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    h3.panel-title Choose Range
                .modal-body.form-inline
                    .inputRow
                        span.rowLabel Range:
                        input#reportRange.input-sm.form-control(type="text")
                        span From:
                        input#reportTimeStart.reportTime.input-sm.form-control(type="text", ng-bind="reportConfig.starttimestamp")
                        span To:
                        input#reportTimeEnd.reportTime.input-sm.form-control(type="text", ng-bind="reportConfig.endtimestamp")
                    .inputRow
                        span.rowLabel Interval:
                        //- input#reportRange.input-sm.form-control(type="text")
                        input#reportInterval.intervalValue.form-control(ng-model="reportConfig.intervalNum", type="number", min="1", max="9999")
                        span.dropdown.availableIntervalsContainer
                            button.btn.btn-default.dropdown-toggle.intervalButton(data-toggle="dropdown")
                                span(ng-bind="reportConfig.intervalType")
                                span.caret
                            ul.intervals.dropdown-menu
                                li
                                    a(href="#", ng-click="selectInterval('Minute')") Minute
                                li
                                    a(href="#", ng-click="selectInterval('Hour')") Hour
                                li
                                    a(href="#", ng-click="selectInterval('Day')") Day
                                li
                                    a(href="#", ng-click="selectInterval('Week')") Week
                                li
                                    a(href="#", ng-click="selectInterval('Month')") Month
                                li
                                    a(href="#", ng-click="selectInterval('Year')") Year

                .modal-footer
                    button.btn.btn-default.btn-sm(data-dismiss="modal") Cancel
                    button#saveReport.btn.btn-primary.btn-sm(ng-show="isEdit") Save
                    button#openReportWithConfig.btn.btn-primary.btn-sm(ng-show="!isEdit") Open Report