extends layout

block content
  link(rel='stylesheet', href='/display/main.css')
  link(rel='stylesheet', href='/display/display.css')
  script(src="/display/socket.io.js")
  script(src='/display/angular.js')
  script(src='/display/import.js')
  style
    |.ui-table-columntoggle-btn{display:none;}
    |.ui-slider-handle{display:none;}
    |.ui-slider-bg{height:13px;}
  div(class='topBar',style='position: absolute; width: 100%;', data-role='header', data-theme='b')
    h1 Importing...
    h2
      input#slider(type='range', name='slider-fill', value='{{displays.length}}', data-theme='a',  min='0', max='2140', data-highlight='true')
  div(style='padding-top:100px;')
    table#table-custom-2.ui-body-d.ui-shadow.table-stripe.ui-responsive.ui-table.ui-table-columntoggle(style='display:none;',ng-click='addDisplay()',data-role='table', data-mode='columntoggle', data-column-btn-theme='b', data-column-btn-text='Columns to display...', data-column-popup-theme='a')
      thead
          tr.ui-bar-d
            th.ui-table-priority-2.ui-table-cell-visible(data-priority='2') Display UPI
            th Display Title
        tbody
          tr(ang-repeat="display in displays")
            td.ui-table-priority-1.ui-table-cell-visible {{display.upi}}
            td.ui-table-priority-5.ui-table-cell-visible {{display.title}}




block panels