extends layout

block content
  script.
    var upi = !{upi};//parseInt(!{JSON.stringify(upi)}, 10);
    //- console.log(displayJson);
  script(src='/js/lib/angular.js')
  script(src='/js/lib/jquery.mousewheel.js')
  script(src='/js/displays/functions.js')
  link(rel='stylesheet', href='/css/displays/main.css')
  link(rel='stylesheet', href='/css/displays/display.css')

  script(src='/js/displays/view.js')
  #backDrop(ng-style="{'background-color' : convertColor(display['Background Color'])}")
    #display(ng-style='getDisplayStyle(display)')
      include _displayview
    #actionButtonInput.ui-corner-all(data-overlay-theme='a', data-theme='c', data-dismissible='false', style='max-width: 500px;')
        .ui-corner-top(data-role='header', data-theme='a')
          h1 Enter Value
        .ui-corner-bottom.ui-content(data-role='content', style='padding: 5px;', data-theme='d')
          h3.ui-title
          label(for="actionButtonValue")
          input#actionButtonValue(type="range", name="actionButtonValue")
          a(href='#', ng-click="sendCommand()", data-role='button', data-inline='true', data-rel='back', data-transition='flow', data-theme='b') Send Command
          a(href='#', data-role='button', data-inline='true', data-rel='back', data-theme='c') Cancel

    #actionButtonReportInput.ui-corner-all(data-overlay-theme='a', data-theme='c', data-dismissible='false', style='max-width: 500px;')
        .ui-corner-top(data-role='header', data-theme='a')
          h1 Select Report Range
        .ui-corner-bottom.ui-content(data-role='content', style='padding: 5px;', data-theme='d')
          label(for="reportPredefined") Pre-Defined Range
          input#reportPredefined(ng-change="checkReportRange()", ng-model="reportType", type="radio", name="reportType", value="predefined", checked)
          label(for="reportChoose") Choose Range
          input#reportChoose(ng-change="checkReportRange()", ng-model="reportType", type="radio", name="reportType", value="chosen")
          div(ng-show="reportType == 'chosen'")
            h3.ui-title Report Start
            input#reportStart(type="text")
            h3.ui-title Report End
            input#reportEnd(type="text")
          div(ng-show="reportType == 'predefined'")
            h3.ui-title Pre-defined Range
            select(ng-model='reportDuration')
              option None
              option Last 12 hours
              option Last 24 hours
              option Last 48 hours
              option Last 72 hours
              option Last 7 days
              option Last month
              option Last 6 months
              option Last year
          a#openReport(href='#', ng-click="openReport()", data-role='button', data-inline='true', data-rel='back', data-transition='flow', data-theme='b') Open Report
          a(href='#', data-role='button', data-inline='true', data-rel='back', data-theme='c') Cancel

    //div(class='topBar',style='position: absolute; width: 100%;', data-role='header', data-theme='a')

    include _bottomBar.jade
  #tip tool tip
