doctype 5
html
    head
        title #{title}
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='viewport', content='width=device-width, minimum-scale=1.0')
        meta(http-equiv='Content-Type', content='text/html;')
        script(src='/js/lib/jquery-1.10.2.min.js')
        link(type='text/css', rel='stylesheet', href='/css/lib/animations.css')
        link(type='text/css', rel='stylesheet', href='/css/lib/bootstrap3.min.css')
        link(type='text/css', rel='stylesheet', href='/css/lib/font-awesome-4.0.3/css/font-awesome.min.css')
        link(type='text/css', rel='stylesheet', href='/css/lib/iToast.css')
        link(type='text/css', rel='stylesheet', href='/css/gpl-css/gpl.css')
        script.
            var iddd, isOld, point,isViewer;
            iddd = '!{id}';
            isOld = '!{isOld}';
            point = JSON.parse('!{point}');
            isViewer = false;


    body
        block content

        script(src='/js/gpl-js/lib/shifty.js')
        script(src='/js/gpl-js/lib/raphael.js')
        script(src='/js/gpl-js/lib/g.raphael-min.js')
        script(src="/js/lib/itoast.min.js")
        script(src="/js/lib/jquery.mousewheel.min.js")
        script(src='/js/lib/chromoselector.min.js')
        script(src='/js/lib/jquery-ui.min.js')
        script(src='/js/lib/bootstrap3.min.js')
        //script(src='/js/lib/bootstrap3-hover-dropdown.min.js')
        script(src='/js/lib/jquery.contextmenu.js')
        script(src='/js/lib/knockout-3.1.0.js')
        script(src='/js/lib/koExternalTemplateEngine_all.js')
        script(src='/js/gpl-js/lib/tinymce.min.js')
        script(src='/js/lib/Underscore.js')
        script(src='/js/gpl-js/core2.js')
        script(src='/js/gpl-js/gpl.js')