#NonPointPropPanel.ui-responsive(data-role='panel', data-position-fixed='true', data-display='overlay', data-position='right', data-theme='b')
    div(data-role='collapsible', data-theme='b', data-content-theme='d', data-inset='false', data-collapsed='false')
        h6 Properties
        #NonPointRightPanel
            .row-fluid
                div(data-bind="template: { name: templateUrl, data: selectedProp }")

#PointPropPanel.ui-corner-all(data-role='popup',data-close-btn-text='X', data-display='overlay', data-transition='slidedown', data-position-to='origin', data-theme='b', data-dismissible='false')
    div(data-role='header',data-theme='b', style='overflow: hidden;')
        div(data-role='controlgroup', data-type='horizontal', style='display: inline; float: right;')
            a(href='javascript:window.app.view.popoutWin();', data-role='button', data-theme='b', data-inline='true', title='Pop-Out')
                i.icon-external-link
            a(href='#', data-role='button', data-rel='back', data-theme='b', data-inline='true', title='Close')
                i.icon-remove
        h1 Properties
        div(data-role='navbar')
            ul
                li
                    a.ui-btn-active(href='#valueSection', title='Value', data-toggle='tab')
                        i.icon-tasks.icon-large
                li
                    a(href='#displaySection', data-toggle='tab', title='Display')
                        i.icon-building.icon-large
                li
                    a(href='#shutdownControlSection', data-toggle='tab', title='Shutdown Control')
                        i.icon-off.icon-large
                li
                    a(href='#controlSection', data-toggle='tab', title='Control')
                        i.icon-qrcode.icon-large
    .tab-content.ui-bar-e
        #valueSection.tab-pane.active
            div.ui-bar-e(data-bind='template: { name: \'CommonValue\', data:selectedProp}')
        #displaySection.tab-pane
            div.ui-bar-e(data-bind='template: { name: \'CommonDisplay\', data:selectedProp}')
        #shutdownControlSection.tab-pane
            div.ui-bar-e(data-bind='template: { name: \'ShutdownControl\', data:selectedProp}')
        #controlSection.tab-pane
            div.ui-bar-e(data-bind='template: { name: templateUrl, data:selectedProp}')
    div(data-role='footer')
        div(data-role='navbar')
            ul
                li
                    a(href='#',data-rel='back', data-role='button', title='Apply')
                        i.icon-save.icon-large
                        | Apply
                li
                    a(href='javascript:window.app.view.cancelChanges();', title='Cancel')
                        i.icon-remove.icon-large
                        | Cancel


