doctype html
html
    head
        meta(charset="utf-8")
        link(rel='stylesheet', href='/css/lib/materialize.css')
        link(rel='stylesheet', href='/css/lib/materialize.icons.css')
        link(rel='stylesheet', href='/css/lib/materialdesignicons.css')
    body.blue-grey.lighten-5
        block content
    .container
        .panel.danger
            .panel.panel-heading
                h2 There was an error processing this sequence.
            .panel.panel-body
                h4
                    | Possibly, this sequence was removed from Database.
                    | Please contact system administrator for further details.
