extends layout
block content
    div
        #loadingScreen
            #loadingTitle
                p
                    h4.animated.flash Loading...
                    h3
                        .label.label-primary #{title}

        #canv(data-role='content')
            #canvas
        include ./GPLMain
        include ../pointSelector/models/addpoint

        #filterPane.pocp_right
            .pocp
                #filter.navbar-default.ui-responsive
                    #filter_actions.panel-group
        nav.navbar.navbar-inverse.navbar-fixed-bottom(role='navigation')
            .container-fluid
                a#toolbarOpen.pocp_button_left.pocp_button.editMode(style='display:none')
                    i.fa.fa-plus
                .col-xs-4
                    #viewMode
                .col-xs-1
                .col-xs-3
                    div.btn-group.btn-group-sm.dropup
                        button.btn.btn-primary#pointName(type="button")
                            | #{title}
                        button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                            span.caret
                                span.sr-only Toggle Dropdown
                        ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
                            li.dropdown-submenu.dropup-menu(data-bind="visible:!isViewer() && (deletedFigures().length > 0)")
                                a(href="#") Deleted Point Blocks
                                ul.subMenu(style='min-width:260px', data-bind="foreach:deletedFigures", role="menu", aria-labelledby="dLabel")
                                    li
                                        a.alert-link.alert-danger(style='cursor:pointer', title='Restore', data-bind='click:$parent.restoreFigure')
                                            span(data-bind="html:label +' <b>(' + figureType + ')</b>'")
                                            i.fa.fa-mail-reply
                                        //a(style='cursor:pointer', title='Delete', data-bind='click:$parent.purgeFigure')
                                            i.fa.fa-trash-o
                            li.divider(data-bind="visible:!isViewer() && (deletedFigures().length > 0)")
                            li
                                a#sequenceProp(href='javascript:;') Sequence Properties
                .col-xs-1
                    div.pull-right(style="cursor:pointer;margin-top:5px;")
                        a#zoom100(style='display:none',title='Zoom 100%')
                            span.fa.fa-search
                                | Reset

                    //.pull-left(style="cursor:pointer;margin-top:10px;margin-left:-40px")
                        a#zoomOut(title='Zoom Out')
                            span.fa.fa-search-minus
                .col-xs-1
                    //.pull-right
                    #zoomSlider
                .col-xs-1
                    //.pull-left(style="cursor:pointer;margin-top:10px;margin-left:-20px")
                        a#zoomIn(title='Zoom In')
                            span.fa.fa-search-plus
                .col-xs-1
                    //div(style="cursor:pointer;margin-top:10px;margin-left:-90px")
                        a#zoom100(title='Zoom 100%')
                            span.fa.fa-search
