html, body { width:100%; height:100%; }

#container {
    padding: 0px;
    margin: 0px;

}

#preview{
    width:600px;
    height:400px;
    border: 1px solid gray;
    background-color: white;
    overflow: auto;
}


#canvas {
    /*position:absolute;*/
    /*width:1600px;*/
    /*height:99%;*/

    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    overflow: scroll;
    background-color: #FFFFFF;
}



.buttonsOnTop{
    z-index: 9;
}
a.buttonsOnTop{
    text-decoration:none;
}

#navigation {
    padding: 0px;
    margin: 0px;
    background: transparent url('images/background.png');
    text-align: center;
    
    
}

.alert{
    z-index:2;
    display:block;
    overflow:hidden;
    position:absolute;
    bottom:0;
    right:0;
}
.panel-heading{
    cursor: pointer;
}
.titleBar{
    display:block;
    position:fixed;
    overflow:hidden;
    margin-bottom:0px;
    right:17px;
    top:5px;
    z-index:2;

}
#accordion{
    display:block;
    position:fixed;
    overflow:hidden;
    margin-bottom:0px;
    right:17px;
    width:50px;
    top:40%;
    z-index:2;
    /*margin-top:100px;*/

}



.panel-body {
    padding: 0px;
}

#accordion>a{
    border-radius: 5px 0px 0px 5px;
}
#myPanel{
    width:220px;
    /*z-index:3;*/

}



#propertywindow {
    padding: 10px;
    margin: 0px;
    background: transparent url('images/background_dark.jpg');
    /*text-align: center;*/
   
}





#propertypane {
    padding: 0px;
    margin: 0px;
    width: 10%;
    background-color: #7D7D7D;
    border-top: 0px;
}

/*container of a single property entry*/
.property_container {
    padding: 5px;
    padding-bottom: 15px;
}

.toolbar_delimiter {
    margin-left: 40px;
}

#content {
    padding: 0px;
    margin: 0px;
}

.customIcon {
    border: 1px solid gray;
    cursor: move;
    padding: 10px;
    border-radius: 5px;
}


.palette_node_element {
    border: 1px solid gray;
    background-color: #f3f3f3;
    padding: 2px;
    cursor: move;
    width: 80px;
    margin: 10px auto 10px auto;
    text-align: center;
    border-radius: 5px;
}

.shadow {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}



.ui-content {
    padding: 2px;
}



#toolbar{
    padding:0px;
    /*height:70px;*/
}




.btn-toolbar {
    margin-top: 0px;
    margin-bottom: 0px;
}

#json{
    width:600px;
    height:400px;
    border: 1px solid gray;
    overflow: auto;
}


/* CSS from the cool website: http://cssarrowplease.com/ */

.tooltip {
    position: absolute;
    background: #88b7d5;
    border: 4px solid #c2e1f5;
    padding:10px;
}

.tooltip:after,.tooltip:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tooltip:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #88b7d5;
    border-width: 7px;
    left: 50%;
    margin-left: -7px;
}

.tooltip:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #c2e1f5;
    border-width: 13px;
    left: 50%;
    margin-left: -13px;
}

.ui-panel-inner{
    padding-top:0px;
}

.headerTitle{
    text-align: center;
}

.ui-popup>.ui-btn-immediate {
    position: absolute;
    top:20px;
    margin: 0;
    z-index: 1101;
}

.ui-popup>.ui-btn-immediate2 {
    position: relative;
    left: 209px;
    top:20px;
    margin: 0;
    z-index: 1101;
}

ul,ol{padding:0;margin:0 0 9px 25px;}

/*.pagination{height:36px;margin:18px 0;}*/
/*.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}*/
/*.pagination li{display:inline;}*/

/*.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {*/
    /*background-color: transparent;*/
/*}*/
.icons{
    width:55px; height:55px;
    /*-moz-box-shadow:    inset 0 0 10px #0c0c0c;*/
    /*-webkit-box-shadow: inset 0 0 10px #0c0c0c;*/
    /*box-shadow:         inset 0 0 10px #0c0c0c;*/
    /*background-color: #f5f5f5;*/
}



.ui-cs-chromoselector {
    z-index: 4000;
    background: #e4ccc1;
    background: rgba(228, 204, 193, 0.8);
    border: 1px solid #521;
    border-color: rgba(82, 37, 18, 0.5);
    position: absolute;
}
.ui-cs-chromoselector .ui-cs-supercontainer {
    position: relative;
}
.ui-cs-chromoselector .ui-cs-container {
    float: left;
}
.ui-cs-chromoselector .ui-cs-preview-container {
    margin: 0;
    padding: 10px 10px 0;
}
.ui-cs-chromoselector .ui-cs-preview-widget {
    margin: 0;
    height: 25px;
    width: 100%;
}
.ui-cs-chromoselector .ui-cs-widget {
}
.ui-cs-chromoselector .ui-cs-resizer {
    cursor: se-resize;
}
.ui-cs-icon {
    z-index: 4000;
    padding: 0 0.1em;
}
.ui-cs-chromoselector .ui-cs-panel {
    float: left;
    text-align: center;
}
.ui-cs-chromoselector .ui-cs-panel select {
    border: 1px solid #521;
    border-color: rgba(82, 37, 18, 0.5);
    margin-top: 10px;
}
.ui-cs-chromoselector .ui-cs-panel .ui-panel-labels {
    width: 100%;
    font-size: 12px;
    font-family: sans, sans-serif, verdana, arial;
    overflow: hidden;
    cursor: default;
}
.ui-cs-chromoselector .ui-cs-panel .ui-panel-labels div {
    float: left;
    color: #521;
    padding-bottom: 10px;
}
.ui-cs-chromoselector.ui-cs-static {
    position: relative;
    background: none;
    border: none;
}

.close {
    max-width:10%;
}

.modal-body {
    padding: 10px;
    font-size:10pt;
}

.closeModalButton{
    max-width: 15%;
    color: #ffffff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;

}




/*#viewMode, #zoomSlider{*/
    /*margin-top:6px;*/
/*}*/

/*#pointName{*/
    /*color:#4598d8*/
/*}*/

.navbar-fixed-bottom {
    z-index: 1;
    min-height: 15px;
}


#loadingScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    background-image: -webkit-linear-gradient( #f9f9f9, #eee );
    background-image: -moz-linear-gradient( #f9f9f9, #eee );
    background-image: -ms-linear-gradient( #f9f9f9, #eee );
    background-image: -o-linear-gradient( #f9f9f9, #eee );
    background-image: linear-gradient( #f9f9f9, #eee );
    z-index: 10000000;
}
#loadingTitle {
    position: absolute;
    height: 200px;
    width: 363px;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    zoom: 1;
}
#loadingTitle h2 {
    /*text-transform: uppercase;*/
    color: #333;
}
#loadingTitle p {
    color: #666;
    -webkit-animation-duration: 2.5s;
    -moz-animation-duration: 2.5s;
    -ms-animation-duration: 2.5s;
    -o-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

#loadingScreen{
    backgroundColor: #000;
    '-webkit-border-radius': 10px;
    '-moz-border-radius': 10px;
    opacity: .3;
    color: #000;
}

a#toolbarOpen{
    text-decoration: none;
}

#modal-SaveDialog > .modal-dialog {
    width: 400px;
    padding-top: 15%;
    padding-bottom: 30px;
}

.modal-header {
    padding:9px 5px;
    border-bottom:1px solid #eee;
    background-color: #373737;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-title{
    color:#c8def4;
}
.close{
    color:#c8def4;
    font-size:26px;
}

.close :hover{
    color:#c8def4;
}

#pointName{
    cursor: pointer;
}

.modal{
    z-index: 9999;
}


#modal-sequenceProp > .modal-backdrop.in {
    opacity: 0;
    filter: alpha(opacity=50);
}

/*.dropdown-submenu {*/
    /*position: relative;*/
/*}*/

/*.dropdown-submenu>.dropdown-menu {*/
    /*top: 0;*/
    /*left: 100%;*/
    /*margin-top: -6px;*/
    /*margin-left: -1px;*/
    /*-webkit-border-radius: 0 6px 6px 6px;*/
    /*-moz-border-radius: 0 6px 6px;*/
    /*border-radius: 0 6px 6px 6px;*/
/*}*/

/*.dropdown-submenu:hover>.dropdown-menu {*/
    /*display: block;*/

/*}*/

/*.dropdown-submenu>a:after {*/
    /*display: block;*/
    /*content: " ";*/
    /*float: right;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-color: transparent;*/
    /*border-style: solid;*/
    /*border-width: 5px 0 5px 5px;*/
    /*border-left-color: #ccc;*/
    /*margin-top: 5px;*/
    /*margin-right: -10px;*/
/*}*/

/*.dropdown-submenu:hover>a:after {*/
    /*border-left-color: #fff;*/
/*}*/


/*.dropdown-submenu.pull-left {*/
    /*float: none;*/
/*}*/

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.subMenu > li {
    list-style: none;
}

.subMenu > li > a {
    background-color: #fff;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

