body {
    overflow: hidden;
}

.dynamicBtn,
.actionBtn {
    padding: 2px 5px;
}

.bm10px {
    margin-bottom: 10px;
}

.canvas-container {
    position: absolute !important;
}

.datepicker {
    z-index: 3000 !important;
}
.mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.gplTooltip {
    position: absolute;
    background-color: #333;
    z-index: 9999;
    color: #ffffff;
    padding: 4px 3px;
    border-radius: 3px;
}

.displayBlock {
    display: block !important;
}

.hideLoading {
    display: none;
}

.loaded .hideLoading {
    display: block;
}

.viewMode .editSection,
.editMode .viewSection {
    display: none !important;
}

.blockOverlay,
.blockMsg {
    z-index: 9999 !important;
}

.modal .panel {
    margin-bottom: 0;
}

.modal .input-row {
    /*margin-bottom: 7px;*/
    padding: 2px;
}

.modal .input-row .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

.blockLabel {
    width: 200px;
}

#editInputOutput .row {
    margin-bottom: 5px !important;
}

#gplSequenceProperties .row {
    margin-left: auto;
}

#gplSequenceProperties .controllerDropdown {
    margin-top: -119px;
}

#gplSequenceProperties .gplUpdateInterval {
    padding-top: 40px;
}

.spacedControls > .form-group {
    margin-bottom: 10px;
}

.modal .form-group label {
    margin-right: 5px;
}

.modal .form-group .input-xs {
    height: 1.8em;
}

.noBoldControls label {
    font-weight: normal;
}

.spacedRadio input {
    margin-left: 10px !important;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #455a64 !important;
}
.dataField > label {
    margin-top: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /*text-transform: uppercase;*/
    font-size: 14px;
    font-weight: normal;
    /*color: #e4e4e4;*/
    display: block;
    margin-bottom: 4px;
    /*border-bottom: 1px solid #CECECE;*/
}

.dataField > input[type="checkbox"] {
    margin: 0;
}

.dataField .short-input {
    width: 30px;
    padding: 0;
    text-align: center;
}

.mr5 {
    margin-right: 5px;
}

.shortInputs .input-sm {
    height: 24px;
}

.zoomSection {
    display: inline-flex;
    margin-right: 15px;
    margin-top: 4px;
}

.zoomSection .percentSign {
    color: white;
}

.zoomSection.input-field label {
    right: 60px !important;
    top: 0px !important;
}

.zoomSection.input-field input {
    width: 42px !important;
    height: 2rem !important;
}

.zoomSection.input-field label.active {
    right: 60px !important;
    top: 22px !important;
}

.devicePoint button,
.pointName button {
    margin-right: 10px;
}

.pointName span {
    cursor: default;
}

.bottomBar {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 47px;
    text-align: center;
    background-color: #333;
    padding-top: 5px;
    border-top: 1px solid #ccc;
}

.bottomBar .btn {
    margin-left: 2px;
    /*padding-right: 3px;*/
}

.bottomBar .pop {
    margin-top: 4px;
    margin-left: 10px;
    font-size: 0.9em;
}

.bottomBar a {
    color: #ffffff;
}

.bottomBar .editVersionAvailable {
    font-size: 0.8em;
    padding-left: 10px;
}

.pop .fa-arrow-circle-up,
.pop .fa-arrow-circle-down {
    margin-right: 3px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.sequenceName {
    margin-right: 10px;
    font-size: 0.9em;
    text-align: center;
}


.colorpicker span {
    color: #ccc;
}

.colorpicker {
    margin-bottom: 5px;
}

.contextMenu {
    font-size: 0.8em;
    background-color: #333333;
    color: #cccccc;
    box-shadow: 3px 3px 2px #333333;
    width: auto;
    border-radius: 3px;
}

.contextMenu .head {
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #ccc;
}

.contextMenu li {
    display: none;
    padding: 2px 0;
}

.contextMenu .nonPoint .nonPoint {
    display: none !important;
}

.contextMenu .block .block,
.contextMenu .line .line,
.contextMenu .text .text,
.contextMenu .default .default,
.contextMenu ul .all {
    display: list-item;
}

.contextMenu li a {
    color: #ccc;
    /*padding-left: 18px;*/
    /*text-indent: -15px;*/
    display: block;
    width: 100%;
}

.contextMenu li a:hover {
    color: #333;
    background-color: #ccc;
}

.contextMenu .jqx-fill-state-hover-flat {
    background-image: none;
    background-color: #d3d3d3;
}

#gplMessageBody {
    overflow: auto;
    max-height: calc(100vh - 160px);
}

/* overrides */

.modal-body {
    padding: 15px;
}

.modal-body-no-padding {
    padding-left: 0;
    padding-right: 0;
}

.modal-header,
.modal-footer {
    padding: 10px;
}

.modal-header {
    background-color: #455a64;
}

.jqx-color-picker-preview {
    margin-left: 10px;
}

.blockMsg {
    font-size: 19px;
}