doctype html
html
    head
        title
        link(rel='stylesheet', href='/css/trendPlots/style.css')
    body
        block content
        script(src='/js/lib/jquery-1.9.1.min.js')
        script(src='/js/lib/underscore.js')
        script(src='/js/slideShows/underscore.string.min.js')
        script(type='text/javascript', src='/js/lib/backbone.min.js')
        script(type='text/javascript', src='/js/lib/knockout-2.3.0.js')
        script(type='text/javascript', src='/js/lib/knockback.min.js')
        script(src='/js/lib/bootstrap3.min.js')
        script(src='/js/lib/knockback.min.js')
        script(src='/js/lib/highcharts.js')
        script(src='/js/trendPlots/trendPlotViewModel.js',type='text/javascript')
        block script
