th {
    outline: 1px solid #CCC;
    padding: 1px;
    text-align: center;
}
td {
    outline: 1px solid #CCC;
    padding: 1px;
}
.text-right {
    text-align: right;
}
small, .small {
    font-size: 85%;
}
h1 {
    font-size: 12pt;
    text-align: center;
}
table {
    font-size: 10pt;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px;
}
.nowrap {
    white-space: nowrap;
}
td.firstColumn.small.datetime {
    min-width: 60px;
    width: 75px;
}
.dataTables_wrapper {
    padding-left: 20px;
    padding-right: 20px;
}
.tabViewReport {
    margin: 0px 30px 15px 15px;
}
.marginForFirstTable {
    margin: 0px 15px 3px 15px;
}
.marginForTable {
    margin: 20px 15px 3px 10px;
}
.pageNumbering {
    margin-left: 950px;
    display: -webkit-box;
}
.narrowTable {

}
.showChart {
    display: block;
}
.hideChart {
    display: none;
}
@media print {
    .pageBreakAfter {
        display: block;
        page-break-after: always;
        -webkit-column-break-after: always;
    }

    .pageBreakBefore {
        display: block;
        page-break-before: always;
        -webkit-column-break-before: always;
    }

    .pageNumbering {
        margin-left: 1000px;
        display: flex;
        width: 150px;
    }

    .reportDisplayTitle {
        margin-top: 15px;
        margin-left: 300px;
        width: 400px;
    }
}
