.leftBar {
    z-index: 5;
    padding: 0px 0px 10px 5px;
    position: absolute;
    width: 86px;
    height: 100%;
    color: #ffffff;
    border-right: 1px solid #ccc;
}
.leftBar a {
    /*padding-top: 0px;*/
}
.rightPanel {
    z-index: 0;
    position: absolute;
    left: 86px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #fff;
    /*overflow-x: auto;*/
}
.rightPanel > div.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.reportDisplayFooter {
    display: inline-block;
    margin-right: 21px;
    vertical-align: super;
}
td .durationCtrl {
    /*display: inline-flex;*/
    /*padding: 2px 8px 2px 2px;*/
    /*width: 150px;*/
    /*text-align: right;*/
}
td .durationCtrl > input {
    width: 25px;
    text-align: right;
    padding: 3px;
    border: none;
    outline: none;
}
td .durationCtrl > .timeSeg {
    font-size: x-small;
}
td .durationCtrl.durationDisplay {
    text-align: right;
    padding: 3px 10px 3px 3px;
    outline: none;
}
td .durationCtrl.durationDisplay > .timeSeg {
    padding-right: 4px;
}
td .durationCtrl > input::-webkit-inner-spin-button,
td .durationCtrl > input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
input.input.form-control.durationDateRange {
    width: 200px;
    padding-left: 26px;
}
input.input.form-control.durationDateRangeTime {
    width: 65px;
}
.durationError {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.reportRangePicker {
    width: 150px;
}
.leftBar .tabs li {
    padding: 6px 6px 6px 6px;
}
.leftBar .tabs li.active {
    background-color: #6b9355;
}
.leftBar .tabs li:hover {
    cursor: pointer;
    text-decoration: underline;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    text-rendering: optimizeLegibility;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.viewReportNav {
    width: 400px !important;
    /*height: 53px !important;*/
    /*margin-left: 8px !important;*/
}
.viewReportNav li {
    margin-right: 5px;
}
.runReportTabSpinner {
    margin-left: 20px;
}
.runReportCheckMark {
    margin-left: 34px;
}
.reportDisplayTitle {
    margin-top: 2px;
    text-align: center;
}
.direports > body > ul.dt-button-collection.dropdown-menu {
    width: 100px;
    min-width: 90px;
    margin-left: 25px;
}
.direports > body > .dropdown-menu > li {
    cursor: pointer;
}
.direports > body > .dropdown-menu > li > a:hover {
    background-color: #d5e1f2;
}
.tableFooter {
    cursor: default;
    font-weight: bold;
}
.pointInstance {
    cursor: pointer;
}
.pointInstance:hover {
    background-color: #d5e1f2;
}
.removerow {
    cursor: pointer;
}
.availablePropertiesContainer .dropdown-content {
    cursor: pointer;
}
.availableOperatorsContainer .dropdown-content {
    cursor: pointer;
    padding-left: 10px;
    width: 68px;
    min-width: 50px;
}
.availableIntervalsContainer {
    padding-left: 15px;
}
.availableIntervalsContainer .dropdown-content {
    cursor: pointer;
    margin-right: 7px;
    margin-top: 26px;
}
.availableIntervalsContainer a.dropdown-button {
    margin-top: 26px;
}
.availableDurationsContainer .dropdown-content {
    cursor: pointer;
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
}
div.reportAttribs.tab-pane {
    padding-left: 1%;
    padding-top: 20px;
}
div.additionalFilters.tab-pane {
    padding-left: 5%;
    padding-top: 20px;
}
.durationCalendarIcon {
    left: -222px;
    top: 12px;
}
.timePickers {
    display: flex;
}
span.timePickerLabel {
    display: flex;
    align-items: center;
    color: black;
}
.reportDatePickers {
    display: inline-flex;
}
.reportTimePickers {
    display: inline-flex;
}
span.reportEndDatePicker, span.endTimepicker {
    padding-left: 20px;
}
.reportDatePickers .input-field {
    width: 150px;
}
.reportTimePickers .input-field {
    width: 150px;
}
span.reportDateRangeLabel {
    display: flex;
    align-items: center;
    color: black;
    padding: 0px 3px 0px 3px;
}
input.intervalValue {
    padding-left: 5px;
    width: 65px;
}
.intervalSettings {
    display: inline-flex;
}
.emptyColumn {
    width: 10px;
}
.filterOperator {
    width: 55px;
}
.dateTimeDate {
    width: 85px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.dateTimeTime {
    width: 50px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.pointLookupColumn {
    min-width: 270px;
}
.operators.dropdown-menu {
    min-width: 45px;
    width: 45px;
    text-indent: -13px;
    margin-left: 8px;
    margin-top: -2px;
}
.totalizerOperator {
    width: 115px;
}
.totalizerOperators.dropdown-content {
    width: 80px !important;
}
.calculations {
    list-style-type: none;
    width: 115px;
    -webkit-appearance: none;
    padding: 15px 0px 0px 8px;
}
.globalCalculations {
    list-style-type: none;
}
.entries.dropdown-content {
    width: 130px;
    min-width: 70px;
    text-indent: 7px;
    padding-top: 10px;
}
.calculations.dropdown-content {
    width: 110px !important;
    padding-bottom: 12px;
}
.calculations.dropdown-content li {
    min-height: 10px;
}
.availableAxisGroupsContainer .dropdown-content li {
    min-height: 10px;
}
.chartTypeSelection {
    padding-left: 100px;
}
.chartTypes.dropdown-content {
    width: 65px;
    min-width: 65px;
    text-indent: -13px;
}
.childCondition > .dropdown > .operators.dropdown-content {
    min-width: 45px;
    width: 45px;
    text-indent: -13px;
    margin-left: 22px;
    margin-top: -2px;
}
.intervals.dropdown-content {
    min-width: 85px;
    width: 85px;
    text-indent: 0px;
}
.addColumnGridButton {
    cursor: pointer;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: #607d8b !important;
}
.operator {
    cursor: pointer;
}
.filterContainer {
    cursor: pointer;
}
.condition {
    cursor: pointer;
}
.globallyChangedField {
    border: 2px solid lightskyblue;
}
.footerCalc:hover {
    color: #00B04F;
}
.footerCalc:hover:after {
    content: attr(data-title);
    border: 1px solid #cccccc;
    background-color: #efefef;
    position: relative;
    padding: 3px 8px;
    font-size: 14px;
    z-index: 9999;
    margin-left: 40px;
    margin-top: -30px;
    width: 130px;
}
td.filterName {
    width: 275px;
    padding-left: 20px !important;
}
.filterName.open:focus {
    border-color: #d5e1f2;
}
.nav-tabs > li > a:hover {
    background-color: #eceff1 !important;
}
.nav-tabs > li.active > a {
    background: none;
}
.tabConfiguration{
    width: 100%;
    height: 95%;
    padding-top: 0px;
    min-width: 850px;
}
.tabConfiguration ul.nav.nav-tabs {
    border-bottom: none;
}
.tabConfiguration ul.nav.nav-tabs li.active a {
    background-color: #fff !important;
}
.tabConfiguration .tab-content {
    background-color: #fff;
    border-radius: 0px 0px 7px 7px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
.tabViewReport {
    width: 100%;
    height: 100%;
    padding-top: 0px;
    min-width: 850px;
}
.tabViewReport ul.nav.nav-tabs {
    border-bottom: none;
}
.tabViewReport ul.nav.nav-tabs li.active a {
    border: 1px solid #416933;
}
.tabViewReport ul.nav.nav-tabs li a {
    padding: 1px 3px 1px 3px;
    border-radius: 4px 4px 4px 4px;
}
.tabViewReport .tab-content {
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    border-radius: 0px 0px 7px 7px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 5px;
    padding-right: 10px;
}
.tabViewReport div.dataTables_filter {
    float: right;
    margin-top: -50px;
    height: 65px;
}
.tabViewReport div.dataTables_paginate {
    margin-top: -21px;
}
.tabViewReport .chartButtons {
    display: inline-flex;
    padding: 3px;
    margin-top: -45px;
    float: right;
}
.tabViewReport .chartButtons a.btn.btn-default {
    padding: 0px 7px 0px 9px;
    border-radius: 0px 4px 4px 0px;
    height: 33px;
    margin-top: 2px;
}
.tabViewReport .chartButtons i.fa-print {
    padding-right: 3px;
}
#reportAttribs {
    overflow-y: auto;
}
#reportColumns {
    overflow-y: auto;
}
#gridColumnConfig {
    overflow-x: auto;
}
#filterByPoint {
    overflow-y: auto;
}
#additionalFilters {
    overflow-y: auto;
}
#chartSettings {
    overflow-y: auto;
}
ul.filterValues.dropdown-content {
    min-width: 60px;
}
ul.enumproperties.dropdown-content li a:hover {
    background-color: #d5e1f2;
}
ul.filterValues.dropdown-content li a:hover {
    background-color: #d5e1f2;
}
ul.operators.dropdown-content li a:hover {
    background-color: #d5e1f2;
}
ul.totalizerOperators.dropdown-content li a:hover {
    background-color: #d5e1f2;
    cursor: pointer;
}
ul.calculations.dropdown-content li:hover {
    background-color: #d5e1f2;
    cursor: pointer;
}
ul.yaxisGroups.dropdown-content li a:hover {
    background-color: #d5e1f2;
    cursor: pointer;
    width: 30px;
}
.yaxisChartGroup li a:hover {
    background-color: #d5e1f2;
    cursor: pointer;
}
ul.intervals.dropdown-content li a:hover {
    background-color: #d5e1f2;
}
ul.durations.dropdown-content li a:hover {
    background-color: #d5e1f2;
}
input.input.form-control.filterContainer:enabled {
    color: #333;
}
.pointRef.columnName.filterContainer {
    color: #333;
    margin-top: 10px;
}
.btn.dropdown-button.operatorButton {
    border: none;
}
.btn.dropdown-button.conditionButton {
    border: none;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 0px 18px 18px 0px;
    margin-left: 4px;
}
.btn.dropdown-button.conditionButton.orCondition {
    border-radius: 0px 9px 9px 0px;
}
span.caret.lm10px {
    margin-left: 3px;
}
.columnName:hover {
    cursor: pointer;
    text-decoration: #00B04F;
}
.btn:hover, .btn:focus, .btn.focus {
    color: #23527c;
    text-decoration: none;
}
a.tab {
    color: #ffffff;
}
.pointTypesFilter {
    padding-top: 12px;
}
.adjustPointTypesFilterButton {
    margin-top: 30px;
    margin-bottom: 50px;
    color: #fff !important;
}
.adjustPointTypesFilterButton:hover {
    color: #23527c !important;
}
.pointTypesFilter ul {
    display: flex;
    flex-wrap: wrap;
    width: 80vw !important;
    right: 30px;
    padding-top: 10px;
}
.pointTypesFilter ul li {
    clear: none;
    width: 20%;
    float: left;
}
.filled-in[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #607d8b;
    background-color: #607d8b;
}
.selectorNames .form-control {
    color: #607d8b;
}
.selectorNames label {
    color: #607d8b;
}
.selectorNames .input-field.col label.active{
    color: #607d8b;
    /*border-bottom: 1px solid #607d8b;*/
}
.selectorNames .form-control.readOnly {
    color: #607d8b;
    background-color: #fff;
}
div.input-field.col {
    padding-right: 10px;
}

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}
.displayDiv {
    display: inline-block;
}
.hideDiv {
    display: none !important;
}
.runReportSpinner {
    left: 45%;
    padding-top: 200px;
    position: relative;
    font-size: 18px;
}
.runReportChartSpinner {
    z-index: 5;
    left: 45%;
    padding-top: 200px;
    position: absolute;
    font-size: 18px;
}

i.iconLink {
    vertical-align: middle;
}
i.iconLink:hover {
    cursor: hand;
    cursor: pointer;
}
div.dt-button-collection {
    width: 117px !important;
}
div.dt-button-collection a div:hover {
    background-color: #d5e1f2 !important;
}
.tabViewReport .dataTables_length {
    margin-left: 260px;
    margin-top: -30px;
    font-weight: bold;
}
div.dataTables_wrapper div.dataTables_length select {
    width: 55px;
    padding: 3px 3px;
}
.firstColumn {
    min-width: 200px;
}
.firstColumn.datetime {
    min-width: 60px;
}
.columnName {
    display: inline-block;
    padding-left: 5px;
}
.columnNameContainer {
    min-width: 310px;
}
.columnTotals {
    width: 91px;
    min-width: 91px;
}
.columnTotals span {
    /*color: #565656;*/
}
.availableCalculations {
    display: inline-block;
}
.availableCalculations a {
    width: 70px;
    padding: 0px;
    height: 25px;
    line-height: 26px;
}
.availableCalculations a .text {
}
.availableTotalizerOperatorsContainer a {
    width: 80px;
    padding: 0px;
}
.availableTotalizerOperatorsContainer li a {
    width: 78px;
}
.availableTotalizerOperatorsContainer a .text {
}
.availableAxisGroupsContainer a {
    width: 31px;
    padding: 0px;
    height: 25px;
    line-height: 26px;
}
.availableAxisGroupsContainer a .text {
    margin-left: 2px;
}
.availableAxisGroupsContainer ul.dropdown-content {
    cursor: pointer;
    width: 50px !important;
    min-width: 30px !important;
}
.globalAvailableAxisGroupsContainer a {
    width: 31px;
    padding: 0px;
}
.globalAvailableAxisGroupsContainer a .text {
    margin-left: 2px;
}
.globalAvailableAxisGroupsContainer ul.dropdown-content {
    cursor: pointer;
    width: 30px;
    min-width: 34px;
    text-indent: 0px;
    margin-left: 11px;
    margin-top: -10px;
}
.availableGlobalAxisGroupsContainer {
}
.availableGlobalAxisGroupsContainer a.dropdown-button {
    width: 30px;
    padding-left: 10px;
    border-radius: 8px;
}
.availableGlobalAxisGroupsContainer ul.dropdown-content {
    width: 33px;
    min-width: 8px;
    margin-left: 7px;
    margin-top: -5px;
}
.availableGlobalAxisGroupsContainer ul.yaxisGroups li {
    padding: 0px;
}

.filterPointName {
    display: inline-block;
    margin-left: 4px;
}
.filterValue .pointreference {
    width: 400px;
}
.pointreference {
    margin-top: 9px;
}
.pointreference button.btn.btn-danger.btn-xs {
    margin-right: 3px;
}
.availablePropertiesContainer {
    display: inline-block;
}
.availableAxisGroupsContainer button.btn.btn-default.dropdown-button {
    width: 35px;
    padding: 6px 2px;
}
.precision {
    width: 60px;
}
.inputMultiplier {
    width: 50px !important;
    -webkit-appearance: none;
    padding: 2px 5px 2px 5px;
}
.inputMultiplier::-webkit-inner-spin-button,
.inputMultiplier::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input.form-control.inputPrecision {
    width: 30px;
    padding: 2px 2px 2px 5px;
}
.precisionColumn:hover {
    cursor: pointer;
}
.precisionColumn {
    width: 70px;
}
th .precisionColumn:focus {
    outline: none;
}
.includeInChart {
    width: 40px;
}
th .calculateColumn:hover {
    cursor: pointer;
}
th .calculateColumn:focus {
    outline: none;
}
.includeInChartColumn {
    width: 30px;
}
.includeInChartColumn:hover {
    cursor: pointer;
}
th .includeInChartColumn:hover {
    outline: none;
}
.includeInChartColumn.hideCheckbox {
    width: 40px;
    display: none;
}
.includeInChartColumn.showCheckbox {
    width: 40px;
    display: inline-block;
}
.includeInChartColumn > input {
    height: 14px;
    width: 14px;
    /*margin-left: 9px;*/
    margin-bottom: 10px;
}
th .includeInChartColumn {
    height: 34px;
}
.yaxisChartGroup {
    width: 32px;
    min-width: 20px;
    text-align: center;
}
ul.yaxisGroups.dropdown-content li a {
    padding: 3px 1px 3px 1px;
    text-align: -webkit-center;
}
input.form-control.globalPrecision {
    width: 30px;
    padding: 2px 2px 2px 5px;
}
input.form-control.globalIncludeInChart {
    width: 14px;
    margin-left: 7px;
}
.inputSearch {
    margin-left: 6px;
    width: 215px;
}
input.form-control.columnDisplayName {
    width: 281px;
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 4px;
    height: 1rem;
}
input.form-control.columnDisplayName:focus {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
input.form-control.inputMultiplier {
    padding-top: 7px;
    padding-bottom: 4px;
    height: 1rem;
}
input.form-control.inputMultiplier:focus {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
input.form-control.inputPrecision {
    padding-top: 7px;
    padding-bottom: 4px;
    height: 1rem;
}
input.form-control.inputPrecision:focus {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
input.form-control.globalPrecisionInput {
    height: 1rem;
    width: 35px;
}
input.form-control.globalPrecisionInput:focus {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
input[type=search]:focus:not([readonly]) {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
#pointName1:focus {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
#pointName1:focus:not([readonly])+label {
    color: #607d8b;
}
#pointName2:focus {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
#pointName2:focus:not([readonly])+label {
    color: #607d8b;
}
#pointName3:focus {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
#pointName3:focus:not([readonly])+label {
    color: #607d8b;
}
#pointName4:focus {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
#pointName4:focus:not([readonly])+label {
    color: #607d8b;
}
#reportTitleInput {
    width: 670px;
}
#reportTitleInput:focus {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
input.filled-in[type=number]:focus:not([readonly]) {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
#reportTitleInput:focus:not([readonly])+label {
    color: #607d8b;
}
.columnsGrid .handle {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGElEQVQIW2NkYGBIA+JZQMzACCJgAIUDACENAQR6zKpeAAAAAElFTkSuQmCC) repeat;
    width: 7px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    cursor: move;
    margin-right: 12px;
}
.filtersGrid .handle {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGElEQVQIW2NkYGBIA+JZQMzACCJgAIUDACENAQR6zKpeAAAAAElFTkSuQmCC) repeat;
    width: 7px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    cursor: move;
    margin-right: 5px;
}
.gridColumnConfigTable .handle {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGElEQVQIW2NkYGBIA+JZQMzACCJgAIUDACENAQR6zKpeAAAAAElFTkSuQmCC) repeat;
    width: 10px;
    vertical-align: middle;
    cursor: move;
    padding-right: 8px;
    margin-right: 2px;
}
.gridColumnConfigTable .columnItem {
    /*display: inline-flex;*/
}
.gridColumnConfigTable .displayName {
    position: relative;
    vertical-align: top;
}
.gridColumnConfigTable .displayName .deleteColumnLink{
    position: absolute;
    right: 0;
    bottom: 0;
}
.gridColumnConfigTable .displayName div.cellContent {
    display: inline-flex;
}
.gridColumnConfigTable .columnItem.globalConfigCell {
    display: block;
}
#editColumnModal .headerInfo {
    background-color: #f1f1f1;
    padding: 6px;
    border-radius: 4px;
}
#globalEditColumnModal .headerInfo {
    background-color: #f1f1f1;
    padding: 6px;
    border-radius: 4px;
}
.gridColumnConfigTable > thead > tr > th {
    border-top: 1px solid #CCC !important;
    border-left: 1px solid #CCC;
}
.gridColumnConfigTable > tbody > tr > td {
    border-left: 1px solid #CCC;
}
.gridColumnConfigTable > tfoot > tr > td {
    border-left: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
.gridColumnConfigTable th div.columnGlobalConfig {
    background-color: #607d8b;
    padding: 8px;
    border-radius: 3px;
    font-size: 1rem;
    color: white;
    margin-bottom: 10px;
}
.gridColumnConfigTable th div.columnGlobalConfig:hover {
    cursor: pointer;
}
.gridColumnConfigTable th div.columnGlobalConfig:hover label {
    cursor: pointer;
    color: #23527c;
}
.gridColumnConfigTable th div.columnGlobalConfig label {
    font-size: 1rem;
    color: white;
    white-space: normal;
}
.gridColumnConfigTable th div.columnNames {
    background-color: #607d8b;
    padding: 4px;
    border-radius: 3px;
    color: white;
}
.gridColumnConfigTable th div.columnNames:hover {
    cursor: pointer;
}
.gridColumnConfigTable th div.columnNames:hover label {
    cursor: pointer;
    color: #23527c;
}
.gridColumnConfigTable th div.columnNames label{
    font-size: 1rem;
    color: white;
    white-space: normal;
}
.gridColumnConfigTable th a.addColumnGridButton {
    background-color: white;
}
.columnsGrid th label {
    font-size: medium;
}
.columnsGrid tr.ui-sortable-helper {
    border: 2px solid #33B171 !important;
}
.columnsGrid tr.ui-sortable-helper input[type="text"] {
    width: 150px;
}
.columnsGrid tr.ui-sortable-helper a.span.removerow {
    display: none;
}
.viewReport.table > thead > tr > th  {
    padding: 3px;
}
.viewReport.table > tbody > tr > td  {
    padding: 3px;
}
.page-break {
    page-break-before: always;
    page-break-after: always;
}
.popover-title {
    background-color: #f5f5f5;
    /*color: #FFFFFF;*/
    /*font-size: 28px;*/
    text-align:center;
}
/* Popover Body */
.popover-content {
    /*background-color: coral;*/
    /*color: #FFFFFF;*/
    padding: 15px;
    white-space: pre-line;
}
.columnsGrid.table > thead > tr > th {
    border-bottom: 2px solid #CCC;
    padding: 4px;
    line-height: 34px;
}
.columnsGrid.table > tbody > tr > td {
    /*border-top: 1px solid #CCC;*/
    padding: 2px;
}
.columnsGrid.table > tbody.sortablecolums {
    border-bottom: 2px solid #CCC;
}
.filtersGrid.table > thead > tr > th {
    border-bottom: 2px solid #CCC;
    padding: 4px;
}
.filtersGrid.table > tbody > tr > td {
    border-top: 1px solid #CCC;
    padding: 4px;
}
.filtersGrid.table > tbody {
    border-top: 2px solid #CCC;
    border-bottom: 2px solid #CCC;
}
.filtersGrid tr.ui-sortable-helper {
    border: 2px solid #33B171 !important;
}
.filtersGrid tr.ui-sortable-helper input[type="text"] {
    width: 150px;
}
.filtersGrid tr.ui-sortable-helper a.span.removerow {
    display: none;
}
.availableChartTypes.chartTab {
    padding: 0px;
    height: 33px;
}
.availableChartTypes.chartTab > .btn {
    padding: 0px 14px 0px 8px;
    border-radius: 4px 0px 0px 4px;
    height: 36px;
}
.panel-heading a.panel-anchor:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.panel-anchor.collapsed:after {
    font-family:'Glyphicons Halflings';
    content:"\e080";
}
.hideRow {
    display: none;
}
.enumproperties {
    height: 300px;
    overflow: hidden;
    overflow-y: auto;
    padding-left: 7px;
}
.enumproperties li:hover{
    cursor: pointer;
}
.reporttype {
    margin-top: -14px;
    background-color: #fff;
    font-style: italic;
    font-size: 12px;
}
.reportTitle {
    background-color: #fff;
    border-top-right-radius: 7px;
    margin-top: 0px;
    text-align: center;
    padding: 15px 0px 10px 0px;
    margin-bottom: 0px;
}
.reporttitlediv {
    /*width: 74%;*/
}
.hideCell {
    display: none;
}
.gridData {
}
.chartData {
    /*margin-top: -18px;*/
}
td.filterCondition {
    width: 50px;
    background: #ECECEC;
    padding: 0px 3px 0 3px;
    border-top: none !important;
    border-bottom: none !important;
}
td.filterCondition.childCondition {
    padding-left: 25px !important;
}
td.filterCondition.firstConditionInGroup {
    -webkit-border-top-left-radius: 22px;
    -moz-border-radius-topleft: 22px;
    border-top-left-radius: 22px;
    -webkit-border-top-right-radius: 22px;
    -moz-border-radius-topright: 22px;
    border-top-right-radius: 22px;
    border-top: none !important;
    border-bottom: none !important;
    -webkit-box-shadow: 0px 5px 0px 0px #ECECEC, 0px 2px 28px 1px rgba(150, 169, 137, 0.46);
    -moz-box-shadow: 0px 5px 0px 0px #ECECEC, 0px 2px 28px 1px rgba(150, 169, 137, 0.46);
    box-shadow: 0px 5px 0px 0px #ECECEC, 0px 2px 28px 1px rgba(150, 169, 137, 0.46);
}
td.filterCondition.lastConditionInGroup {
    -webkit-border-bottom-left-radius: 22px;
    -moz-border-radius-bottomleft: 22px;
    border-bottom-left-radius: 22px;
    -webkit-border-bottom-right-radius: 22px;
    -moz-border-radius-bottomright: 22px;
    border-bottom-right-radius: 22px;
    border-top: none !important;
    border-bottom: none !important;
}
.sorthandle {
    width: 25px;
}
.screenMessages {
    /*margin-left: -20%;*/
    width: 120%;
}
button {
    margin-right: 5px;
}
.reportButtons {
    margin: -1px auto 46px auto;
    width: 325px;
    padding: 10px 1px 1px 1px;
}
.reportButtons .btn.btn-primary {
    margin: 1px;
}
.btn.btn-sm.btn-success {
    background-color: #08c;
}
.strikethrough {
    text-decoration:line-through
}
.softDeleted {
    color: red;
}

#schedule .labelColumn {
        color: #23527c;
        font-size: larger;
        width: 150px;
        float: left;
}
#schedule .contentColumn {
    float: left;
}
#schedule .contentColumn i {
    color: #607d8b;
}
#scheduleModal .input-field {
    white-space: nowrap;
    margin-right: 20px;
}
#scheduleModal .input-field:last-child {
    margin-right: 0px;
}
#scheduleModal .modal-footer .btn {
    float: none;
    margin-left: 18px;
}
.flex {
    display: flex;
}
.flex-center {
    align-items: center;
}
.flex-start {
    justify-content: flex-start;
}
