.leftBar {
    z-index: 5;
    padding: 0px 0px 10px 5px;
    position: absolute;
    width: 86px;
    height: 100%;
    color: #ffffff;
    border-right: 1px solid #ccc;
}
.leftBar a {
    /*padding-top: 0px;*/
}
.rightPanel {
    z-index: 0;
    padding: 0px 0px 5px 88px;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.rightPanel > div.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.reportDisplayFooter {
    display: inline-block;
    margin-right: 21px;
    vertical-align: super;
}
.durationCtrl {
    background-color: white;
    border: 1px solid #D0D0D0;
    border-radius: 3px;
    padding: 2px 8px 2px 2px;
    width: 150px;
    /*width: 100%;*/
    text-align: right;
}
.durationCtrl > input {
    width: 25px;
    text-align: right;
    padding: 3px;
    border: none;
    outline: none;
}
.durationCtrl > .timeSeg {
    font-size: x-small;
}
.durationCtrl.durationDisplay {
    text-align: right;
    padding: 3px 10px 3px 3px;
    /*border: none;*/
    outline: none;
}
.durationCtrl.durationDisplay > .timeSeg {
    padding-right: 4px;
}
.durationCtrl > input::-webkit-inner-spin-button,
.durationCtrl > input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
input.input.form-control.durationDateRange {
    width: 200px;
    padding-left: 26px;
}
input.input.form-control.durationDateRangeTime {
    width: 65px;
}
.durationError {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.reportDateRangePicker {
}
.reportDateRangePicker div.input-field {
    display: inline-flex;
}
.workingPane {
}
.leftBar .tabs li {
    padding: 6px 6px 6px 6px;
}
.leftBar .tabs li.active {
    background-color: #6b9355;
}
.leftBar .tabs li:hover {
    cursor: pointer;
    text-decoration: underline;
}
.viewReportNav {
    display: inline-flex;
    margin-right: 5px;
}
.viewReportNav li {
    margin-right: 5px;
}
.runReportTabSpinner {
    margin-left: 34px;
}
.runReportCheckMark {
    margin-left: 34px;
}
.reportDisplayTitle {
    margin-top: 2px;
}
.direports > body > ul.dt-button-collection.dropdown-menu {
    width: 100px;
    min-width: 90px;
    margin-left: 25px;
}
.direports > body > .dropdown-menu > li {
    cursor: pointer;
}
.direports > body > .dropdown-menu > li > a:hover {
    background-color: #d5e1f2;
}
.tableFooter {
    cursor: default;
    font-weight: bold;
}
.pointInstance {
    cursor: pointer;
}
.pointInstance:hover {
    background-color: #d5e1f2;
}
.removerow {
    cursor: pointer;
}
.availablePropertiesContainer {
    cursor: pointer;
}
.availableOperatorsContainer {
    cursor: pointer;
}
.availableIntervalsContainer {
    cursor: pointer;
    padding-left: 10px;
    margin-right: 7px;
    margin-top: 26px;
}
.availableDurationsContainer {
    cursor: pointer;
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
}
.intervalDurationSettings {
    display: -webkit-box;
    color: black;
}
span.durationSettings {
    margin-left: 292px;
    color: black;
}
span.durationLabel {
    color: black;
}
.durationSettings .checkbox input {
    margin-left: 5px;
}
input.durationCheckbox {
    margin-left: 8px;
    vertical-align: middle;
}
div.reportAttribs.tab-pane {
    padding-left: 1%;
    padding-top: 20px;
}
div.additionalFilters.tab-pane {
    padding-left: 5%;
    padding-top: 20px;
}
.hideDurationDropdown {
    display: none;
}
.durationCalendarIcon {
    left: -222px;
    top: 12px;
}
.timePickers {
    display: flex;
}
span.timePickerLabel {
    display: flex;
    align-items: center;
    color: black;
}

span.reportDateRangeLabel {
    display: flex;
    align-items: center;
    color: black;
    padding: 0px 3px 0px 3px;
}
input.intervalValue {
    padding-left: 5px;
    width: 65px;
}
span.intervalLabel {
    display: flex;
    align-items: center;
    color: black;
}

.intervalSettings {
    display: inline-flex;
}
.emptyColumn {
    width: 10px;
}
.filterOperator {
    width: 55px;
}
.dateTimeDate {
    width: 85px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.dateTimeTime {
    width: 50px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.pointLookupColumn {
    min-width: 270px;
}
.operators.dropdown-menu {
    min-width: 45px;
    width: 45px;
    text-indent: -13px;
    margin-left: 8px;
    margin-top: -2px;
}
.totalizerOperator {
    width: 115px;
}
.totalizerOperators.dropdown-menu {
    width: 80px;
    min-width: 80px;
    text-indent: 7px;
    margin-left: 15px;
    margin-top: -2px;
}
.calculations {
    list-style-type: none;
    width: 100px;
    -webkit-appearance: none;
    padding: 2px 5px 2px 5px;
}
.globalCalculations {
    list-style-type: none;
}
.calculations.dropdown-menu {
    width: 130px;
    min-width: 70px;
    text-indent: 7px;
    margin-left: 6px;
    margin-top: -8px;
    padding-top: 10px;
}
.chartTypes.dropdown-menu {
    width: 65px;
    min-width: 65px;
    text-indent: -13px;
    margin-left: 24px;
    margin-top: -2px;
}
.childCondition > .dropdown > .operators.dropdown-menu {
    min-width: 45px;
    width: 45px;
    text-indent: -13px;
    margin-left: 22px;
    margin-top: -2px;
}
.intervals.dropdown-menu {
    min-width: 85px;
    width: 85px;
    text-indent: 0px;
}
.addColumnGridButton {
    cursor: pointer;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: #607d8b;
}
.operator {
    cursor: pointer;
}
.filterContainer {
    cursor: pointer;
}
.condition {
    cursor: pointer;
}
.globallyChangedField {
    border: 2px solid lightskyblue;
}
.footerCalc:hover {
    color: #00B04F;
}
.footerCalc:hover:after {
    content: attr(data-title);
    border: 1px solid #cccccc;
    background-color: #efefef;
    position: relative;
    padding: 3px 8px;
    font-size: 14px;
    z-index: 9999;
    margin-left: 40px;
    margin-top: -30px;
    width: 130px;
}
td.filterName {
    width: 275px;
    padding-left: 20px !important;
}
.filterName.open:focus {
    border-color: #d5e1f2;
}
.nav-tabs > li > a:hover {
    background-color: #eceff1 !important;
}
.nav-tabs > li.active > a {
    background: none;
}
.tabConfiguration{
    padding-top: 0px;
    min-width: 850px;
}
.tabConfiguration ul.nav.nav-tabs {
    border-bottom: none;
}
.tabConfiguration ul.nav.nav-tabs li.active a {
    background-color: #fff !important;
}
.tabConfiguration .tab-content {
    background-color: #fff;
    border-radius: 0px 0px 7px 7px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
.tabViewReport {
    padding-top: 0px;
    min-width: 850px;
}
.tabViewReport ul.nav.nav-tabs {
    border-bottom: none;
}
.tabViewReport ul.nav.nav-tabs li.active a {
    border: 1px solid #416933;
}
.tabViewReport ul.nav.nav-tabs li a {
    padding: 1px 3px 1px 3px;
    border-radius: 4px 4px 4px 4px;
}
.tabViewReport .tab-content {
    background-color: #F5F5F5;
    border-radius: 0px 0px 7px 7px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 20px;
}
.tabViewReport div.dataTables_filter {
    margin-left: 243px;
    display: inline-block;
}
.tabViewReport .chartButtons {
    display: inline-flex;
    padding: 3px;
    margin-top: -6px;
    float: right;
}
.tabViewReport .chartButtons a.btn.btn-default {
    padding: 0px 7px 0px 9px;
    border-radius: 0px 4px 4px 0px;
    height: 33px;
    margin-top: 2px;
}
.tabViewReport .chartButtons i.fa-print {
    padding-right: 3px;
}
#reportAttribs {
    overflow-y: auto;
}
#reportColumns {
    overflow-y: auto;
}
#gridColumnConfig {
    overflow-x: auto;
}
#filterByPoint {
    overflow-y: auto;
}
#additionalFilters {
    overflow-y: auto;
}
#chartSettings {
    overflow-y: auto;
}
ul.filterValues.dropdown-menu {
    min-width: 60px;
}
ul.enumproperties.dropdown-menu li a:hover {
    background-color: #d5e1f2;
}
ul.filterValues.dropdown-menu li a:hover {
    background-color: #d5e1f2;
}
ul.operators.dropdown-menu li a:hover {
    background-color: #d5e1f2;
}
ul.totalizerOperators.dropdown-menu li a:hover {
    background-color: #d5e1f2;
    cursor: pointer;
}
ul.calculations.dropdown-menu li:hover {
    background-color: #d5e1f2;
    cursor: pointer;
}
ul.yaxisGroups.dropdown-menu li a:hover {
    background-color: #d5e1f2;
    cursor: pointer;
    width: 30px;
}
.yaxisChartGroup li a:hover {
    background-color: #d5e1f2;
    cursor: pointer;
}
ul.intervals.dropdown-menu li a:hover {
    background-color: #d5e1f2;
}
ul.durations.dropdown-menu li a:hover {
    background-color: #d5e1f2;
}
input.input.form-control.filterContainer:enabled {
    color: #333;
}
.pointRef.columnName.filterContainer {
    color: #333;
    margin-top: 10px;
}
.btn-flat.dropdown-toggle.operatorButton {
    border: none;
}
.btn-flat.dropdown-toggle.conditionButton {
    border: none;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 0px 18px 18px 0px;
    margin-left: 4px;
}
.btn-flat.dropdown-toggle.conditionButton.orCondition {
    border-radius: 0px 9px 9px 0px;
}
span.caret.lm10px {
    margin-left: 3px;
}
.columnName:hover {
    cursor: pointer;
    text-decoration: #00B04F;
}
.btn:hover, .btn:focus, .btn.focus {
    color: #23527c;
    text-decoration: none;
}
a.tab {
    color: #ffffff;
}
a.clearName {
    cursor: pointer;
}
a.clearName i {
    margin-left: -24px;
}
.pointTypesFilter {
    padding-top: 12px;
}
.adjustPointTypesFilterButton {
    margin-top: 30px;
    margin-bottom: 50px;
    color: #fff !important;
}
.adjustPointTypesFilterButton:hover {
    color: #23527c !important;
}
.pointTypesFilter ul {
    display: flex;
    flex-wrap: wrap;
    width: 80vw !important;
    right: 30px;
    padding-top: 10px;
}
.pointTypesFilter ul li {
    clear: none;
    width: 20%;
    float: left;
}
.filled-in[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #607d8b;
    background-color: #607d8b;
}
.selectorNames .form-control {
    color: #607d8b;
}
.selectorNames label {
    color: #607d8b;
}
.selectorNames .input-field.col label.active{
    color: #607d8b;
    /*border-bottom: 1px solid #607d8b;*/
}
.selectorNames .form-control.readOnly {
    color: #607d8b;
    background-color: #fff;
}
div.input-field.col {
    padding-right: 10px;
}

html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}
/*body {
    padding-top: 5px;
    padding-right: 5px;
}*/
.displayDiv {
    display: inline-block;
}
.hideDiv {
    display: none;
}
.runReportSpinner {
    left: 45%;
    padding-top: 200px;
    position: relative;
    font-size: 18px;
}
.runReportChartSpinner {
    z-index: 5;
    left: 45%;
    padding-top: 200px;
    position: absolute;
    font-size: 18px;
}

i.iconLink {
    vertical-align: middle;
}
i.iconLink:hover {
    cursor: hand;
    cursor: pointer;
}
.dataTables_length {
    display: inline-block;
    margin-left: 50px;
}
div.dataTables_wrapper div.dataTables_length select {
    width: 55px;
    padding: 3px 3px;
}
.firstColumn {
    min-width: 200px;
}
.firstColumn.datetime {
    min-width: 60px;
}
.columnName {
    display: inline-block;
    padding-left: 5px;
}
.columnNameContainer {
    min-width: 310px;
}
.columnTotals {
    width: 91px;
    min-width: 91px;
}
.columnTotals span {
    /*color: #565656;*/
}
.availableCalculations {
    display: inline-block;
}
.dropdown.availableCalculations a {
    width: 81px;
    padding: 0px;
}
.dropdown.availableCalculations a .text {
}
.dropdown.availableTotalizerOperatorsContainer a {
    width: 88px;
    padding: 0px;
}
.dropdown.availableTotalizerOperatorsContainer li a {
    width: 78px;
}
.dropdown.availableTotalizerOperatorsContainer a .text {
}
.dropdown.availableAxisGroupsContainer a {
    width: 31px;
    padding: 0px;
}
.dropdown.availableAxisGroupsContainer a .text {
    margin-left: 2px;
}
.dropdown.availableAxisGroupsContainer ul.dropdown-menu {
    cursor: pointer;
    width: 30px;
    min-width: 34px;
    text-indent: 10px;
    margin-left: 11px;
    margin-top: -10px;
}
.dropdown.globalAvailableAxisGroupsContainer a {
    width: 31px;
    padding: 0px;
}
.dropdown.globalAvailableAxisGroupsContainer a .text {
    margin-left: 2px;
}
.dropdown.globalAvailableAxisGroupsContainer ul.dropdown-menu {
    cursor: pointer;
    width: 30px;
    min-width: 34px;
    text-indent: 0px;
    margin-left: 11px;
    margin-top: -10px;
}
.dropdown.availableGlobalAxisGroupsContainer {
}
.dropdown.availableGlobalAxisGroupsContainer a.dropdown-button {
    width: 30px;
    padding-left: 10px;
    border-radius: 8px;
}
.dropdown.availableGlobalAxisGroupsContainer ul.dropdown-menu {
    width: 33px;
    min-width: 8px;
    margin-left: 7px;
    margin-top: -5px;
}
.dropdown.availableGlobalAxisGroupsContainer ul.yaxisGroups li {
    padding: 0px;
}

.filterPointName {
    display: inline-block;
    margin-left: 4px;
}
.filterValue .pointreference {
    width: 400px;
}
.pointreference {
    margin-top: 9px;
}
.pointreference button.btn.btn-danger.btn-xs {
    margin-right: 3px;
}
.availablePropertiesContainer {
    display: inline-block;
}
.availableAxisGroupsContainer button.btn.btn-default.dropdown-toggle {
    width: 35px;
    padding: 6px 2px;
}
.precision {
    width: 60px;
}
.inputMultiplier {
    width: 50px !important;
    -webkit-appearance: none;
    padding: 2px 5px 2px 5px;
}
.inputMultiplier::-webkit-inner-spin-button,
.inputMultiplier::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input.form-control.inputPrecision {
    width: 30px;
    padding: 2px 2px 2px 5px;
}
.precisionColumn:hover {
    cursor: pointer;
}
.precisionColumn {
    width: 70px;
}
.includeInChart {
    width: 40px;
}
th .calculateColumn:hover {
    cursor: pointer;
}
.includeInChartColumn {
    width: 30px;
}
.includeInChartColumn:hover {
    cursor: pointer;
}
.includeInChartColumn.hideCheckbox {
    width: 40px;
    display: none;
}
.includeInChartColumn.showCheckbox {
    width: 40px;
    display: inline-block;
}
.includeInChartColumn > input {
    height: 14px;
    width: 14px;
    /*margin-left: 9px;*/
    margin-bottom: 10px;
}
th .includeInChartColumn {
    height: 34px;
}
.yaxisChartGroup {
    width: 32px;
    min-width: 20px;
    text-align: center;
}
ul.yaxisGroups.dropdown-menu li a {
    padding: 3px 1px 3px 1px;
    text-align: -webkit-center;
}
input.form-control.globalPrecision {
    width: 30px;
    padding: 2px 2px 2px 5px;
}
input.form-control.globalIncludeInChart {
    width: 14px;
    margin-left: 7px;
}
.inputSearch {
    margin-left: 6px;
    width: 215px;
}
input.form-control.columnDisplayName {
    width: 281px;
    display: inline-block;
    padding-top: 7px;
    height: 1rem;
}
input.form-control.columnDisplayName:focus {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
input.form-control.inputMultiplier {
    padding-top: 7px;
    height: 1rem;
}
input.form-control.inputMultiplier:focus {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
input.form-control.inputPrecision {
    padding-top: 7px;
    height: 1rem;
}
input.form-control.inputPrecision:focus {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
input.form-control.globalPrecisionInput {
    height: 1rem;
    width: 35px;
}
input.form-control.globalPrecisionInput:focus {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
input[type=search]:focus:not([readonly]) {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
#pointName1:focus {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
#pointName1:focus:not([readonly])+label {
    color: #607d8b;
}
#pointName2:focus {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
#pointName2:focus:not([readonly])+label {
    color: #607d8b;
}
#pointName3:focus {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
#pointName3:focus:not([readonly])+label {
    color: #607d8b;
}
#pointName4:focus {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
#pointName4:focus:not([readonly])+label {
    color: #607d8b;
}
#reportTitleInput:focus {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
input.filled-in[type=number]:focus:not([readonly]) {
    border-bottom: 1px solid #607d8b;
    box-shadow: 0 1px 0 0 #607d8b;
}
#reportTitleInput:focus:not([readonly])+label {
    color: #607d8b;
}
.columnsGrid .handle {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGElEQVQIW2NkYGBIA+JZQMzACCJgAIUDACENAQR6zKpeAAAAAElFTkSuQmCC) repeat;
    width: 7px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    cursor: move;
    margin-right: 12px;
}
.filtersGrid .handle {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGElEQVQIW2NkYGBIA+JZQMzACCJgAIUDACENAQR6zKpeAAAAAElFTkSuQmCC) repeat;
    width: 7px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    cursor: move;
    margin-right: 5px;
}
.gridColumnConfigTable .handle {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGElEQVQIW2NkYGBIA+JZQMzACCJgAIUDACENAQR6zKpeAAAAAElFTkSuQmCC) repeat;
    width: 10px;
    vertical-align: middle;
    cursor: move;
    padding-right: 8px;
    margin-right: 2px;
}
.gridColumnConfigTable .columnItem {
    /*display: inline-flex;*/
}
.gridColumnConfigTable .displayName {
    position: relative;
    vertical-align: top;
}
.gridColumnConfigTable .displayName .deleteColumnLink{
    position: absolute;
    right: 0;
    bottom: 0;
}
.gridColumnConfigTable .displayName div.cellContent {
    display: inline-flex;
}
.gridColumnConfigTable .columnItem.globalConfigCell {
    display: block;
}
#editColumnModal .headerInfo {
    background-color: #f1f1f1;
    padding: 6px;
    border-radius: 4px;
}
#globalEditColumnModal .headerInfo {
    background-color: #f1f1f1;
    padding: 6px;
    border-radius: 4px;
}
.gridColumnConfigTable > thead > tr > th {
    border-top: 1px solid #CCC !important;
    border-left: 1px solid #CCC;
}
.gridColumnConfigTable > tbody > tr > td {
    border-left: 1px solid #CCC;
}
.gridColumnConfigTable > tfoot > tr > td {
    border-left: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
.gridColumnConfigTable th div.columnGlobalConfig {
    background-color: #607d8b;
    padding: 8px;
    border-radius: 3px;
    font-size: 1rem;
    color: white;
    margin-bottom: 10px;
}
.gridColumnConfigTable th div.columnGlobalConfig:hover {
    cursor: pointer;
}
.gridColumnConfigTable th div.columnGlobalConfig:hover label {
    cursor: pointer;
    color: #23527c;
}
.gridColumnConfigTable th div.columnGlobalConfig label {
    font-size: 1rem;
    color: white;
    white-space: normal;
}
.gridColumnConfigTable th div.columnNames {
    background-color: #607d8b;
    padding: 4px;
    border-radius: 3px;
    color: white;
}
.gridColumnConfigTable th div.columnNames:hover {
    cursor: pointer;
}
.gridColumnConfigTable th div.columnNames:hover label {
    cursor: pointer;
    color: #23527c;
}
.gridColumnConfigTable th div.columnNames label{
    font-size: 1rem;
    color: white;
    white-space: normal;
}
.gridColumnConfigTable th a.addColumnGridButton {
    background-color: white;
}
.columnsGrid tr.ui-sortable-helper {
    border: 2px solid #33B171 !important;
}
.columnsGrid tr.ui-sortable-helper input[type="text"] {
    width: 150px;
}
.columnsGrid tr.ui-sortable-helper a.span.removerow {
    display: none;
}
.viewReport.table > thead > tr > th  {
    padding: 3px;
}
.viewReport.table > tbody > tr > td  {
    padding: 3px;
}
.page-break {
    page-break-before: always;
    page-break-after: always;
}
.popover-title {
    background-color: #f5f5f5;
    /*color: #FFFFFF;*/
    /*font-size: 28px;*/
    text-align:center;
}
/* Popover Body */
.popover-content {
    /*background-color: coral;*/
    /*color: #FFFFFF;*/
    padding: 15px;
    white-space: pre-line;
}
.columnsGrid.table > thead > tr > th {
    border-bottom: 2px solid #CCC;
    padding: 4px;
    line-height: 34px;
}

.columnsGrid.table > tbody > tr > td {
    border-top: 1px solid #CCC;
    padding: 2px;
}
.columnsGrid.table > tbody.sortablecolums {
    border-bottom: 2px solid #CCC;
}
.filtersGrid.table > thead > tr > th {
    border-bottom: 2px solid #CCC;
    padding: 4px;
}
.filtersGrid.table > tbody > tr > td {
    border-top: 1px solid #CCC;
    padding: 4px;
}
.filtersGrid.table > tbody {
    border-top: 2px solid #CCC;
    border-bottom: 2px solid #CCC;
}
.filtersGrid tr.ui-sortable-helper {
    border: 2px solid #33B171 !important;
}
.filtersGrid tr.ui-sortable-helper input[type="text"] {
    width: 150px;
}
.filtersGrid tr.ui-sortable-helper a.span.removerow {
    display: none;
}
.chartSettingsGrid.table > thead > tr > th {
    border-bottom: 2px solid #CCC;
    padding: 4px;
}
.chartSettingsGrid.table > tbody > tr > td {
    border-top: 1px solid #CCC;
    padding: 4px;
}
.chartSettingsGrid.table > tbody {
    border-bottom: 2px solid #CCC;
}
.availableChartTypes.chartTab {
    padding: 0px;
    height: 33px;
}
.availableChartTypes.chartTab > .btn {
    padding: 0px 14px 0px 8px;
    border-radius: 4px 0px 0px 4px;
    height: 36px;}
.panel-heading a.panel-anchor:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.panel-anchor.collapsed:after {
    font-family:'Glyphicons Halflings';
    content:"\e080";
}
.hideRow {
    display: none;
}
.enumproperties {
    height: 300px;
    overflow: hidden;
    overflow-y: auto;
    padding-left: 7px;
}
.enumproperties li:hover{
    cursor: pointer;
}
.reporttype {
    margin-top: -14px;
    background-color: #fff;
    font-style: italic;
    font-size: 12px;
}
.reportTitle {
    background-color: #fff;
    border-top-right-radius: 7px;
    margin-top: 0px;
    text-align: center;
    padding: 15px 0px 10px 0px;
    margin-bottom: 0px;
}
.reporttitlediv {
    /*width: 74%;*/
}
.hideCell {
    display: none;
}
td.filterCondition {
    width: 50px;
    background: #ECECEC;
    padding: 0px 3px 0 3px;
    border-top: none !important;
    border-bottom: none !important;
}
td.filterCondition.childCondition {
    text-indent: 15px;
    padding-left: 12px;
    padding-right: 10px;
}
td.filterCondition.firstConditionInGroup {
    -webkit-border-top-left-radius: 22px;
    -moz-border-radius-topleft: 22px;
    border-top-left-radius: 22px;
    -webkit-border-top-right-radius: 22px;
    -moz-border-radius-topright: 22px;
    border-top-right-radius: 22px;
    border-top: none !important;
    border-bottom: none !important;
    -webkit-box-shadow: 0px 5px 0px 0px #ECECEC, 0px 2px 28px 1px rgba(150, 169, 137, 0.46);
    -moz-box-shadow: 0px 5px 0px 0px #ECECEC, 0px 2px 28px 1px rgba(150, 169, 137, 0.46);
    box-shadow: 0px 5px 0px 0px #ECECEC, 0px 2px 28px 1px rgba(150, 169, 137, 0.46);
}
td.filterCondition.lastConditionInGroup {
    -webkit-border-bottom-left-radius: 22px;
    -moz-border-radius-bottomleft: 22px;
    border-bottom-left-radius: 22px;
    -webkit-border-bottom-right-radius: 22px;
    -moz-border-radius-bottomright: 22px;
    border-bottom-right-radius: 22px;
    border-top: none !important;
    border-bottom: none !important;
}
.sorthandle {
    width: 25px;
}
.screenMessages {
    /*margin-left: -20%;*/
    width: 120%;
}
button {
    margin-right: 5px;
}
.cursorPointer {
    cursor: pointer;
}
.reportButtons {
    margin: -1px auto 46px auto;
    width: 325px;
    padding: 5px 1px 1px 1px;
}
.reportButtons .btn.btn-primary {
    margin: 1px;
}
.btn.btn-sm.btn-success {
    background-color: #08c;
}
.popInOutDiv {
    width: 75px;
}
.pop {
    display: -webkit-box;
    margin-top: -65px;
    margin-left: 6px;
}
.pop .fa {
    margin-right: 5px;
}
.pop .fa-arrow-circle-up {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.pop .fa-arrow-circle-down {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.strikethrough {
    text-decoration:line-through
}
.softDeleted {
    color: red;
}
