#modal-scheduleReport.modal.fade(data-refresh='true')
    form#scheduleReportForm(method='POST')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4.modal-title Schedule Report Delivery Via Email
                .modal-body
                            .container
                                .row.well-sm
                                    .form-group
                                        label.col-sm-4.control-label(for="runEvery") Frequency
                                        .col-sm-8
                                            input#runEvery
                                .row#runDayRow.well-sm
                                    .form-group
                                        label.col-sm-4.control-label(for="runEvery") Day(s)
                                        //.col-sm-2
                                            input#runDay.form-control
                                        .col-sm-8
                                            //#runDayDays
                                            #runDayWeek
                                                .checkbox
                                                    label Sunday
                                                        input(type="checkbox" value="Sunday" name="runDay")
                                                .checkbox
                                                    label Monday
                                                        input(type="checkbox" value="Monday" name="runDay")
                                                .checkbox
                                                    label Tuesday
                                                        input(type="checkbox" value="Tuesday" name="runDay")
                                                .checkbox
                                                    label Wednesday
                                                        input(type="checkbox" value="Wednesday" name="runDay")
                                                .checkbox
                                                    label Thursday
                                                        input(type="checkbox" value="Thursday" name="runDay")
                                                .checkbox
                                                    label Friday
                                                        input(type="checkbox" value="Friday" name="runDay")
                                                .checkbox
                                                    label Saturday
                                                        input(type="checkbox" value="Saturday" name="runDay")
                                .row.well-sm
                                    .form-group
                                        label.col-sm-4.control-label(for="runTime") Schedule Time
                                        .col-sm-8
                                            input#runTime(required, name="runTime", data-required-msg="Run time is required field.")
                                .row.well-sm
                                    .form-group
                                        label.col-sm-4.control-label(for="sendEmailsTo") Send Emails To
                                        .col-sm-8
                                            input#sendEmailsTo(name="sendEmailsTo")
                                            //input#reportType(type="hidden")
                                .row.well-sm
                                    .col-sm-10
                                        #errorMessage.alert-danger
                                .row.well-sm
                                    .col-sm-10
                                        #successMessage.alert-success
                .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary#submitScheduleReport(type='submit') Submit

//script(src='/js/lib/jquery.validate.min.js')
//script(src='/js/lib/jquery.blockUI.js')
//script(src='/js/report/MultiSelectDropDownList.js')
script(src='/js/reports/scheduleReport.js')