/* OVERRIDES */
/* bootstrap-datepicker.css */
.datepicker.dropdown-menu {
    max-width: 275px;
}

/* bootstrap modal*/
#pointFilterModal .modal-dialog {
    min-width: 1000px;
}

#userFilterModal .modal-body {
    min-width: 600px;
}

#userFilterModal .modal-body .header .colUserName {
    /*width: 332px*/
}
/* Global page styles */
body {
    color: #333;
    /*font-family: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;*/
    /*font-size: 13px;*/
    background-color: #ccc;
    margin: 0;
    height: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    line-height: 1.55;
}

tr {
    border-bottom: 1px solid #ccc;
    cursor: default;
}

td {
    height: 28px;
    padding-left: 5px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.span.selectable.colPointName {
    color: #333;
    cursor: pointer;
    -webkit-user-select: text;
    text-decoration: none;
}

a.span.selectable.colPointName:hover {
    color: #428bca;
    background: #FFC;
}

/* General purpose syles */
.scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
}

.noScroll {
    overflow: hidden;
}

.clearBoth {
    clear: both;
}

.cursorPointer {
    cursor: pointer;
}

.cursorDefault {
    cursor: default;
}

.noSelect {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */

    -o-user-select: none;
    user-select: none;

    cursor: default;
}

.selectable {
    -webkit-user-select: text; /* Chrome all / Safari all */
    -moz-user-select: text; /* Firefox all */
    -ms-user-select: text; /* IE 10+ */

    -o-user-select: text;
    user-select: text;
}

.thinScroll::-webkit-scrollbar {
    width: 7px;
}

.thinScroll::-webkit-scrollbar-track {
    background-color: #FFF;
}

.thinScroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #CCC;
}

/* Title bar */
.titleBar {
    position: absolute;
    top: 5px;
    left: 20px;
}

.titleBar .title {
    display: inline-block;
    margin-right: 40px;
}

.titleBar .title > span {
    text-transform: uppercase;
    color: #666;
    font-size: 30px;
}

.titleBar .filterIcon {
    color: #666;
    position: relative;
    display: inline-block;
    font-size: 30px;
    margin-right: 15px;
}

.titleBar .resetFilter {
    margin-right: 20px;
    cursor: pointer;
    font-size: 15px;
}

#filters {
    color: #333;
    min-width: 925px;
}

.filterContainer {
    float: left;
    margin-bottom: 5px;
}

.filterContainer:not(:last-child) {
    margin-right: 20px;
}

.filterContainer.withBorder {
    line-height: 28px;
    border: 1px solid #CCC;
    border-radius: 3px;
}

.fa-refresh {
    cursor: pointer;
}

.filterContainer .filterIcon i {
    font-size: 18px;
    position: relative;
    top: -7px;
}

#timeDateFilters .filterIcon i {
    margin-left: 5px;
}

#userFilters .filterIcon i {
    margin-left: 5px;
}

.filterContainer .filterIcon:hover, .filterContainer .filterIcon.open, .filterContainer .filterActive {
    color: #428bca;
}

.filterContainer .inputError {
    border-color: red;
}

.filterContainer .filterError {
    color: red;
}

.filterIcon.fa-pause {
    font-size: 18px;
    position: relative;
    top: 7px;
}

.filled-in[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #607d8b;
    background-color: #607d8b;
}

input.date, input.time {
    margin: 10px 0;
}

#timeDateFilters .dropdown-menu {
    margin-left: 105px;
}

#userFilters .dropdown-menu {
    margin-left: 50px;
    width: 300px;
}

.dropdown-toggle {
    color: #666;
    font-size: 28px;
    cursor: pointer;
}

.dropdown-toggle-filter-set {
    color: #428bca;
    font-size: 28px;
    cursor: pointer;
}

/* activitylog Content */
#activitylogContainer {
    position: absolute;
    top: 70px;
    right: 20px;
    bottom: 20px;
    left: 20px;
}

#activitylogContainer .mask {
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    bottom: 20px;
    background-color: #FFF;
    z-index: 500;
    opacity: 0.75;
}

#activitylogContainer .pages {
    position: absolute;
    bottom: -13px;
    width: 100%;
}

.header > div {
    float: left;
    background-color: #eee;
    color: #999;
    border: 1px solid #ccc;
    padding-left: 5px;
    height: 30px;
}

.header .colSelect {
    cursor: pointer;
    /*width: 32px;*/
}

.header .colSelect label {
    top: 4px;
}

.colPhoto {
    padding-top: 7px;
    width: 10px;
}

.colUserName {
    text-align: left;
    width: 75px;
    min-width: 65px;
    padding-right: 5px;

}

.colPointName {
    width: 205px;
    min-width: 175px;
    padding-right: 5px;
}

.colLog2 {
    width: 150px;
    min-width: 150px;
    padding-right: 5px;
}

.colClass {
    width: 95px;
    min-width: 95px;
}

.colTime {
    width: 140px;
    min-width: 140px;
}

.colTime > i {
    position: relative;
    top: 3px;
    right: 5px;
}

.colDisp {
    width: 45px;
    text-align: center;
}

.colDisp > i {
    position: relative;
    left: -2px;
}

td.colDisp > i {
    color: #428bca;
    top: 2px;
    font-size: 16px;
}

.header .colTime {
    cursor: pointer;
}

.header .colPhoto {
    padding-top: 0px;
    width: 55px;
}

.header .colLog {
    float: none;
}

.msgText {
    cursor: pointer;
    padding: 0 2px;
}

.msgText:hover {
    text-decoration: underline;
}

.activityLogs {
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    bottom: 20px;
    min-height: 27px;
    overflow: auto;
}

.activitylogs::-webkit-scrollbar {
    width: 10px;
}

.activitylogs::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3); */
    background-color: #FFF;
    /*width: 12px;*/
}

.activitylogs::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #CCC;
    /*-webkit-box-shadow: inset 0 0 6px rgba(204,204,204,1); */
}

.bodyMask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 999;
}

.content {
    position: absolute;
    top: 60px;
    bottom: 20px;
    right: 20px;
    left: 20px;
    /*min-width: 400px;*/
    overflow: hidden;
    background-color: #FFF;
    padding: 20px;
    border-radius: 3px;
}

.resizer {
    position: absolute;
    top: 0;
    right: -8px;
    bottom: 0;
    /*left: auto;*/
    width: 16px;
    cursor: col-resize;
}