html {
    overflow: hidden;
}

/* Global page styles */
body {
    color: #333;
    /*background-color: #ccc;*/
}

table {
    table-layout: fixed;
}

tr {
    border-bottom: 1px solid #ccc;
    cursor: default;
}

td {
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.span.selectable.colPointName {
    color: #333;
    cursor: pointer;
    -webkit-user-select: text;
    text-decoration: none;
}

a.span.selectable.colPointName:hover {
    color: #428bca;
    background: #FFC;
}

/* General purpose syles */
.scrollable {
    overflow-y: scroll;
    overflow-x: scroll;
}

.selectable {
    -webkit-user-select: text; /* Chrome all / Safari all */
    -moz-user-select: text; /* Firefox all */
    -ms-user-select: text; /* IE 10+ */

    -o-user-select: text;
    user-select: text;
}

.thinScroll::-webkit-scrollbar {
    width: 7px;
}

.thinScroll::-webkit-scrollbar-track {
    background-color: #FFF;
}

.thinScroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #CCC;
}

.filterInfo {
    margin-left: 5%;
}

.filterInfo .filterIcon {
    color: #666;
    display: inline-block;
    font-size: 30px;
    margin-right: 15px;
}

#filters .resetFilter {
    margin-right: 20px;
    cursor: pointer;
    font-size: 15px;
}

#filters {
    display: flex;
    color: #333;
    min-width: 400px;
}

[class*="flex-container"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

[class*="flex-container"] > div:nth-of-type(5) {
    margin-left: auto;
}

.filterContainer {
    float: left;
    margin-bottom: 5px;
}

.filterContainer:not(:last-child) {
    margin-right: 20px;
}

.filterContainer.withBorder {
    line-height: 28px;
    border: 1px solid #CCC;
    border-radius: 3px;
}

.fa-refresh {
    cursor: pointer;
}

#dateTimeFilterModal {
    min-height: 600px;
}

.filterContainer .filterIcon i {
    font-size: 18px;
    top: -7px;
}

#timeDateFilters .filterIcon i {
    margin-left: 5px;
}

#userFilters .filterIcon i {
    margin-left: 5px;
}

.filterContainer .filterIcon:hover, .filterContainer .filterIcon.open, .filterContainer .filterActive {
    color: #428bca;
}

.filterContainer .inputError {
    border-color: red;
}

.filterContainer .filterError {
    color: red;
}

.filled-in[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #607d8b;
    background-color: #607d8b;
}

input.date, input.time {
    margin: 10px 0;
}

.dropdown-toggle {
    color: #666;
    font-size: 28px;
    cursor: pointer;
}

.dropdown-toggle-filter-set {
    color: #428bca;
    font-size: 28px;
    cursor: pointer;
}

#activitylogContainer {
    margin-top: 15px;
}

#activitylogContainer .mask {
    top: 20px;
    right: 0;
    left: 0;
    bottom: 20px;
    background-color: #FFF;
    z-index: 500;
    opacity: 0.75;
}

#activitylogContainer .pages {
    /*position: absolute;*/
    /*bottom: -13px;*/
    /*width: 100%;*/
}

.header > div {
    float: left;
    background-color: #eee;
    color: #999;
    border: 1px solid #ccc;
    padding-left: 5px;
    height: 30px;
}

.header .colSelect {
    cursor: pointer;
}

.header .colSelect label {
    top: 4px;
}

.colPhoto {
    padding-top: 7px;
    width: 10px;
}

.colUserName {
    text-align: left;
    width: 75px;
    min-width: 65px;
    padding-right: 5px;
}

.colPointName {
    width: 205px;
    min-width: 175px;
    padding-right: 5px;
}

.colTime {
    width: 140px;
    min-width: 140px;
}

.colTime > i {
    top: 3px;
    right: 5px;
}

.header .colTime {
    cursor: pointer;
}

.header .colPhoto {
    padding-top: 0px;
    width: 55px;
}

.header .colLog {
    float: none;
}

.msgText {
    cursor: pointer;
    padding: 0 2px;
}

.msgText:hover {
    text-decoration: underline;
}

.activityLogs {
    overflow: auto;
}

.activitylogs::-webkit-scrollbar {
    width: 10px;
}

.activitylogs::-webkit-scrollbar-track {
    background-color: #FFF;
}

.activitylogs::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #CCC;
}

.bodyMask {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 999;
}

.content {
    overflow: hidden;
    background-color: #FFF;
    padding: 20px;
    height: calc(100% - 42px) !important;
}

.resizer {
    /*position: absolute;*/
    top: 0;
    right: -8px;
    bottom: 0;
    width: 16px;
    cursor: col-resize;
}