#userFilterModal.modal.dtiModal.modal-fixed-header.modal-fixed-footer.blue-grey-form.fade(data-refresh='true')
    .modal-header
        .modalTitle Filter by User
    .modal-content
        .row.tableHeader
            .col.s1.checkName
                input.medium.filled-in(data-bind="checkedValue: $data, checked: checkAllNames, attr: { id: 'checkForAllNames' }", type="checkbox")
                label.blue-grey-text(data-bind="attr: { for: 'checkForAllNames' }")
            .col.s1.photo
                div Photo
            .col.s10.user
                div User
        .tablebody.thinScroll(data-bind="foreach: filteredUsers()")
            .row(data-bind="click: $root.selectRow, css: { selectedRow: $data.isSelected  }")
                .col.s1.checkName
                    input.medium.filled-in(data-bind="click: function () { return $root.userFilterClick($element, $index()) }, checked: $data.isSelected, attr: { id: 'userSelected_' + $index()}", type="checkbox")
                    label.blue-grey-text(data-bind="attr: { for: 'userSelected_' + $index()}")
                .col.s1.photo
                    img(data-bind='attr: { src: "/img/client/users/" + (Photo.Value.length > 0 ? Photo.Value : "userLarge.png")}', style='width: 24px;margin-right: 8px;float: left;position: relative;top: -6px;')
                .col.s10.user
                    span.selectable(data-bind="text: username")
    .modal-footer
        .btn.waves-effect.waves-light.blue-grey.closeIt(data-bind="click: clearUsernameFilter") Clear
        .btn.waves-effect.waves-light.blue-grey.closeIt(data-bind="click: applyUserNameFilter, css: { disabled : !dirtyUsernameFilter() }") OK
