<div class="dataField">
  <label>Policies</label>
</div>
<div class="row">
  <div class="col col-xs-6 col-sm-3" style="margin-bottom:5px; margin-top:10px">
    <input class="switch" type="checkbox" data-bind="checked: false, enable: isInEditMode()">
    <label class="policyChecks">First</label>
  </div>
  <div class="col col-xs-6 col-sm-3" style="margin-bottom:5px; margin-top:10px">
    <input class="switch" type="checkbox" data-bind="checked: false, enable: isInEditMode()">
    <label class="policyChecks">Second</label>
  </div>
</div>
