<div class="dataField">
  <label>Policies</label>
</div>
<!-- ko foreach:policies() -->
<div class="row">
    <div class="col col-xs-6 col-sm-3" style="margin-bottom:5px; margin-top:10px">
      <input class="switch" type="checkbox" data-bind="checked: policyOnPoint, click:$parent.togglePolicy.bind($parent, $data), enable: $root.isInEditMode(), attr: { id: 'pid'+$index() }">
      <label class="policyChecks" data-bind="text:$data.name, attr: { for: 'pid'+$index() }"/>
    </div>
</div>
<!-- /ko -->
